.RadAutoCompleteBox_Vista {
  color: #000000;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadAutoCompleteBox_Vista .racTokenList,
  .RadAutoCompleteBox_Vista .racStringList {
    border-color: #e2e3ea;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Vista .racToken {
    border-color: #e3e9ef;
    border-radius: 3px;
    color: black;
    background-color: #dddddd;
    background-image: url('../Common/Gradients/lightSmoothTile.png');
    _background-image: none;
    background-position: 0 -20px;
    background-repeat: repeat-x; }
  .RadAutoCompleteBox_Vista .racTokenHovered {
    border-color: #3c7fb1;
    color: black;
    background-color: #bee6fd;
    background-position: 0 -20px; }
  .RadAutoCompleteBox_Vista .racTokenSelected {
    border-color: #3c7fb1;
    color: black;
    background-color: #d8e0e5;
    background-position: 0 -20px; }
  .RadAutoCompleteBox_Vista .racRemoveTokenLink {
    background-image: url('../Common/AutoCompleteBox/racActionsSprite.png');
    background-position: -2px -2px; }
  .RadAutoCompleteBox_Vista .racInput {
    color: #000000;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }

.RadAutoCompleteBoxPopup_Vista {
  border: 1px solid #c6c7d2;
  color: #000000;
  background-color: #ffffff;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadAutoCompleteBoxPopup_Vista .racHeader,
  .RadAutoCompleteBoxPopup_Vista .racFooter {
    border-color: #c6c7d2;
    background-color: #ffffff; }
  .RadAutoCompleteBoxPopup_Vista .racItemHovered {
    color: #ffffff;
    background-color: #3399ff; }

