/* Editor/ToolBarSprites.gif */

/* RadEditor for ASP.NET AJAX Vista Skin */

.Vista.RadEditor
{
    background-color: #c2dcf0;
}

/* reWrapper */
.Vista.reWrapper
{
    border: solid 1px #9cb6c5;
}

.Vista .reContentCell
{
    border: solid 1px #9db6c5;
}

/* common settings for .reModule, .reEditorModes and .reWrapper */
.Vista.reColorPicker,
.Vista.reInsertTable,
.Vista.reDropDownBody,
.Vista.reCustomLinks a:hover
{
	border: solid 1px #979797;
}

.Vista.reDropDownBody table
{
    background: transparent;
}

.Vista .reModule,
.Vista .reEditorModes,
.Vista .reWrapper
{
	background-color: #c2dcf0;
}

/*NEW: Only in the Bottom zone - where the Statistics module is commonly set, remove uppper border, because it looks ugly*/
.Vista .reBottomZone .reModule
{
    border-top: 0;
}


.Vista .reModule
{
    border-top: solid 1px #9cb6c5;  
}

.Vista.reCustomLinks a
{
    border: solid 1px #fff; /* should be the same as the background of the dropdown */
    color: black !important;
}

.Vista.reCustomLinks a:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -325px;
    background-repeat: repeat-x;
    border: solid 1px #a6d9f4;
}
/* end of module */

.Vista .reToolbar li
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -26px;
    color: #000;
}

.Vista .reSpinBox a
{
    background-image: url('Editor/ToolBarSprites.gif');
    -moz-user-select: none;
    outline: none;
}

/* separator */
.Vista .reToolbar.Vista .reSeparator
{
    background-position: center -148px;
    background-image: url('Editor/ToolBarSprites.gif');
}

/* common settings for left and right grip */
.Vista .reToolbar.Vista .reGrip
{
	background-image: url('Editor/ToolBarSprites.gif');
}

/* reTool */
.Vista .reTool span,
.RadWindow_Vista .reTool span,
.RadForm_Vista .reTool span
{
    background-image: url('../Common/CommandSpritesLight.png');
}

/* IE6 does not support PNG alpha channel, so we use gifs for the command sprites instead */
* html .Vista .reTool span,
* html .Vista .reTool_text span,
* html .Vista .reTlbVertical .reTool_text span,
* html .Vista .reToolbar .reSplitButton.reTool_text span
{
    _background-image: url('../Common/CommandSpritesLightIE6.gif');
}

.Vista .reDialog .reTool,
.Vista .reModule .reTool
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -242px;
}

.Vista .reDialog .reTool:hover,
.Vista .reToolbar .reTool:hover,
.Vista .reModule .reTool:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -52px;
}

.Vista .reToolbar .reTool.reTool_selected,
.Vista .reToolbar .reTool.reTool_selected:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -124px;
    background-repeat: no-repeat;
}

/* .reTool_text */
.Vista .reToolbar .reTool_text span
{
    background-image: url('../Common/CommandSpritesLight.png');
}

.Vista .reToolbar .reTool_text:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-repeat: repeat-x;
    background-position: 0 -100px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #3c7fb1;
    border-right: solid 1px #3c7fb1;
}

.Vista .reToolbar .reTool_text.reTool_selected,
.Vista .reToolbar .reTool_text.reTool_selected:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-repeat: repeat-x;
    background-position: 0 -174px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #3c7fb1;
    border-right: solid 1px #3c7fb1;
}

/* these settings will not be included in the common CSS file of RadEditor */
.Vista .reToolbar .reTool_text.reTool_disabled,
.Vista .reToolbar .reTool_text.reTool_disabled:hover
{
    margin-left: 0;
    margin-right: 0;
    border: 0;
}
/* end of reTool_text */

.Vista .reTool.reSplitButton:hover
{
    background: url('Editor/ToolBarSprites.gif') no-repeat 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vista .reToolbar .reTool.reSplitButton:hover
{
    background: url('Editor/ToolBarSprites.gif') no-repeat 0 -76px;
}

.Vista .reTool .split_arrow
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: -28px -362px;
}

.Vista .reSplitButton.reTool_text .split_arrow
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vista .reToolbar .reTool_text .split_arrow
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vista .reToolbar .reTool_text:hover
{
    background: url('Editor/ToolBarSprites.gif');
    background-position: 0 -100px;
}

.Vista .reDialog .reTool.reSplitButton,
.Vista .reModule .reTool.reSplitButton
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -218px;
}

.Vista .reDialog .reTool.reSplitButton:hover,
.Vista .reModule .reTool.reSplitButton:hover
{
    background-position: 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vista .reToolbar .reTool.reSplitButton.reTool_disabled:hover
{
    background: none;
}
/* end of reSplitButton */

/* reDropdown */
.Vista .reDropdown:link,
.Vista .reDropdown:visited
{
    color: black !important;
}

.Vista .reDropdown,
.Vista .reTool_disabled.reDropdown:hover
{
    border-top: solid 1px #abadb3;
    border-right: solid 1px #dbdfe6;
    border-bottom: solid 1px #e3e9ef;
    border-left: solid 1px #e2e3ea;
    background-color: #fff;
    background-image: url('Editor/ToolBarSprites.gif') !important;
    background-position: right -360px !important;
}

.Vista .reDropdown:hover
{
    border: solid 1px #3c7fb1;
    background-image: url('Editor/ToolbarVerticalSprites.gif') !important;
    background-position: right 0 !important;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vista .reTool_disabled.reDropdown
{
    background-image: url('Editor/ToolBarSprites.gif')t;
    background-position: right -380px;
    background-repeat: no-repeat;
}
/* end of reDropdown */

/* vertical toolbar */
.RadEditor.Vista .reTlbVertical li
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-repeat: repeat-y;
    background-position: -26px 0;
}

.RadEditor.Vista .reTlbVertical .reToolbar.Default .reGrip
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
}

.RadEditor.Vista .reTlbVertical .reToolbar.Vista .grip_first
{
    background-position: 0 0;
}

.RadEditor.Vista .reTlbVertical .reToolbar.Vista .grip_last
{
    background-position: 0 -4px;
}

.RadEditor.Vista .reTlbVertical .reToolbar.Vista .reSeparator
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -99px -12px;
}

.Vista .reTlbVertical .reTool:hover,
.Vista .reTlbVertical .reTool_text.reSplitButton:hover,
.Vista .reTlbVertical .reTool_text:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -76px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vista .reTlbVertical .reTool_text:hover
{
	background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-repeat: no-repeat;
    background-position: -76px 0;
}

.Vista .reTlbVertical .reTool.reTool_selected,
.Vista .reTlbVertical .reTool_text.reTool_selected,
.Vista .reTlbVertical .reTool_text.reTool_selected:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -52px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vista .reTlbVertical .reSplitButton:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -76px 0;
    background-repeat: no-repeat;
}
/* end of vertical toolbar */

.Vista.reDropDownBody .reTlbVertical ul li a:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -602px 0;
}

/* InsertTable itself is a kind of tool strip, so it must be styled as a toolstrip */
.Vista.reInsertTable
{
    background-color: #f0f0f0;
}

.Vista.reDropDownBody .reTlbVertical .reToolbar
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-color: #f0f0f0;
    background-position: -125px 0;
}
/* end of context menu and toolstrip */

/* spinbox */
.Vista table.reSpinBox
{
	border-top: solid 1px #abadb3;
	border-right: solid 1px #dbdfe6;
	border-bottom: solid 1px #e3e9ef;
	border-left: solid 1px #e2e3ea;
	background: white;
}

.Vista table.reSpinBox:hover
{
    border-top: solid 1px #5794bf;
	border-right: solid 1px #b7d5ea;
	border-bottom: solid 1px #c7e2f1;
	border-left: solid 1px #b7d5ea;
}

.Vista .reSpinBoxIncrease
{
	background-position: 0 -198px;
}

.Vista .reSpinBoxIncrease:hover
{
	background-position: 0 -208px;
}

.Vista .reSpinBoxDecrease
{
	background-position: -11px -198px;
}

.Vista .reSpinBoxDecrease:hover
{
	background-position: -11px -208px;
}
/* end of spinbox */

/* editor input elements */
.Vista.RadEditor input
{
	border-top: solid 1px #abadb3;
	border-right: solid 1px #dbdfe6;
	border-bottom: solid 1px #e3e9ef;
	border-left: solid 1px #e2e3ea;
	background-color: white;
}

.Vista.RadEditor input:hover
{
    border-top: solid 1px #5794bf;
	border-right: solid 1px #b7d5ea;
	border-bottom: solid 1px #c7e2f1;
	border-left: solid 1px #b7d5ea;
}
/* editor input elements */

/* editing modes */
.Vista .reMode_selected
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -948px 0;
}

.Vista .reEditorModes .reMode_design span,
.Vista .reEditorModes .reMode_selected.reMode_design span
{
	background-position: -6px -5px;
}

.Vista .reEditorModes .reMode_html span,
.Vista .reEditorModes .reMode_selected.reMode_html span
{
	background-position: -6px -36px;
}

.Vista .reEditorModes .reMode_preview span,
.Vista .reEditorModes .reMode_selected.reMode_preview span
{
	background-position: -6px -69px;
}
/* end of editing modes */

/* DOM inspector */
.Vista .reModule_domlink_selected,
.Vista .reModule_domlink
{
    color: black;
}
/* end of DOM inspector */

.Vista.reDropDownBody .reItemOver
{
	background: #86c7e9;
	color: #000;
}
/* end of expanded dropdowns */

* html .Vista .reTool_selected.reTool
{
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

/* color picker */
.Vista.reColorPicker table div
{
	border: solid 1px #c5c5c5;
}

.Vista.reColorPicker table td.reItemOver div
{
	border-color: #000;
}

.Vista.reColorPicker span
{
	border: solid 1px #c5c5c5;
}
/* end of color picker */

/* ajax spellchecker */
.Vista .reAjaxspell_button
{
    border: solid 1px #3c7fb1;
    background: #c2dcf0;
    color: #3c7fb1;
}

.Vista .reAjaxSpellCheckSuggestions table
{
    border-width: 0;
    width: 100%;
}

.Vista .reAjaxSpellCheckSeparator
{
    background-color: #979797;
}
/* ajax spellchecker */

/* custom links */
.Vista.reCustomLinks,
.Vista.reCustomLinks ul
{
	color: #000;
}

.Vista.reCustomLinks a,
.Vista.reCustomLinks a:link,
.Vista.reCustomLinks a:visited
{
    background: none transparent;
    color: #000 !important;
	cursor: default !important;
}
/* end of custom links */

/* insert table dropdown */
.Vista.reInsertTable table
{
    background: #f0f0f0;
}

.Vista.reInsertTable table td
{
    border: solid 1px #9cb6c5;
    background: white;
}

.Vista.reInsertTable .reTlbVertical ul
{
    background-color: #f0f0f0;
}

.Vista.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text,
.Vista.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:link
.Vista.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:visited
{
    color: black !important;
    background: transparent none;
    _background: none !important;
}

.Vista.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:hover
{
    background: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -1403px 0;
}

.Vista.reInsertTable .reTlbVertical ul .reTool_text span
{
    background-image: url('../Common/CommandSpritesLight.png');
    background-position: -3575 center;
}

.Vista.reInsertTable .reToolbar li .reTool:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -52px;
}
/* end of insert table dropdown */

/* modules selector */
.Vista .reModule_visible_icon,
.Vista .reModule_hidden_icon
{
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url('../Common/CommonIcons.gif');
	background-repeat: no-repeat;
}

.Vista .reModule_visible_icon
{
	background-position: -8px -199px;
}

.Vista .reModule_hidden_icon
{
	background-position: -8px -103px;
	
}
/* end of modules selector */

/* resize cell */
.Vista .reResizeCell div
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: center -301px;
}

/* the rule below styles RadWindow's content cell, which is used in the floating and show on focus toolbar modes */
.RadWindow_Vista.reToolbarWindow td.rwWindowContent
{
    background-color: #c2dcf0;
}

.RadWindow_Vista .reInsertTableLightWrapper .lightTable 
{
	border-color: #E0E0E0;
}

/* Popup Comments */

.Vista .reCommentEdit,
.Vista .reCommentTextArea,
.Vista .reCommentView,
.Vista .reCommentInfoPanel
{
	border-color: #000;
	background-color: #cce4fc;
}

.Vista .reCommentTitle,
.Vista .reCommentInfoPanel
{
	color: #000;
}

.Vista .reCommentTextArea 
{
	border-color: #abadb3 #dbdfe6 #dbdfe6;
	background-color: #fff;
}
.RadEditor.Vista .reCommentButton,
.Vista .rePopupButtonContainer .rePopupButton
{
	border-color: #707070;
	color: #000;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #f3f3f3 25%, #ececec 50%, #dddddd 75%, #d2d2d2 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f3f3f3 25%, #ececec 50%, #dddddd 75%, #d2d2d2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f3f3f3 25%, #ececec 50%, #dddddd 75%, #d2d2d2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f3f3f3 25%, #ececec 50%, #dddddd 75%, #d2d2d2 100%); /* IE10+ */
	background: linear-gradient(top, #f3f3f3 25%, #ececec 50%, #dddddd 75%, #d2d2d2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-8 */
}

.RadEditor.Vista .reCommentButton:hover,
.Vista .rePopupButtonContainer .rePopupButton:hover
{
	border-color: #3c7fb1;
	color: #000;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #e8f5fd 25%, #dbf1fc 50%, #bee6fd 75%, #abdcf7 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #e8f5fd 25%, #dbf1fc 50%, #bee6fd 75%, #abdcf7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8f5fd 25%, #dbf1fc 50%, #bee6fd 75%, #abdcf7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8f5fd 25%, #dbf1fc 50%, #bee6fd 75%, #abdcf7 100%); /* IE10+ */
	background: linear-gradient(top, #e8f5fd 25%, #dbf1fc 50%, #bee6fd 75%, #abdcf7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f5fd', endColorstr='#abdcf7',GradientType=0 ); /* IE6-8 */
}

.RadEditor.Vista .reCommentButton:active,
.Vista .rePopupButtonContainer .rePopupButton:active
{
	color: #000;
	border-color: #c28b31;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #eff2f4 25%, #eaeef0 50%, #d8e0e5 75%, #ced7dd 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #eff2f4 25%, #eaeef0 50%, #d8e0e5 75%, #ced7dd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eff2f4 25%, #eaeef0 50%, #d8e0e5 75%, #ced7dd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eff2f4 25%, #eaeef0 50%, #d8e0e5 75%, #ced7dd 100%); /* IE10+ */
	background: linear-gradient(top, #eff2f4 25%, #eaeef0 50%, #d8e0e5 75%, #ced7dd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff2f4', endColorstr='#ced7dd',GradientType=0 ); /* IE6-8 */
}

/* Commnet popups */
.Vista.rePopupContainer 
{
	border-color: #000;
	background-color: #cce4fc;
}

.Vista.rePopupContainer .rePopupTitle
{
	color: #000;
	border-color: #000;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #c8dff5 0%, #cae1f8 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #c8dff5 0%, #cae1f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c8dff5 0%, #cae1f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c8dff5 0%, #cae1f8 100%); /* IE10+ */
	background: linear-gradient(top, #c8dff5 0%, #cae1f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8dff5', endColorstr='#cae1f8',GradientType=0 ); /* IE6-8 */
}