

/*========================================= Toolbar related CSS ========================*/

.RadFileExplorer_Vista .RadToolBar .rtbText
{
	background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
	background-repeat: no-repeat;
}

/* IE6 does not support the alpha channel of png files, so we force it to use gif */
* html .RadFileExplorer_Vista .RadToolBar .rtbText
{
	background-image: url('FileExplorer/FileExplorerToolbarSpritesIE6.gif') !important;
}

.RadFileExplorer_Vista, 
.RadFileExplorer_Vista .rfeAddressBox,
.RadFileExplorer_Vista .rfeFilterTxt
{
	border-color: #2c628b;
}

.DialogSeparator
{
    border-left: solid 1px #a7bac5;
    border-right: solid 1px #2c628b;
    background-color: #94cfee;
}

/* Overwrites padding for better presentation and space saving */
.RadFileExplorer_Vista .RadGrid .rgRow td, 
.RadFileExplorer_Vista .RadGrid .rgAltRow td, 
.RadFileExplorer_Vista .RadGrid .rgEditRow td, 
.RadFileExplorer_Vista .RadGrid .rgFooter td 
{
padding-left: 8px;
padding-right: 8px;
}

/* Thumbnail view */
.RadFileExplorer_Vista .rfeThumbList a:hover,
.RadFileExplorer_Vista .rfeThumbList .rfeSelectedLink,
.RadFileExplorer_Vista .rfeThumbList .rfeSelectedLink:hover
{
	background-image: url('../Common/Gradients/vista_smoothSprite_20.png');
	background-color: #d9f0fc;
	border-color:#dff3fd;
}

.RadFileExplorer_Vista .rfeThumbList .rfeSelectedLink,
.RadFileExplorer_Vista .rfeThumbList .rfeSelectedLink:hover 
{
	background-color: #aeddf5;
	border-color: #d2eefb;
}

/* Thumbnail filter */
.RadFileExplorer_Vista .rfeFilterContainer
{
	background-image: url('../Common/Gradients/vista_smoothSprite_20.png');
	background-color: #c5ddf3;
}