/*Telerik RadPivotGrid Vista Skin*/
/*global*/
.RadPivotGrid_Vista {
  border: 1px solid #9cb6c5;
  background: white;
  color: black;
  font-size: 12px;
  line-height: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Pager */
  /* filter */
  /* Expand and Collaps Buttons */ }
  .RadPivotGrid_Vista th,
  .RadPivotGrid_Vista td {
    border-left: 1px solid #9cb6c5;
    border-bottom: 1px solid #9cb6c5; }
  .RadPivotGrid_Vista td:first-child[collspan] {
    border-left: 0 none; }
  .RadPivotGrid_Vista .rpgPagePrev,
  .RadPivotGrid_Vista .rpgPageNext,
  .RadPivotGrid_Vista .rpgPageFirst,
  .RadPivotGrid_Vista .rpgPageLast,
  .RadPivotGrid_Vista .rpgFilterZone,
  .RadPivotGrid_Vista .rpgRowsZone,
  .RadPivotGrid_Vista .rpgColumnsZone,
  .RadPivotGrid_Vista .rpgDataZone,
  .RadPivotGrid_Vista .rpgColumnHeader,
  .RadPivotGrid_Vista .rpgColumnHeaderTotal,
  .RadPivotGrid_Vista .rpgColumnHeaderGrandTotal,
  .RadPivotGrid_Vista .rpgContentZoneDiv th,
  .RadPivotGrid_Vista .rpgNumPart a:hover,
  .RadPivotGrid_Vista .rpgNumPart a:hover span,
  .RadPivotGrid_Vista .rpgNumPart a.rpgCurrentPage,
  .RadPivotGrid_Vista .rpgNumPart a.rpgCurrentPage span,
  .RadPivotGrid_Vista .rpgSortAsc,
  .RadPivotGrid_Vista .rpgSortDesc,
  .RadPivotGrid_Vista .rpgExpand,
  .RadPivotGrid_Vista .rpgCollapse,
  .RadPivotGrid_Vista .rpgFieldItem {
    background-image: url('PivotGrid/sprite.png'); }
  .RadPivotGrid_Vista .rpgContentZoneDiv td {
    border-color: #e2e3ea; }
  .RadPivotGrid_Vista .rpgRowHeaderZoneDiv {
    background-color: #a6d9f4; }
  .RadPivotGrid_Vista .rpgRowTotalDataCell,
  .RadPivotGrid_Vista .rpgColumnTotalDataCell,
  .RadPivotGrid_Vista .rpgRowGrandTotalDataCell,
  .RadPivotGrid_Vista .rpgColumnGrandTotalDataCell {
    background-color: #ededed; }
  .RadPivotGrid_Vista .rpgRowTotalDataCell {
    border-bottom-color: #c1c6cb; }
  .RadPivotGrid_Vista .rpgRowHeaderTotal {
    background-color: #5f9fbf; }
  .RadPivotGrid_Vista .rpgRowTotalDataCell.rpgColumnTotalDataCell {
    background-color: #cccccc; }
  .RadPivotGrid_Vista .rpgFilterZone,
  .RadPivotGrid_Vista .rpgRowsZone,
  .RadPivotGrid_Vista .rpgColumnsZone,
  .RadPivotGrid_Vista .rpgDataZone,
  .RadPivotGrid_Vista .rpgColumnHeader,
  .RadPivotGrid_Vista .rpgColumnHeaderTotal,
  .RadPivotGrid_Vista .rpgColumnHeaderGrandTotal,
  .RadPivotGrid_Vista .rpgContentZoneDiv th {
    background-color: #a6d9f4;
    background-position: 0 -2000px;
    background-repeat: repeat-x; }
  .RadPivotGrid_Vista th.rpgColumnHeader,
  .RadPivotGrid_Vista th.rpgColumnHeaderTotal {
    border-color: #e7f4fc #d0e8f6 #3c7fb1 #8bbdde;
    border-right-width: 1px;
    border-right-style: solid;
    color: black; }
  .RadPivotGrid_Vista .rpgPager {
    background-color: #eff7fc;
    color: black; }
  .RadPivotGrid_Vista .rpgInfoPart {
    color: black; }
  .RadPivotGrid_Vista .rpgPageFirst {
    margin: 0 3px 0 0;
    background-position: 0 -240px; }
  .RadPivotGrid_Vista .rpgPageFirst:hover {
    background-position: 0 -290px; }
  .RadPivotGrid_Vista .rpgPagePrev {
    margin: 0 3px 0 0;
    background-position: 0 -390px; }
  .RadPivotGrid_Vista .rpgPagePrev:hover {
    background-position: 0 -440px; }
  .RadPivotGrid_Vista .rpgPageNext {
    margin: 0 0 0 3px;
    background-position: 0 -540px; }
  .RadPivotGrid_Vista .rpgPageNext:hover {
    background-position: 0 -590px; }
  .RadPivotGrid_Vista .rpgPageLast {
    margin: 0 0 0 3px;
    background-position: 0 -690px; }
  .RadPivotGrid_Vista .rpgPageLast:hover {
    background-position: 0 -740px; }
  .RadPivotGrid_Vista .rpgPager .rpgPagerButton {
    border-color: #a4abb2;
    background: #f0f0f0;
    color: black;
    font-size: 12px;
    line-height: 16px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadPivotGrid_Vista .rpgNumPart a:hover,
  .RadPivotGrid_Vista .rpgNumPart a:hover span,
  .RadPivotGrid_Vista .rpgNumPart a.rpgCurrentPage,
  .RadPivotGrid_Vista .rpgNumPart a.rpgCurrentPage span {
    background-repeat: no-repeat; }
  .RadPivotGrid_Vista .rpgNumPart a {
    color: #3b3b3b; }
  .RadPivotGrid_Vista .rpgNumPart a:hover {
    background-position: 100% -940px;
    color: #000; }
  .RadPivotGrid_Vista .rpgNumPart a:hover span {
    background-position: 0 -840px; }
  .RadPivotGrid_Vista .rpgNumPart a.rpgCurrentPage,
  .RadPivotGrid_Vista .rpgNumPart a.rpgCurrentPage:hover {
    background-position: 100% -1140px; }
  .RadPivotGrid_Vista .rpgNumPart a.rpgCurrentPage span,
  .RadPivotGrid_Vista .rpgNumPart a.rpgCurrentPage:hover span {
    background-position: 0 -1040px; }
  .RadPivotGrid_Vista .rpgFieldItem {
    background-color: #e3e2e2;
    background-position: 0 -1400px;
    background-repeat: repeat-x;
    border-color: #9e9e9e; }
  .RadPivotGrid_Vista .rpgFieldItem,
  .RadPivotGrid_Vista .rpgFieldItem a {
    color: black; }
  .RadPivotGrid_Vista .rpgSortAsc,
  .RadPivotGrid_Vista .rpgSortDesc {
    vertical-align: middle;
    margin-left: 2px; }
  .RadPivotGrid_Vista .rpgSortDesc {
    background-position: 4px -47px; }
  .RadPivotGrid_Vista .rpgSortAsc {
    background-position: 4px -91px; }
  .RadPivotGrid_Vista .rpgExpand,
  .RadPivotGrid_Vista .rpgCollapse {
    background-position: 2px -137px;
    background-repeat: no-repeat; }
  .RadPivotGrid_Vista .rpgExpand {
    background-position: 4px -183px; }

.PivotGridReorderTop_Vista,
.PivotGridReorderBottom_Vista {
  height: 12px;
  background: url('PivotGrid/sprite.png') no-repeat 0 -1240px; }

.PivotGridReorderBottom_Vista {
  background-position: 0 -1290px; }
