/* RadEditor for ASP.NET AJAX Default Skin */

.Default.RadEditor
{
    background-color: #ececec;
}

/* reWrapper */
.Default.reWrapper
{
    border: solid 1px #828282;
}

.Default.RadEditor .reContentCell
{
    border: solid 1px #828282;
}

/* common settings for .reModule, .reEditorModes and .reWrapper */
.Default.reColorPicker,
.Default.reInsertTable,
.Default.reDropDownBody,
.Default.reCustomLinks a:hover
{
	border: solid 1px #828282;
}

.Default.reDropDownBody table
{
    background: transparent;
}

.Default.RadEditor .reModule,
.Default.RadEditor .reEditorModes,
.Default.RadEditor .reWrapper
{
	background-color: #ececec;
}

/*NEW: Only in the Bottom zone - where the Statistics module is commonly set, remove uppper border, because it looks ugly*/
.Default.RadEditor .reBottomZone .reModule
{
    border-top: 0;
}

.Default.RadEditor .reModule
{
    border-top: solid 1px #828282;  
}

.Default.reCustomLinks a,
.Default.reCustomLinks a:link,
.Default.reCustomLinks a:visited
{
    border: solid 1px #fff; /* should be the same as the background of the dropdown */
    color: black !important;
}

.Default.reCustomLinks a:hover
{
    background-color: #828282;
    border-top: solid 1px #8d8d8d;
    border-right: solid 1px #717171;
    border-bottom: solid 1px #6c6c6c;
    border-left: solid 1px #7a7a7a;
}
/* end of module */

.Default .reToolbar li
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -26px;
    color: #000;
}

.Default .reSpinBox a
{
    background-image: url('Editor/ToolbarSprites.gif');
    -moz-user-select: none;
    outline: none;
}

/* separator */
.reToolbar.Default .reSeparator
{
    background-position: center -148px;
    background-image: url('Editor/ToolbarSprites.gif');
}

/* common settings for left and right grip */
.reToolbar.Default .reGrip
{
	background-image: url('Editor/ToolbarSprites.gif');
}

/* reTool */
.Default .reTool span,
.RadWindow_Default .reTool span,
.RadForm_Default .reTool span
{
    background-image: url('../Common/CommandSpritesLight.png');
}

/* IE6 does not support PNG alpha channel, so we use gifs for the command sprites instead */
* html .Default .reTool span,
* html .Default .reTool_text span,
* html .Default .Default .reTlbVertical .reTool_text span,
* html .reToolbar .reSplitButton.reTool_text span
{
    _background-image: url('../Common/CommandSpritesLightIE6.gif');
}

.Default .reDialog .reTool,
.Default .reModule .reTool
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -242px;
}

.Default .reDialog .reTool:hover,
.Default .reToolbar .reTool:hover,
.Default .reModule .reTool:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -52px;
}

.Default .reToolbar .reTool.reTool_selected,
.Default .reToolbar .reTool.reTool_selected:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -124px;
    background-repeat: no-repeat;
}

/* .reTool_text */
.Default .reToolbar .reTool_text span
{
    background-image: url('../Common/CommandSpritesLight.png');
}

.Default .reToolbar .reTool_text:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-repeat: repeat-x;
    background-position: 0 -100px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #878787;
    border-right: solid 1px #878787;
}

.Default .reToolbar .reTool_text.reTool_selected,
.Default .reToolbar .reTool_text.reTool_selected:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-repeat: repeat-x;
    background-position: 0 -174px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #878787;
    border-right: solid 1px #878787;
}

/* these settings will not be included in the common CSS file of RadEditor */
.Default .reToolbar .reTool_text.reTool_disabled,
.Default .reToolbar .reTool_text.reTool_disabled:hover
{
    margin-left: 0;
    margin-right: 0;
    border: 0;
}
/* end of reTool_text */

.Default .reTool.reSplitButton:hover
{
    background: url('Editor/ToolbarSprites.gif') no-repeat 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Default .reToolbar .reTool.reSplitButton:hover
{
    background: url('Editor/ToolbarSprites.gif') no-repeat 0 -76px;
}

.Default .reTool .split_arrow
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: -28px -362px;
}

.Default .reSplitButton.reTool_text .split_arrow
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Default .reToolbar .reTool_text .split_arrow
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Default .reToolbar .reTool_text:hover
{
    background: url('Editor/ToolbarSprites.gif');
    background-position: 0 -100px;
}

.Default .reDialog .reTool.reSplitButton,
.Default .reModule .reTool.reSplitButton
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -218px;
}

.Default .reDialog .reTool.reSplitButton:hover,
.Default .reModule .reTool.reSplitButton:hover
{
    background-position: 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Default .reToolbar .reTool.reSplitButton.reTool_disabled:hover
{
    background: none;
}
/* end of reSplitButton */

/* reDropdown */
.Default .reDropdown:link,
.Default .reDropdown:visited
{
    color: black !important;
}

.Default .reDropdown,
.Default .reTool_disabled.reDropdown:hover
{
    border: solid 1px #ababab;
    background-color: #fff;
    background-image: url('Editor/ToolbarSprites.gif') !important;
    background-position: right -360px !important;
}

.Default .reDropdown:hover
{
    border-top: solid 1px #d1d1d1;
    border-right: solid 1px #d1d1d1;
    border-bottom: solid 1px #a3a3a3;
    border-left: solid 1px #a3a3a3;
    background-image: url('Editor/ToolbarVerticalSprites.gif') !important;
    background-position: right 0 !important;
}

/* add weight to the selector for IE6 so it is applied */
* html .Default .reTool_disabled.reDropdown
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: right -380px;
    background-repeat: no-repeat;
}
/* end of reDropdown */

/* vertical toolbar */
.Default .RadEditor.Default .reTlbVertical li
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-repeat: repeat-y;
    background-position: -26px 0;
}

.RadEditor.Default .reTlbVertical .reToolbar.Default .reGrip
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
}

.RadEditor.Default .reTlbVertical .reToolbar.Default .grip_first
{
    background-position: 0 0;
}

.RadEditor.Default .reTlbVertical .reToolbar.Default .grip_last
{
    background-position: 0 -4px;
}

.RadEditor.Default .reTlbVertical .reToolbar.Default .reSeparator
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -100px -12px;
}

.Default .reTlbVertical .reTool:hover,
.Default .reTlbVertical .reTool_text.reSplitButton:hover,
.Default .reTlbVertical .reTool_text:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -76px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .Default .reTlbVertical .reTool_text:hover
{
	background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-repeat: no-repeat;
    background-position: -76px 0;
}

.Default .reTlbVertical .reTool.reTool_selected,
.Default .reTlbVertical .reTool_text.reTool_selected,
.Default .reTlbVertical .reTool_text.reTool_selected:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -52px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .Default .reTlbVertical .reSplitButton:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -76px 0;
    background-repeat: no-repeat;
}
/* end of vertical toolbar */

.Default.reDropDownBody .reTlbVertical ul li a:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -602px 0;
}

/* InsertTable itself is a kind of tool strip, so it must be styled as a toolstrip */
.Default.reDropDownBody .reTlbVertical .reToolbar
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-color: #fff;
}
/* end of context menu and toolstrip */

/* spinbox */
.Default table.reSpinBox
{
	border-top: solid 1px #8e8e8e;
	border-right: solid 1px #b8b8b8;
	border-bottom: solid 1px #b8b8b8;
	border-left: solid 1px #8e8e8e;
	background: white;
}

.Default table.reSpinBox:hover
{
    border: solid 1px #515151;
}

.Default .reSpinBoxIncrease
{
	background-position: 0 -198px;
}

.Default .reSpinBoxIncrease:hover
{
	background-position: 0 -208px;
}

.Default .reSpinBoxDecrease
{
	background-position: -11px -198px;
}

.Default .reSpinBoxDecrease:hover
{
	background-position: -11px -208px;
}
/* end of spinbox */

/* editor input elements */
.Default.RadEditor input
{
	border-top: solid 1px #8e8e8e;
	border-right: solid 1px #b8b8b8;
	border-bottom: solid 1px #b8b8b8;
	border-left: solid 1px #8e8e8e;
	background-color: #fff;
}

.Default.RadEditor input:hover
{
    border: solid 1px #515151;
}
/* editor input elements */

/* editing modes */
.Default .reMode_selected
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -948px 0;
}
/* end of editing modes */

/* DOM inspector */
.Default .reModule_domlink_selected,
.Default .reModule_domlink
{
    color: black;
}
/* end of DOM inspector */

.Default.reDropDownBody .reItemOver
{
	background: #dfdfdf;
	color: #000;
}

/* end of expanded dropdowns */

* html .Default .reTool_selected.reTool
{
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

/* color picker */
.Default.reColorPicker table div
{
	border: solid 1px #c5c5c5;
}

.Default.reColorPicker table td.reItemOver div
{
	border-color: #000;
}

.Default.reColorPicker span
{
	border: solid 1px #c5c5c5;
}
/* end of color picker */

/* ajax spellchecker */
.Default .reAjaxspell_button
{
    border: solid 1px #828282;
    background: #ececec;
    color: #828282;
}

.Default .reAjaxSpellCheckSuggestions table
{
    border-width: 0;
    width: 100%;
}

.Default .reAjaxSpellCheckSeparator
{
    background-color: #979797;
}
/* ajax spellchecker */

/* custom links */
.Default.reCustomLinks,
.Default.reCustomLinks ul
{
	color: #000;
}

.Default.reCustomLinks a
{
    background: none transparent;
    color: black;
	cursor: default !important;
}

.Default.reCustomLinks a:hover
{
    color: #fff;
}
/* end of custom links */

/* insert table dropdown */
.Default.reInsertTable table
{
    background: #fff;
}

.Default.reInsertTable table td
{
    border: solid 1px #828282;
    background: #fff;
}

.Default.reInsertTable .reTlbVertical ul
{
    background-color: #fff;
}

.Default.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text,
.Default.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:link,
.Default.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:visited
{
    color: black !important;
    background: transparent none;
    _background: none !important;
}

.Default.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:hover
{
    background: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -1403px 0;
}

.Default.reInsertTable .reTlbVertical ul .reTool_text span
{
    background-image: url('../Common/CommandSpritesLight.png');
    background-position: -3575 center;
}

.Default.reInsertTable .reToolbar li .reTool:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -52px;
}
/* end of insert table dropdown */

/* modules selector */
.Default .reModule_visible_icon,
.Default .reModule_hidden_icon
{
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url('../Common/CommonIcons.gif');
	background-repeat: no-repeat;
}

.Default .reModule_visible_icon
{
	background-position: -8px -199px;
}

.Default .reModule_hidden_icon
{
	background-position: -8px -103px;
	
}
/* end of modules selector */

/* resize cell */
.Default .reResizeCell div
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: center -301px;
}

/* the rule below styles RadWindow's content cell, which is used in the floating and show on focus toolbar modes */
.RadWindow.RadWindow_Default.reToolbarWindow td.rwWindowContent
{
    background-color: #ececec;
} 

.RadWindow_Default .reInsertTableLightWrapper .lightTable 
{
	border-color: #828282;
}

/* Popup Comments */

.Default .reCommentEdit,
.Default .reCommentTextArea,
.Default .reCommentView,
.Default .reCommentInfoPanel
{
	border-color: transparent;
	background-color: #eee;
}

.Default .reCommentTitle,
.Default .reCommentInfoPanel
{
	color: #000;
}

.Default .reCommentTextArea 
{
	border-color: #828282;
	background-color: #fff;
}

.RadEditor.Default .reCommentButton,
.Default .rePopupButtonContainer .rePopupButton
{
	border-color: #d0d0d0 #a2a2a2 #8b8b8b #a2a2a2;
	color: #000;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #faf9f9 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #faf9f9 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #faf9f9 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(top, #faf9f9 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f9', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */
}

.RadEditor.Default .reCommentButton:hover,
.Default .rePopupButtonContainer .rePopupButton:hover
{
	border-color: #d1d1d1 #b8b8b8 #a3a3a3 #bbb;
	color: #000;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #e0e0e0 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #e0e0e0 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0e0e0 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0e0e0 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top, #e0e0e0 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}

.RadEditor.Default .reCommentButton:active,
.Default .rePopupButtonContainer .rePopupButton:active
{
	border-color: #b6b6b6 #9e9e9e #898989 #9b9b9b;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #c7c7c7 0%, #dedede 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #c7c7c7 0%,#dedede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c7c7c7 0%,#dedede 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c7c7c7 0%,#dedede 100%); /* IE10+ */
	background: linear-gradient(top, #c7c7c7 0%,#dedede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#dedede',GradientType=0 ); /* IE6-8 */
}

/* Commnet popups */
.Default.rePopupContainer 
{
	border-color: #828282;
	background-color: #eee;
}

.Default.rePopupContainer .rePopupTitle
{
	color: #000;
	border-color: #c4c4c4;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fdfdfd 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fdfdfd 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top, #fdfdfd 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
}
