/*Telerik RadPivotGrid Default Skin*/
/*global*/
.RadPivotGrid_Default {
  border: 1px solid #d9d9d9;
  background: white;
  color: #333333;
  font-size: 12px;
  line-height: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Pager */
  /* items */
  /* Expand and Collaps Buttons */ }
  .RadPivotGrid_Default th,
  .RadPivotGrid_Default td {
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }
  .RadPivotGrid_Default td:first-child[collspan] {
    border-left: 0 none; }
  .RadPivotGrid_Default .rpgPagePrev,
  .RadPivotGrid_Default .rpgPageNext,
  .RadPivotGrid_Default .rpgPageFirst,
  .RadPivotGrid_Default .rpgPageLast,
  .RadPivotGrid_Default .rpgFilterZone,
  .RadPivotGrid_Default .rpgRowsZone,
  .RadPivotGrid_Default .rpgColumnsZone,
  .RadPivotGrid_Default .rpgDataZone,
  .RadPivotGrid_Default .rpgColumnHeader,
  .RadPivotGrid_Default .rpgColumnHeaderTotal,
  .RadPivotGrid_Default .rpgColumnHeaderGrandTotal,
  .RadPivotGrid_Default .rpgContentZoneDiv th,
  .RadPivotGrid_Default .rpgNumPart a:hover,
  .RadPivotGrid_Default .rpgNumPart a:hover span,
  .RadPivotGrid_Default .rpgNumPart a.rpgCurrentPage,
  .RadPivotGrid_Default .rpgNumPart a.rpgCurrentPage span,
  .RadPivotGrid_Default .rpgSortAsc,
  .RadPivotGrid_Default .rpgSortDesc,
  .RadPivotGrid_Default .rpgExpand,
  .RadPivotGrid_Default .rpgCollapse,
  .RadPivotGrid_Default .rpgFieldItem {
    background-image: url('PivotGrid/sprite.png'); }
  .RadPivotGrid_Default .rpgContentZoneDiv td {
    border-color: #d9d9d9; }
  .RadPivotGrid_Default .rpgRowHeader,
  .RadPivotGrid_Default .rpgRowHeaderGrandTotal {
    background-color: #eaeaea; }
  .RadPivotGrid_Default .rpgRowTotalDataCell,
  .RadPivotGrid_Default .rpgColumnTotalDataCell,
  .RadPivotGrid_Default .rpgRowGrandTotalDataCell,
  .RadPivotGrid_Default .rpgColumnGrandTotalDataCell {
    background-color: #ededed; }
  .RadPivotGrid_Default .rpgRowTotalDataCell {
    border-bottom-color: #c1c6cb; }
  .RadPivotGrid_Default .rpgRowHeaderTotal,
  .RadPivotGrid_Default .rpgRowTotalDataCell.rpgColumnTotalDataCell {
    background-color: #d9d9d9; }
  .RadPivotGrid_Default .rpgFilterZone,
  .RadPivotGrid_Default .rpgRowsZone,
  .RadPivotGrid_Default .rpgColumnsZone,
  .RadPivotGrid_Default .rpgDataZone,
  .RadPivotGrid_Default .rpgColumnHeader,
  .RadPivotGrid_Default .rpgColumnHeaderTotal,
  .RadPivotGrid_Default .rpgColumnHeaderGrandTotal,
  .RadPivotGrid_Default .rpgContentZoneDiv th {
    background-color: #eaeaea;
    background-position: 0 -2000px;
    background-repeat: repeat-x; }
  .RadPivotGrid_Default .rpgPager {
    background-color: #eee;
    color: #333333; }
  .RadPivotGrid_Default .rpgInfoPart {
    color: #333333; }
  .RadPivotGrid_Default .rpgPageFirst {
    margin: 0 3px 0 0;
    background-position: 0 -240px; }
  .RadPivotGrid_Default .rpgPageFirst:hover {
    background-position: 0 -290px; }
  .RadPivotGrid_Default .rpgPagePrev {
    margin: 0 3px 0 0;
    background-position: 0 -390px; }
  .RadPivotGrid_Default .rpgPagePrev:hover {
    background-position: 0 -440px; }
  .RadPivotGrid_Default .rpgPageNext {
    margin: 0 0 0 3px;
    background-position: 0 -540px; }
  .RadPivotGrid_Default .rpgPageNext:hover {
    background-position: 0 -590px; }
  .RadPivotGrid_Default .rpgPageLast {
    margin: 0 0 0 3px;
    background-position: 0 -690px; }
  .RadPivotGrid_Default .rpgPageLast:hover {
    background-position: 0 -740px; }
  .RadPivotGrid_Default .rpgPager .rpgPagerButton {
    border-color: #a4abb2;
    background: #f0f0f0;
    color: #333333;
    font-size: 12px;
    line-height: 16px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadPivotGrid_Default .rpgNumPart a:hover,
  .RadPivotGrid_Default .rpgNumPart a:hover span,
  .RadPivotGrid_Default .rpgNumPart a.rpgCurrentPage,
  .RadPivotGrid_Default .rpgNumPart a.rpgCurrentPage span {
    background-repeat: no-repeat; }
  .RadPivotGrid_Default .rpgNumPart a {
    color: #3b3b3b; }
  .RadPivotGrid_Default .rpgNumPart a:hover {
    background-position: 100% -940px;
    color: #000; }
  .RadPivotGrid_Default .rpgNumPart a:hover span {
    background-position: 0 -840px; }
  .RadPivotGrid_Default .rpgNumPart a.rpgCurrentPage,
  .RadPivotGrid_Default .rpgNumPart a.rpgCurrentPage:hover {
    background-position: 100% -1140px; }
  .RadPivotGrid_Default .rpgNumPart a.rpgCurrentPage span,
  .RadPivotGrid_Default .rpgNumPart a.rpgCurrentPage:hover span {
    background-position: 0 -1040px; }
  .RadPivotGrid_Default .rpgFieldItem {
    background-color: #c6c6c6;
    background-position: 0 -1400px;
    background-repeat: repeat-x;
    border-color: #a4abb2; }
  .RadPivotGrid_Default .rpgFieldItem a {
    color: #3b3b3b; }
  .RadPivotGrid_Default .rpgSortAsc,
  .RadPivotGrid_Default .rpgSortDesc {
    vertical-align: middle;
    margin-left: 2px; }
  .RadPivotGrid_Default .rpgSortDesc {
    background-position: 4px -47px; }
  .RadPivotGrid_Default .rpgSortAsc {
    background-position: 4px -91px; }
  .RadPivotGrid_Default .rpgExpand,
  .RadPivotGrid_Default .rpgCollapse {
    background-position: 2px -136px;
    background-repeat: no-repeat; }
  .RadPivotGrid_Default .rpgExpand {
    background-position: 4px -184px; }

.PivotGridReorderTop_Default,
.PivotGridReorderBottom_Default {
  height: 12px;
  background: url('PivotGrid/sprite.png') no-repeat 0 -1240px; }

.PivotGridReorderBottom_Default {
  background-position: 0 -1290px; }
