﻿body   
{
    background-image:(../Images/bgUHCA.png);
    background-color: #00529E;
}

.page   
{
    background-image:(../Images/bgUHCA.png);
    background-color: #00529E;
}

#wrapper-top{background-image:url(../images/bg-wrapperIHCA.gif); background-repeat:repeat-x; background-color:#fafafa}

#navtop
{
    background-image:url(../images/bg-navtopGRAY.png);
}

.LogoImage 
{
    background-image:url('../images/logo_ihca-ical.png');   
    background-repeat:no-repeat;
    border-color:White;
    margin-top:5px;
    border-style:none;
    border-width:0px;
    float:left;
    height:99px;
    width:300px;
}


.loginDisplay
{
    color:#00529E; 
    font-weight:bolder;
    font-size: 1.1em;
}

.loginDisplay a:link
{
    color: blue;
}

.loginDisplay a:visited
{
    color: Navy;
}

.loginDisplay a:hover
{
    color: Purple;
}