﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background-repeat:repeat-x;
    background-color: #ECECEC;
    font-size: .80em;
    font-family: "Verdana", "Calibri", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333333;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

a.button
{
    font-size:16px;    
    border: thin solid #666666;
    background-color: #cccccc;
    padding:4px;
}

a.disabled
{
    font-size:16px;    
    border: thin solid #666666;
    background-color: #cccccc;
    color: #666666;
    padding:4px;
}

p
{
    margin-bottom: 3px;
    line-height: 1.6em;
}

/* input */
.formview-table-layout td {padding: 3px 5px 3px 0px; white-space:nowrap;}
input[readonly] {border:none; background-color:GrayText;}
.label {color:#666666; font-style:italic;}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #26323f;
    font-variant: normal;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight:bold;
}

h2
{
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom:3px;
}

h3
{
    font-size: 1.3em;
    font-weight: 400;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%;
    background-repeat:repeat-x;
    background-color: #ECECEC;
    margin: 0px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 5px;
    background-color:transparent;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    min-height: 420px;
    width:auto;
}

.leftCol
{
    padding: 10px;
    margin: 12px 8px 8px 5px;
    margin-left:10px;
    width: 200px;
    min-height: 200px;
    float:left;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.content 
{
    padding:20px;
    padding-top:0px;    
    background-color:#FFFFFF;
    border-style: solid;
    border-width:thick;
    border-color:#ECECEC;
    border-top-width:thin;
}


/* MENUS
----------------------------------------------------------*/
.MainMenu
{
    margin-top:10px;
    margin-left:30px;
}

.MainMenuSelected
{
    background-image:url(../images/bg-navlink.gif);
}

.MainMenuSelected
{
    background-image:url(../images/bg-navlink.gif);
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 200px;
    border: 1px solid #ccc;
    height:23px;
    background-color:#F7F7F7;
    font-size:14px;
}

input.passwordEntry 
{
    width: 200px;
    border: 1px solid #ccc;
    height:25px;
    background-color:#F7F7F7;
    font-size:14px;
}

div.accountInfo
{
    width: 100%;
}

input.readonly 
{
    background-color:#F4F4F4;   
    border:none;
    border-collapse:collapse; 
    height:20px;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: white;
}

.loginDisplay a:link
{
    color: yellow;
}

.loginDisplay a:visited
{
    color: yellow;
}

.loginDisplay a:hover
{
    color: yellow;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.submitButton
{
    text-align: left;
    padding-right: 10px;
}

.instructions
{
    color: Blue;
    font-size:small;
    font-style:italic;    
}

/* HOME PAGE  
----------------------------------------------------------*/

#loginTable
{
    padding:5px;
    border:none;
}

#loginTable.td
{
    padding:3px;
    text-align:left;
    color: White;
}

/* TextBoxes
----------------------------------------------------------*/

.TextBox
{
    margin:4px 8px 4px 0px; 
    width:200px;
    height:15px; 
    padding:5px 2px; 
    border:solid 1px #d3d8e0; 
    vertical-align:middle; 
    background-color:#fdfdfd;    
}

.TinyTextBox
{
     width:130;
     font-size:12px; 
     vertical-align:middle;
}


