﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Facility/Facility.Master" AutoEventWireup="true" CodeBehind="Certificate.aspx.cs" Inherits="EventManager.Web.Facility.CertificateForm" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContentPlaceHolder" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="PageTitlePlaceHolder" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContentPlaceHolder" runat="server">



</asp:Content>
