﻿<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="FacilityMaster.master.cs" Inherits="EventManager.Web.Facility.FacilityMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MenuContent" runat="server">


    <br />
        <asp:Label ID="Label1" runat="server" Text="Idaho Health Care Assn: 208-343-9735" ForeColor="White" Font-Size="Small" Style="margin-top:15px; margin-left:20px; padding-top:15px;"></asp:Label>&nbsp;&nbsp;
        <asp:Label ID="Label2" runat="server" Text="Utah Health Care Assn: 801-486-6100" ForeColor="White" Font-Size="Small" Style="margin-top:15px; margin-left:20px; padding-top:15px;"></asp:Label>
    <%--<asp:Menu ID="MainMenu" runat="server" Orientation="Horizontal" CssClass="MainMenu">
        <Items>
            <asp:MenuItem Text="Home" Value="Home" NavigateUrl="~/Default.aspx"></asp:MenuItem>
            <asp:MenuItem Text="Dashboard" Value="Dashboard" NavigateUrl="~/Facility/Dashboard.aspx"></asp:MenuItem>
            <asp:MenuItem Text="Certificates" Value="Certificates" NavigateUrl="~/PrintCertificate.aspx"></asp:MenuItem>
            <asp:MenuItem Text="Events" Value="Events" NavigateUrl="~/Facility/EventsCalendar.aspx"></asp:MenuItem>
            <asp:MenuItem Text="Contact" Value="Contact"></asp:MenuItem>
        </Items>
        <StaticHoverStyle BackColor="#FBFDFF" ForeColor="#385070" CssClass="HomeMenuHover" /> 
        <StaticSelectedStyle BackColor="#FFFFFF" ForeColor="#3e4653" CssClass="HomeMenuSelected" /> 
        <LevelMenuItemStyles>
            <asp:MenuItemStyle Font-Underline="False" ForeColor="#323945" BackColor="#E99719" Font-Size="14px" Font-Bold="False"  Height="28px" HorizontalPadding="30px" ItemSpacing="0px" VerticalPadding="6px" />
            <asp:MenuItemStyle Font-Underline="False" ForeColor="#1A176A" BackColor="#CCCCCC" Font-Bold="True"  Height="18px" HorizontalPadding="5px" ItemSpacing="1px" VerticalPadding="2px" Width="140px" CssClass="HeaderMenuLevel2" />
            <asp:MenuItemStyle Font-Underline="False" ForeColor="#1A176A" BackColor="#CCCCCC" Font-Bold="True"  Height="18px" HorizontalPadding="5px" ItemSpacing="1px" VerticalPadding="2px" Width="100px" CssClass="HeaderMenuLevel3" />
        </LevelMenuItemStyles>
        <DynamicHoverStyle BackColor="#F4F4F4" /> 
    </asp:Menu>--%>

    <telerik:RadScriptManager ID="RadScriptManager2" runat="server" />
    <telerik:RadSkinManager ID="RadSkinManager1" runat="server" Skin="MetroTouch" />

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>
