/*  ============================================================
    Template Information
    ============================================================

    Author: IncisiveStudio
    Author Name: Mohammad Shaker
    Author URI: http://IncisiveStudio.com
    Template Name: INFINITY
    Description: Responsive HTML5 Template
    Graphic Designer: Navid Ghasemi
    Version: 1.2


    Table of Content :

        00.HTML5 BOILERPLATE RESET FILE       ||     33.POST AUTHOR INFORMATION
        01.GRAYSCALE EFFECT "FILTER"          ||     34.COMMENTS
        02.PRIMARY STYLES                     ||     35.CONTACT US
            03.TYPOGRAPHY                     ||     36.GOOGLE MAP
            04.MISCELLANEOUS                  ||     37.CONTACT DETAILS
            05.HEADER                         ||     38.ERROR 404
            06.NAVIGATION                     ||     39.PORTFOLIO NAVIGATION
            07.COLOR PICKER                   ||     40.PORTFOLIO MOSAIC
            08.MAIN SLIDER - HOME PAGE SLIDER ||     41.INFINTY SCROLL
            09.ANNOUCEMENT                    ||     42.PORTFOLIO IMAGE SLIDER CONTROLS
            10.SERVICES MOSAIC                ||     43.PORTFOLIO, DESIGNERS
            11.NEW PROJECT                    ||     44.LUNCH PROJECT
            12.RECENT WORKS                   ||     45.PROJECT DETAILS
            13.TESTIMONIALS                   ||     46.TESTIMONIALS WIDGET
            14.OUR CLIENTS                    ||     47.SERVICE HEADER
            15.BACK TO UP                     ||     48.SERVICE CAROUSEL
            16.CONTACT INFORMATION            ||     49.SURVEY WIDGET
            17.FOOTER                         ||     50.SPECIAL WIDGET
            18.PRIVACY SECTION                || 51.HOME PAGE NO#2
            19.NEWSLETTER                     ||     52.FULL WIDTH NAVIGATION
            20.COPYRIGHT                      ||     53.FULL WIDTH SLIDER
            21.OUR CROW , GROUP MEMBERS       || 54.COLUMNS
            22.SPECIAL DIVIDER                || 55.ELEMENTS
            23.OUR SKILS                      ||     56.ALERTS
            24.BLOG NAVIGATION                || 57.PLUGINS
            25.BLOG POSTS, Article
            26.PAGE NAVIGATION
            27.WIDGET
                28.CATEGORIES WIDGET
                29.LATEST POSTS WIDGET
                30.TWEETER WIDGET
                31.ACCORDION WIDGET
                32.TAGS WIDGET



    ============================================================  */




/*  ============================================================
    HTML5 BOILERPLATE RESET FILE
    ============================================================  */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Bootstrap IE Fix */
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a,
.dropdown-menu > li.active > a {
    filter: none;
}
/* Prevent Flickering in Chrome */
* {
    -webkit-backface-visibility: hidden;
}

/*  ============================================================
    GRAYSCALE EFFECT "FILTER"
    ============================================================  */
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: .6;
    -webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-o-transition: all .4s ease-in-out;transition: all .4s ease-in-out;
}
img.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/*  ============================================================
    PRIMARY STYLES
    ============================================================  */
    body {
        background: none repeat scroll 0 0 #EBEBEB;
        color: #221918;
        font-size: 14px;
        font-family: "Open Sans",Arial,sans-serif;
        line-height: 21px;
        cursor: default;
    }
/*  ------------------------------------------------------------
    TYPOGRAPHY
    ------------------------------------------------------------  */
    a {text-decoration: none;}
    a:hover {text-decoration: none;}
    a:focus {outline: 0;text-decoration: none;}
    h1 {font-size: 32px;}
    h2 {font-size: 21px;}
    h3 {font-size: 16px;}
    h4 {font-size: 14px;}
    h5 {font-size: 13px;}
    h6 {font-size: 12px;}
    small {font: 11px'Arial';}
    p {font: 14px/21px'Arial', Helvetica, sans-serif;}
    p.UpperCase:first-letter {font-size: 60px;color: #02bd85;text-transform: uppercase;}
    blockquote {background: none repeat scroll 0 0 #F6F6F6;padding: 30px 30px 30px;color: #A1A1A1;font-style: italic;}
/*  ------------------------------------------------------------
    MISCELLANEOUS
    ------------------------------------------------------------  */
    .MediumSize {font-size: 21px;}
    .SmallSize {font-size: 28px;}
    .LargeSize {font-size: 42px;}
    .VeryLargeSize {font-size: 72px;}
    .WhiteSkin {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);}
    .AddPaddingTop {padding-top: 20px !important;}
    .ActivateButton {background: none repeat scroll 0 0 #02bd85 !important;}
    .RemovePaddingLeft {padding-left: 0 !important;}
    .RemovePaddingRight {padding-right: 0 !important;}
/*  ------------------------------------------------------------
    HEADER > SITE BRAND
    ------------------------------------------------------------  */
    header#header .SiteBrand {font: 0/0 a;text-shadow: none;color: transparent;background: url(../../img/main-logos/logo.png) no-repeat 0 0 transparent;max-width: 100%;width: 100%;height: 56px;margin: 20px 0;}
/*  ------------------------------------------------------------
    HEADER > HEADER LINKS
    ------------------------------------------------------------  */
    header#header ul.HeaderLinks {margin: 16px 0 0;}
    header#header ul.HeaderLinks > li{display: inline;}
/*  ------------------------------------------------------------
    HEADER > HEADER LINKS > QUICK LINKS
    ------------------------------------------------------------  */
    header#header ul.HeaderLinks > li:first-child > a {color: #C5C5C5;text-shadow: 0 1px 0 rgba(255, 255, 255, 1);-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    header#header ul.HeaderLinks > li:first-child > a:hover {color: #818181;}
/*  ------------------------------------------------------------
    HEADER > HEADER LINKS > DROPDOWN
    ------------------------------------------------------------  */
    header#header ul.HeaderLinks > li:last-child > a {color: #02bd85;text-shadow: 0 1px 0 rgba(255, 255, 255, 1);padding: 0 0 0 8px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    header#header ul.HeaderLinks > li:last-child > a:hover {opacity: .7;}
    header#header ul.HeaderLinks ul.dropdown-menu {background: none repeat scroll 0 0 #525252;border-radius: 0 0 0 0;box-shadow: none;border: medium none;padding: 0 0 0;margin: 8px 0 0;}
    header#header ul.HeaderLinks ul.dropdown-menu > li > a {color: #FFFFFF;padding: 12px 20px;}
    header#header ul.HeaderLinks ul.dropdown-menu > li > a:hover,
    header#header ul.HeaderLinks ul.dropdown-menu > li > a:focus {background-color:#02bd85;background-image: none;background-repeat: no-repeat;}
/*  ------------------------------------------------------------
    HEADER > SEARCH FORM
    ------------------------------------------------------------  */
    header#header .navbar-form {margin: 8px 0 0;padding: 0 0 0;}
    header#header .navbar-form #form-group {position: relative;}
    header#header .navbar-form #form-group .SearchInput {-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;border: medium none;height: 45px;}
    header#header .navbar-form #form-group .SearchInput:focus {-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);}
    header#header .navbar-form #form-group .SearchIcon {position: absolute;right: 0;top: 0;font-size: 24px;color: #a3a3a3;padding: 9px 8px;}
/*  ------------------------------------------------------------
    HEADER > SOCIALS
    ------------------------------------------------------------  */
    header#header .navbar-form .HeaderSocialIcons ul li {float: left;padding: 10px 10px 10px;}
    header#header .navbar-form .HeaderSocialIcons ul li a {color: #c7c7c7;font-size: 20px;text-shadow: 0 1px 0 rgba(255,255,255,0.2);}
    header#header .navbar-form .HeaderSocialIcons ul li a:hover {color: #606060;}
/*  ------------------------------------------------------------
    NAVIGATION
    ------------------------------------------------------------  */
    #NavigationWrapper {background: none repeat scroll 0 0 #02bd85;position: relative;}
    #NavigationWrapper .StyleSwitcher {position: absolute;width: 50%;background: none repeat scroll 0 0 #221918;right: 0;line-height: 50px;top: 0;z-index: 299;}
    #NavigationWrapper .StyleSwitcher i {display: block;height: 50px;width: 50px;background: none repeat scroll 0 0 #02bd85;color: #221918;float: right;text-align: center;font-size: 24px;cursor: pointer;}
    #NavigationWrapper .Slogan {text-align: center;color: #FFFFFF;line-height: 50px;background: none repeat scroll 0 0 #02bd85;}
    #NavigationWrapper .navbar-collapse {border: medium none;}
    #NavigationWrapper .navbar-default {background: none repeat scroll 0 0 #221918;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;border: medium none;margin: 0 0 0 0;z-index: 300;}
    #NavigationWrapper .navbar-default ul.nav .caret {border-bottom-color: #02bd85;border-top-color: #02bd85;}
    #NavigationWrapper .navbar-default ul.nav .open a {background: none repeat scroll 0 0 transparent;border: medium none;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #NavigationWrapper .navbar-default ul.nav .open a:hover {background: none repeat scroll 0 0 transparent;border: medium none;}
    #NavigationWrapper .navbar-default ul.nav .open a:focus {background: none repeat scroll 0 0 transparent;border: medium none;}
    #NavigationWrapper .navbar-default ul.nav li {font-size: 11px;font-weight: bold;padding: 0 26px 0;}
    #NavigationWrapper .navbar-default ul.nav li:first-child {padding: 0 26px 0 14px;}
    #NavigationWrapper .navbar-default ul.nav li:last-child {padding: 0 0 0 26px;}
    #NavigationWrapper .navbar-default ul.nav li a {padding: 0 0 0;background: none repeat scroll 0 0 transparent;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;color: #FFFFFF;line-height: 50px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;text-shadow: none;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #NavigationWrapper .navbar-default ul.nav li a:hover {background: none repeat scroll 0 0 transparent;color: #999999;}
    #NavigationWrapper .navbar-default ul.nav ul.dropdown-menu {background: none repeat scroll 0 0 #02bd85;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;border: medium none;margin: 0 0 0;padding: 0 0 0;}
    #NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li {padding: 0 14px 0;border-bottom: 1px solid #009166;border-top: 1px solid #16d39a;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:first-child {border-top: medium none;}
    #NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:last-child {border-bottom: medium none;}
    #NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li a {color: #221918;line-height: 38px;}
    #NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:hover {background: none repeat scroll 0 0 #221918;}
    #NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:hover a {color: #FFFFFF;}
    #NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:hover a:hover {color: #FFFFFF;}
/*  ------------------------------------------------------------
    NAVIGATION > COLOR PICKER
    ------------------------------------------------------------  */
    #ColorPicker {position: absolute;z-index: 399;right: 0;top: 0;width: 50px;background: none repeat scroll 0 0 #424848;margin: 50px 0 0;display: none;}
    #ColorPicker ul.Squares {float: right;background: none repeat scroll 0 0 #424848;width: 50px;display: inline;}
    #ColorPicker ul.Squares li.orange a{display: block;width: 18px;height: 18px;background: none repeat scroll 0 0 #FF9311;margin: 18px auto;}
    #ColorPicker ul.Squares li.blue a{display: block;width: 18px;height: 18px;background: none repeat scroll 0 0 #189a99;margin: 18px auto;}
    #ColorPicker ul.Squares li.green a{display: block;width: 18px;height: 18px;background: none repeat scroll 0 0 #02bd85;margin: 18px auto;}
    #ColorPicker ul.Squares li.purple a{display: block;width: 18px;height: 18px;background: none repeat scroll 0 0 #af7ac4;margin: 18px auto;}
    #ColorPicker ul.Squares li.CloseColorPicker {margin: 18px 0 0;border-top: 1px solid #485254;}
    #ColorPicker ul.Squares li.CloseColorPicker span#CloseColorPicker{color: #424748;display: block;width: 18px;height: 18px;line-height: 17px;background: none repeat scroll 0 0 #2f2b2b;margin: 18px auto;text-align: center;font-size: 12px;cursor: pointer;}
/*  ------------------------------------------------------------
    MAIN SLIDER - HOME PAGE SLIDER
    ------------------------------------------------------------  */
    #MainSlider {margin: 0 0 10px;}
    #MainSlider .MainSliderImages {position: relative;}
    #MainSlider .MainSliderImages .bx-caption {bottom: 6px;padding: 0 0 0;left: 10px;right: 50%;position: absolute;color: #ffffff;}
    #MainSlider .bx-wrapper {position: relative;}
    #MainSlider .bx-controls {position: absolute;bottom: 0;width: 100%;height: 34px;background: none repeat scroll 0 0 rgba(0, 0, 0, .2);}
    #MainSlider .bx-controls .bx-controls-direction {float: right;}
    #MainSlider .bx-controls .bx-controls-direction a.bx-prev {float: left;color: #878786;background: none repeat scroll 0 0 #535353;height: 34px;text-align: center;line-height: 34px;width: 34px;}
    #MainSlider .bx-controls .bx-controls-direction a.bx-next {float: right;color: #878786;background: none repeat scroll 0 0 #535353;height: 34px;text-align: center;line-height: 34px;width: 34px;}
    #MainSlider .bx-controls .bx-controls-direction a.bx-prev:hover {color: #FFFFFF;background: none repeat scroll 0 0 #211917;}
    #MainSlider .bx-controls .bx-controls-direction a.bx-next:hover {color: #FFFFFF;background: none repeat scroll 0 0 #211917;}
    #MainSlider .MainSliderContent {background: none repeat scroll 0 0 #221918;border-right: 8px solid #02bd85;min-height: 354px;position: relative;}
    #MainSlider .MainSliderContent a .MainSliderEntry {padding: 30px 40px 0;display: none;}
    #MainSlider .MainSliderContent a.active .MainSliderEntry {display: block;}
    #MainSlider .MainSliderContent a .MainSliderEntry h2 {padding: 0 0 10px;color: #FFFFFF;}
    #MainSlider .MainSliderContent a .MainSliderEntry p {color: #8f8d8c;}
    #MainSlider .MainSliderContent .MainSliderButtons {bottom: 0;left: 0;width: 100%;position: absolute;}
    #MainSlider .MainSliderContent .MainSliderButtons ul {list-style: none outside none;}
    #MainSlider .MainSliderContent .MainSliderButtons ul li:first-child {float: left;width: 50%;text-align: center;}
    #MainSlider .MainSliderContent .MainSliderButtons ul li:last-child {float: right;width: 50%;text-align: center;}
    #MainSlider .MainSliderContent .MainSliderButtons ul li a {background: none repeat scroll 0 0 #474747;color: #FFFFFF;display: block;height: 34px;line-height: 34px;width: 100%;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #MainSlider .MainSliderContent .MainSliderButtons ul li a:hover {background: none repeat scroll 0 0 #02bd85;}
    #MainSlider .MainSliderContent .MainSliderButtons ul li a.active {background: none repeat scroll 0 0 #02bd85;}
/*  ------------------------------------------------------------
    ANNOUCEMENT
    ------------------------------------------------------------  */
    .AnnounceTable {margin: 0 0 30px;}
    .AnnounceTable p {padding: 15px 25px;}
    .AnnounceTable ul.AnnounceDropdown {display: inline;}
    .AnnounceTable ul.AnnounceDropdown > li {color: #02bd85;margin: 15px 0;display: inline-block;padding: 0 10px;border-left: 1px solid #544b4a;}
    .AnnounceTable ul.AnnounceDropdown > li.open {background-color: #E7E7E7;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
    .AnnounceTable ul.AnnounceDropdown > li > a {color: #221918;}
    .AnnounceTable ul.AnnounceDropdown ul.dropdown-menu {background: none repeat scroll 0 0 #525252;border-radius: 0 0 0 0;box-shadow: none;border: medium none;padding: 0 0 0;margin: 8px 0 0;right: 0;left: inherit;}
    .AnnounceTable ul.AnnounceDropdown ul.dropdown-menu > li > a {color: #FFFFFF;padding: 12px 20px;}
    .AnnounceTable ul.AnnounceDropdown ul.dropdown-menu > li > a:hover {background: none repeat scroll 0 0 #02bd85;}
/*  ------------------------------------------------------------
    SERVICES MOSAIC
    ------------------------------------------------------------  */
    .Mosaic {padding: 20px 30px 15px;text-align: center;color: #221918;margin:0 0 20px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .Mosaic:hover {background: none repeat scroll 0 0 #02bd85;color: #FFFFFF;}
    .Mosaic h3 {font-weight: bold;padding: 15px 0 15px;text-transform: uppercase;font-size: 18px;}
    .Mosaic p {font-size: 12px;}
/*  ------------------------------------------------------------
    NEW PROJECT
    ------------------------------------------------------------  */
    .NewProject {min-height: 420px;position: relative;margin:0 0 20px;}
    .NewProject .NewProjectHeader {background: none repeat scroll 0 0 #02bd85;padding: 0 0 0 12px;position: relative;display: block;height: 30px;}
    .NewProject .NewProjectHeader .NewProjectTitle {color: #FFFFFF;line-height: 30px;float: left;}
    .NewProject .NewProjectHeader .NewProjectSliderCtrls {float: right;text-align: center;line-height: 30px;}
    .NewProject .NewProjectHeader .NewProjectSliderCtrls span {background: none repeat scroll 0 0 #FFFFFF;display: inline-block;width: 27px;height: auto;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .NewProject .NewProjectHeader .NewProjectSliderCtrls span:hover {background: none repeat scroll 0 0 #221918;color: #fFFFFF;}
    .NewProject .NewProjectFooter {height: 28px;position: absolute;right: 0;bottom: 0;width: 100%;}
    .NewProject .NewProjectFooter .NewProjectVeiwBtn {background: none repeat scroll 0 0 #221918;padding: 0 10px;color: #FFFFFF;line-height: 28px;height: 28px;display: block;float: right;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .NewProject .NewProjectFooter .NewProjectVeiwBtn:hover {background: none repeat scroll 0 0 #02bd85;}
    .NewProject #NewProjectContentSlides a.active .NewProjectContent {display: block;}
    .NewProject #NewProjectContentSlides a .NewProjectContent {padding: 24px 10px 0;display: none;}
    .NewProject #NewProjectContentSlides a .NewProjectContent h4 {color: #221918;}
    .NewProject #NewProjectContentSlides a .NewProjectContent i {color: #949292;font-size: 11px;font-style: italic;}
    .NewProject #NewProjectContentSlides a .NewProjectContent p {padding: 8px 0 50px;color: #3c3835;font-size: 12px;}
/*  ------------------------------------------------------------
    RECENT WORKS
    ------------------------------------------------------------  */
    .RecentWorks {margin: 0 0 30px;}
    .RecentWorks .RecentWorksHeader {text-align: center;border-bottom: 5px solid #02bd85;position: relative;}
    .RecentWorks .RecentWorksHeader h2 {color: #221918;text-align: left;float: left;}
    .RecentWorks .RecentWorksHeader .RecentWorksCarouselCtrls {display: inline-block;float: right;}
    .RecentWorks .RecentWorksHeader .RecentWorksCarouselCtrls .RecentWorksCarouselBtns {background: none repeat scroll 0 0 #ffffff;float: right;display: block;width: 27px;height: 27px;color: #aeadad;line-height: 28px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .RecentWorks .RecentWorksHeader .RecentWorksCarouselCtrls .RecentWorksCarouselBtns:hover {background: none repeat scroll 0 0 #02bd85;color: #FFFFFF;}
    .RecentWorks .RecentWorksHeader .RecentWorksCarouselCtrls .RecentWorksCarouselBtns li {padding: 0 10px 0;}
    .RecentWorks .ImageWrapper {position: relative;z-index: 499;}
    .RecentWorks .ImageWrapper .ImageCaption {position: absolute;z-index: 599;bottom: 0;width: 100%;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height: 60px;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
    .RecentWorks .ImageWrapper .ImageCaption .CaptionContent {color: #FFFFFF;width: 100%;text-align: center;padding: 8px 0 8px;top: 0;position: absolute;bottom: 0;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
    .RecentWorks .ImageWrapper:hover .ImageCaption .CaptionContent {margin: 54% 0 0;}
    .RecentWorks .ImageWrapper:hover .ImageCaption {height: 100%;}
    .RecentWorks .ImageWrapper .Buttons {position: absolute;z-index: 600;top: 45%;bottom: 0;opacity: 0;left: 50%;margin: 0 0 0 -40px;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
    .RecentWorks .ImageWrapper:hover .Buttons {opacity: 1;}
    .RecentWorks .ImageWrapper .Buttons a {background: none repeat scroll 0 0 #FFFFFF;display: inline-block;width: 36px;height: 36px;text-align: center;line-height: 36px;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .RecentWorks .ImageWrapper .Buttons a:hover {background: none repeat scroll 0 0 #02bd85;color: #FFFFFF;}
/*  ------------------------------------------------------------
    TESTIMONIALS
    ------------------------------------------------------------  */
    .Testimonials {margin: 0 0 30px;}
    .Testimonials .TestimonialsContent {position: relative;border-left: 41px solid #221918;border-right: 3px solid #221918;margin: 0 0 8px 0;background: none repeat scroll 0 0 #f8f8f8;}
    .Testimonials .TestimonialsContent .TestimonialsEntry {padding: 40px 46px 40px;}
    .Testimonials .TestimonialsContent .TestimonialsEntry blockquote {color: #878786;padding: 10px 0 6px;background: none repeat scroll 0 0 transparent;font-style: normal;}
    .Testimonials .TestimonialsBlocksWrapper ul li {margin: 0 0 8px 0;padding: 12px 25px 13px;border-left: 3px solid #221918;color: #221918;position: relative;}
    .Testimonials .TestimonialsBlocksWrapper ul li.active {background: none repeat scroll 0 0 #02bd85;border-left: 3px solid #02bd85;color: #FFFFFF;}
    .Testimonials .TestimonialsBlocksWrapper ul li.active:after {content:" ";left: 0;top: 50%;margin: -10px 0 0 -13px;border-top: 10px solid transparent;border-left: 0px solid transparent;border-right: 10px solid #02bd85;border-bottom: 10px solid transparent;display: block;position: absolute;}
    .Testimonials .TestimonialsBlocksWrapper ul li:hover {background: none repeat scroll 0 0 #02bd85;border-left: 3px solid #02bd85;color: #FFFFFF;}
    .Testimonials .TestimonialsBlocksWrapper ul li:hover:after {content:" ";left: 0;top: 50%;margin: -10px 0 0 -13px;border-top: 10px solid transparent;border-left: 0px solid transparent;border-right: 10px solid #02bd85;border-bottom: 10px solid transparent;display: block;position: absolute;}
/*  ------------------------------------------------------------
    OUR CLIENTS
    ------------------------------------------------------------  */
    .OurClients {margin: 0 0 30px;}
    .OurClients .OurClientsHeader {text-align: center;border-bottom: 2px solid #d4d4d4;-webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, .4);-moz-box-shadow: 0 2px 0 rgba(255, 255, 255, .4);box-shadow: 0 2px 0 rgba(255, 255, 255, .4);position: relative;}
    .OurClients .OurClientsHeader:after {content:" ";left: 50%;margin: 0 0 0 -10px;border-top: 10px solid #d9d9d9;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid transparent;display: block;position: absolute;}
    .OurClients .OurClientsHeader h2 {color: #a4a4a4;text-shadow: 0 1px 0 rgba(255, 255, 255, 1);padding: 0 0 10px;}
    .OurClients .OurClientsHeader .OurClientsCarouselCtrls {position: absolute;right: 0;top: 0;z-index: 599;margin:32px 0 0;}
    .OurClients .OurClientsHeader .OurClientsCarouselCtrls .OurClientsCarouselBtns {background: none repeat scroll 0 0 #d4d4d4;float: right;display: block;width: 20px;height: 20px;line-height: 20px;color: #8f8d8c;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .OurClients .OurClientsHeader .OurClientsCarouselCtrls .OurClientsCarouselBtns:hover {background: none repeat scroll 0 0 #02bd85;color: #FFFFFF;}
    .OurClients .OurClientsCarousel {padding: 40px 0 45px;}
/*  ------------------------------------------------------------
    BACK TO UP
    ------------------------------------------------------------  */
    #BackToUp {position: relative;display: block;height: 70px;width: 100%;}
    #BackToUp .BackToUpButton {background: none repeat scroll 0 0 #FFFFFF;color: #221918;display: block;position: absolute;right: 0;bottom: 0;height: 70px;width: 70px;cursor: pointer;text-align: center;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #BackToUp .BackToUpButton span {font-size: 42px;line-height: 70px;}
    #BackToUp .BackToUpButton:hover {background: none repeat scroll 0 0 #02bd85;color: #FFFFFF;}
/*  ------------------------------------------------------------
    CONTACT INFORMATION
    ------------------------------------------------------------  */
    .Divider {border-bottom: 6px solid #b6b6b6;position: relative;}
    .Divider a {background: none repeat scroll 0 0 #cacbcb;color: #221918;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;padding: 8px 8px;position: absolute;margin-top: -8px;z-index: 499;}
    .Divider a:after {top: 0;left: 0;margin: 0 0 0 -8px;content:" ";border-top: 4px solid transparent;border-left: 4px solid transparent;border-right: 4px solid #9b9b9b;border-bottom: 4px solid #9b9b9b;display: block;position: absolute;}
    .Divider a:before {top: 0;right: 0;margin: 0 -8px 0 0;content:" ";border-top: 4px solid transparent;border-left: 4px solid #9b9b9b;border-right: 4px solid transparent;border-bottom: 4px solid #9b9b9b;display: block;position: absolute;}
/*  ------------------------------------------------------------
    FOOTER
    ------------------------------------------------------------  */
    footer#footer {background: none repeat scroll 0 0 #221918;padding: 56px 0;}
    footer#footer p {color: #656363;}
    footer#footer .FooterTwitterWidget {margin: 30px 0 0;}
    footer#footer .FooterTwitterWidget ul li {color: #c5c5c5;}
    footer#footer .FooterTwitterWidget ul li h4 {font-size: 11px;font-style: italic;color: #656363;}
    footer#footer .FooterTwitterWidget ul li img {width: 74px;height: 74px;border: 3px solid #02bd85;}
    footer#footer .CommunicationPath {color: #c5c5c5;}
    footer#footer .CommunicationPath ul li .media-heading {color: #ffffff;}
    footer#footer .CommunicationPath ul li i {color: #3b3331;font-size: 72px;}
/*  ------------------------------------------------------------
    PRIVACY SECTION
    ------------------------------------------------------------  */
    .PrivacySection {background: none repeat scroll 0 0 #221918;text-align: center;font: bold 11px'Arial', Helvetica, sans-serif;}
    .PrivacySection ul {display: inline-block;margin: 4px 0;}
    .PrivacySection ul li {float: left;padding: 0 12px;border-left: 1px solid #c5c5c5;}
    .PrivacySection ul li:first-child {border-left: medium none;}
    .PrivacySection ul li a {color: #c5c5c5;}
    .PrivacySection ul li a:hover {color: #02bd85;}
/*  ------------------------------------------------------------
    NEWSLETTER
    ------------------------------------------------------------  */
    .NewsLetter {background: none repeat scroll 0 0 #FFFFFF;}
    .NewsLetter .input-group .form-control-wrapper {margin: 19px 0;}
    .NewsLetter .input-group .form-control {width: 400px;background: none repeat scroll 0 0 #ebebeb;border: medium none;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);height: 34px;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;}
    .NewsLetter .input-group .btn-default {background: none repeat scroll 0 0 #02bd85;border: medium none;color: #FFFFFF;width: 152px;margin: 0 0 0 34px;height: 72px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;font-weight: lighter;font-size: 22px;}
    .NewsLetter ul li .media-heading {color: #221918;}
    .NewsLetter ul li .media-body {margin: 12px 0 0;}
    .NewsLetter ul li i {color: #221918;font-size: 72px;}
/*  ------------------------------------------------------------
    COPYRIGHT
    ------------------------------------------------------------  */
    .CopyRightWrapper {background: none repeat scroll 0 0 #02bd85;text-align: center;font: bold 11px'Arial', Helvetica, sans-serif;}
    .CopyRightWrapper .CopyRight {line-height: 30px;color: #FFFFFF;}
/*  ------------------------------------------------------------
    BREADCRUMB
    ------------------------------------------------------------  */
    .BreadCrumbWrapper {width: 100%;}
    .BreadCrumbWrapper .breadcrumb {background: none repeat scroll 0 0 transparent;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;margin: 0 0 0 0;}
    .BreadCrumbWrapper .breadcrumb li {font-size: 12px;color:#9b9b9b;}
    .BreadCrumbWrapper .breadcrumb li a {color:#9b9b9b;}
    .BreadCrumbWrapper .breadcrumb li a:hover {color:#221918;}
/*  ------------------------------------------------------------
    OUR CROW , GROUP MEMBERS
    ------------------------------------------------------------  */
    #OurCrow {margin: 20px 0 0;}
    #OurCrow .Members {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;padding: 8px 8px 0 8px;}
    #OurCrow .Members .MembersImage {position: relative;}
    #OurCrow .Members .MembersImage .Buttons {position: absolute;top: 0;right: 0;}
    #OurCrow .Members .MembersImage .Buttons i {background: none repeat scroll 0 0 #02bd85;width: 33px;height: 33px;float: right;text-align: center;line-height: 33px;color: #221918;text-shadow: 0 1px 0 rgba(255,255,255,0.2);-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #OurCrow .Members .MembersImage .Buttons i:hover {background: none repeat scroll 0 0 #221918;color: #ffffff;}
    #OurCrow .Members .MembersImage .Buttons i.InVisible{display: none;}
    #OurCrow .Members:hover .MembersImage .Buttons i.InVisible{display: block;}
    #OurCrow .Members:hover {background: none repeat scroll 0 0 #02bd85;color: #ffffff;}
    #OurCrow .Members:hover h3 {color: #ffffff;}
    #OurCrow .Members:hover p {color: #ffffff;}
    #OurCrow .Members p {color: #919090;font: 11px'Arial', Tahoma;}
/*  ------------------------------------------------------------
    SPECIAL DIVIDER
    ------------------------------------------------------------  */
    .SpecialDivider {clear: both;text-align: center;height: 2px;margin: 40px auto 40px;position: relative;width: 100%;background-color: #dedede;display: table;-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
    .SpecialDivider span {background-color: #282828;top: -40px;position: absolute;-webkit-border-radius: 200px 200px 200px;-moz-border-radius: 200px 200px 200px;border-radius: 200px 200px 200px;border: 12px solid #ebebeb;margin-left: -40px;color: #FFFFFF;font-size: 24px;display: table-cell;line-height: 54px;left: 50%;width: 80px;height: 80px;}
/*  ------------------------------------------------------------
    OUR SKILS
    ------------------------------------------------------------  */
    .SkilsWrapper {margin: 0 0 60px;text-align: center;}
    .SkilsWrapper .SkilsTitle {text-align: center;margin: 0 0 36px;}
    .SkilsWrapper .OurSkils {text-align: center;margin: 30px 0 30px;}
    .SkilsWrapper .OurSkils h3 {color: #555555;}
    .SkilsWrapper .OurSkils small {color: #b4b4b4;}
/*  ------------------------------------------------------------
    BLOG NAVIGATION
    ------------------------------------------------------------  */
    .BlogNavigation {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;margin: 10px 0 20px;}
    .BlogNavigation .NavigationBrand {color: #221918;}
    .BlogNavigation .SearchInput {border: 1px solid #c7c7c7;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;width: 298px;}
    .BlogNavigation .SearchButton {border: medium none;background: none repeat scroll 0 0 transparent;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
    .BlogNavigation .Navigation {margin-right: 0 !important;}
    .BlogNavigation .Navigation > li {padding: 0 0 0;margin: 15px 0;}
    .BlogNavigation .Navigation > li > a {border-right: 1px solid #544b4a;padding: 0 18px 0;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .BlogNavigation .Navigation > li:first-child > a {padding: 0 18px 0 0;}
    .BlogNavigation .Navigation > li:last-child > a {padding: 0 8px 0 8px;}
    .BlogNavigation .Navigation > li > a:hover {color: #02bd85;}
    .BlogNavigation .Navigation ul.dropdown-menu {background: none repeat scroll 0 0 #525252;border-radius: 0 0 0 0;box-shadow: none;border: medium none;padding: 0 0 0;margin: 8px 0 0;right: 0;left: inherit;}
    .BlogNavigation .Navigation ul.dropdown-menu > li > a {color: #FFFFFF;padding: 12px 20px;}
    .BlogNavigation .Navigation ul.dropdown-menu > li > a:hover {background: none repeat scroll 0 0 #02bd85;}
/*  ------------------------------------------------------------
    BLOG POSTS, Article
    ------------------------------------------------------------  */
    article#article {margin: 0 0 30px;}
    article#article .ImageWrapper {position: relative;}
    article#article .ImageWrapper .PostImage {width: 100%;}
    article#article .ImageWrapper .Buttons {position: absolute;bottom: 0;right: 0;}
    article#article .ImageWrapper .Buttons a {background: none repeat scroll 0 0 #221918;color: #FFFFFF;float: right;width: 30px;height: 30px;float: right;text-align: center;line-height: 32px;}
    article#article .ImageWrapper .Buttons a.active {background: none repeat scroll 0 0 #02bd85;float: right;}
    article#article .PostMeta {font: 12px'Arial', Helvetica, sans-serif;color: #FFFFFF;background: none repeat scroll 0 0 #02bd85;height: 30px;}
    article#article .PostMeta ul {list-style: none outside none;}
    article#article .PostMeta ul li {float: left;padding: 0 26px;line-height: 30px;}
    article#article .PostMeta ul li:first-child {background: none repeat scroll 0 0 #221918;}
    article#article .PostMeta ul li:last-child {padding: 0 0 0 26px;}
    article#article .PostMeta ul li a {color: #FFFFFF;}
    article#article .SinglePost {padding: 20px 20px 20px;position: relative;}
    article#article .SinglePost .PostTitle {float: left;text-align: left;}
    article#article .SinglePost .PostTitle h2 {color: #221918;font-weight: bold;padding: 0 0 4px;}
    article#article .SinglePost .PostTitle small {color: #a9aaa9;}
    article#article .SinglePost .PostContent {margin: 30px 0 0;float: left;}
    article#article .SinglePost .PostContent blockquote {background: none repeat scroll 0 0 #F6F6F6;padding: 30px 30px 30px;color: #A1A1A1;font-style: italic;}
    article#article .SinglePost .PostContent h3 {padding: 0 0 4px;color: #02bd85;}
    article#article .SinglePost .PostContent p {color: #767676;padding: 0 0 30px;}
    article#article .SinglePost .PostContent p a {color: #02bd85;}
    article#article .SinglePost .PostContent p a:hover {color: #221918;}
    article#article .SinglePost .ReadMore {position: absolute;bottom: 0;right: 0;}
    article#article .SinglePost .ReadMore .Button {color: #FFFFFF;background: none repeat scroll 0 0 #02bd85;display: block;width: 60px;height: 30px;line-height: 30px;text-align: center;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    article#article .SinglePost .ReadMore .Button:hover {background: none repeat scroll 0 0 #221918;}
/*  ------------------------------------------------------------
    PAGE NAVIGATION
    ------------------------------------------------------------  */
    #PaginationWrapper {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 60px;text-align: center;height: 30px;position: relative;}
    #PaginationWrapper a.PaginationCtrlLeft {position: absolute;bottom: 0;left: 0;display: block;width: 30px;height: 30px;text-align: center;line-height: 30px;background: none repeat scroll 0 0 #221918;color: #FFFFFF;}
    #PaginationWrapper a.PaginationCtrlRight {position: absolute;bottom: 0;right: 0;display: block;width: 30px;height: 30px;text-align: center;line-height: 30px;background: none repeat scroll 0 0 #221918;color: #FFFFFF;}
    #PaginationWrapper ul.pagination {display: inline-block;margin: 0 auto;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;}
    #PaginationWrapper ul.pagination li {float: left;background: none repeat scroll 0 0 #f6f6f6;padding: 0 12px;}
    #PaginationWrapper ul.pagination li.active {background: none repeat scroll 0 0 #02bd85;}
    #PaginationWrapper ul.pagination li.active a {color: #FFFFFF;}
    #PaginationWrapper ul.pagination li a {line-height: 30px;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;border: medium none;padding: 0 0 0;background: none repeat scroll 0 0 transparent;color: #221918;}
/*  ------------------------------------------------------------
    WIDGET
    ------------------------------------------------------------  */
    .Widget {margin-bottom: 20px;}
    .Widget .WidgetTitle {position: relative;}
    .Widget .WidgetTitle h4 {padding-bottom: 8px;}
    .Widget .WidgetTitle .CloseWidget {position: absolute;bottom: 0;right: 0;text-align: center;line-height: 22px;color: #FFFFFF;display: block;width: 26px;height: 22px;background: none repeat scroll 0 0 #221918;cursor: pointer;}
    .Widget .WidgetBody {padding: 24px 24px 24px;border-top: 3px solid #221918;position: relative;}
    .Widget .WidgetBody ul {margin: 0 0 20px;}
    .Widget .WidgetBody ul li {padding: 5px 0;}
/*  ------------------------------------------------------------
    CATEGORIES WIDGET
    ------------------------------------------------------------  */
    .Widget .BlogCategories {padding: 10px 20px !important;}
    .Widget .BlogCategories ul {margin: 0 0 !important;}
    .Widget .BlogCategories ul li {border-bottom: 1px solid #efefef;padding: 10px 0 6px !important;}
    .Widget .BlogCategories ul li a {color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .Widget .BlogCategories ul li a:hover {color: #02bd85;}
    .Widget .BlogCategories ul li:last-child {border-bottom: medium none;}
/*  ------------------------------------------------------------
    LATEST POSTS WIDGET
    ------------------------------------------------------------  */
    .Widget .LatestPost {padding: 12px 24px 12px;}
    .Widget .LatestPost ul li {border-bottom: 1px solid #f0f0f0;}
    .Widget .LatestPost ul li small {color: #b0aeae;font-style: italic;}
    .Widget .LatestPost ul li h4 {color: #221918;}
    .Widget .LatestPost ul li p {color: #767676;}
/*  ------------------------------------------------------------
    TWEETER WIDGET
    ------------------------------------------------------------  */
    .Widget .LatestTweets {padding: 24px 24px 8px;}
    .Widget .LatestTweets ul {font-family:'Arial', Helvetica, sans-serif;}
    .Widget .LatestTweets ul li {border-bottom: 1px solid #f0f0f0;color: #595857;padding: 8px 0;}
    .Widget .LatestTweets ul li:last-child {border: medium none;}
    .Widget .LatestTweets ul li a {color: #66b8f1;}
/*  ------------------------------------------------------------
    ACCORDION WIDGET
    ------------------------------------------------------------  */
    .Widget .Accordion {padding: 10px 20px !important;}
    .Widget .Accordion ul {margin: 0 0 !important;}
    .Widget .Accordion ul li {border-top: 1px solid #efefef;padding: 18px 0 18px !important;}
    .Widget .Accordion ul li:first-child {border-top: medium none;}
    .Widget .Accordion ul li a.Plus:before {content:'\e81d';font-family:"FontAwesome";padding: 0 12px 0 0;}
    .Widget .Accordion ul li a.Minus:before {content:'\e821';font-family:"FontAwesome";padding: 0 12px 0 0;}
    .Widget .Accordion ul li a {color: #221918;font-weight: bolder;text-decoration: none;}
    .Widget .Accordion p {color: #767676;padding: 0 8px 20px 20px !important;font: 12px'Arial';}
/*  ------------------------------------------------------------
    TAGS WIDGET
    ------------------------------------------------------------  */
    .Widget .TagsWidget {padding: 18px 0;}
    .Widget .TagsWidget a {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);padding: 4px 8px;color: #221918;white-space: nowrap;line-height: 34px;margin: 0 4px 0 0;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .Widget .TagsWidget a:hover {background: none repeat scroll 0 0 #02bd85;color: #FFFFFF;}
/*  ------------------------------------------------------------
    POST AUTHOR INFORMATION
    ------------------------------------------------------------  */
    .PostAuthor {margin: 0 0 60px;}
    .PostAuthor .PostAuthorImage {border: 1px solid #e6e6e6;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 20px;}
    .PostAuthor .PostAuthorImage img {padding: 4px 4px 4px;max-width: 100%;}
    .PostAuthor .PostAuthorImage h4 {color: #282828;padding: 2px 0 6px;text-align: center;line-height: 12px;font-size: 12px;}
    .PostAuthor .AuthorInformation {background: none repeat scroll 0 0 #FFFFFF;position: relative;}
    .PostAuthor .AuthorInformation p {color: #767676;padding: 16px 12px;}
    .PostAuthor .AuthorInformation .Triangle {position: absolute;left: 0;bottom: 0;border-left: 6px solid transparent;border-right: 6px solid #FFFFFF;border-bottom: 6px solid transparent;border-top: 6px solid #FFFFFF;width: 0;height: 0;margin: 0 0 0 -12px;}
    .PostAuthor .MetaPostAuthor {font: 12px'Arial', Helvetica, sans-serif;color: #FFFFFF;background: none repeat scroll 0 0 #02bd85;min-height: 30px;}
    .PostAuthor .MetaPostAuthor ul {list-style: none outside none;}
    .PostAuthor .MetaPostAuthor ul li {float: left;padding: 0 26px;line-height: 30px;}
    .PostAuthor .MetaPostAuthor ul li:last-child {background: none repeat scroll 0 0 #221918;}
    .PostAuthor .MetaPostAuthor ul li a {color: #FFFFFF;}
    .PostAuthor .Socials ul li {padding: 10px 20px;float: left;}
    .PostAuthor .Socials ul li a {color: #c7c7c7;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .PostAuthor .Socials ul li a:hover {color: #606060;}
/*  ------------------------------------------------------------
    COMMENTS
    ------------------------------------------------------------  */
    #CommentsWrapper {margin: 0 0 20px;}
    #CommentsWrapper .SectionTitle {text-align: center;color: #282828;margin: 0 0 24px;}
    #CommentsWrapper .Comments {margin: 0 0 60px;}
    #CommentsWrapper .Comments .media > .pull-left {margin-right: 20px !important;}
    #CommentsWrapper .Comments .Gravatar {position: relative;border: 1px solid #e6e6e6;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);}
    #CommentsWrapper .Comments .Gravatar img {padding: 4px 4px 4px;max-width: 100%;}
    #CommentsWrapper .Comments .Gravatar h4 {color: #282828;padding: 2px 0 8px;text-align: center;line-height: 12px;font-size: 12px;}
    #CommentsWrapper .Comments .Comment {background: none repeat scroll 0 0 #FFFFFF;position: relative;}
    #CommentsWrapper .Comments .Comment p {color: #767676;padding: 18px 12px 26px;line-height: 24px;}
    #CommentsWrapper .Comments .Comment .ReplyButton {line-height: 24px;text-align: center;width: 94px;height: 24px;display: block;position: absolute;bottom: 0;right: 0;background: none repeat scroll 0 0 #02bd85;}
    #CommentsWrapper .Comments .Comment .ReplyButton a {color: #FFFFFF;text-align: center;}
    #CommentsWrapper .LeaveMassage .CommentInput {margin: 0 0 15px;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;}
    #CommentsWrapper .LeaveMassage .CommentTextArea {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;resize: vertical;}
    #CommentsWrapper .SubCleButtons {font-size: 11px;}
    #CommentsWrapper .SubCleButtons .Button {background: none repeat scroll 0 0 #221918;border: medium none;color: #FFFFFF;padding: 5px 54px;float: right;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #CommentsWrapper .SubCleButtons .Button:hover {background: none repeat scroll 0 0 #02bd85;}
/*  ------------------------------------------------------------
    CONTACT US
    ------------------------------------------------------------  */
    #ContactWrapper {margin: 0 0 40px;}
    #ContactWrapper .LeaveMassage .MassageInput {margin: 0 0 15px;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;}
    #ContactWrapper .LeaveMassage .MassageTextArea {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;resize: vertical;}
    #ContactWrapper .SubCleButtons {font-size: 11px;}
    #ContactWrapper .SubCleButtons .Button {background: none repeat scroll 0 0 #221918;border: medium none;color: #FFFFFF;padding: 5px 54px;float: right;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #ContactWrapper .SubCleButtons .Button:hover {background: none repeat scroll 0 0 #02bd85;}
/*  ------------------------------------------------------------
    GOOGLE MAP
    ------------------------------------------------------------  */
    .GoogleMapWrapper {margin: 0 0 30px;}
    .GoogleMapWrapper .MapShadow {-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);}
/*  ------------------------------------------------------------
    CONTACT DETAILS
    ------------------------------------------------------------  */
    .Widget .ContactDetails {padding: 16px 18px !important;}
    .Widget .ContactDetails ul {margin: 0 0 0 !important;}
    .Widget .ContactDetails ul li h4 {color: #221918;}
    .Widget .ContactDetails ul li .media-body {color: #767676;}
    .Widget .ContactDetails ul li a {color: #221918;}
/*  ------------------------------------------------------------
    ERROR 404
    ------------------------------------------------------------  */
    .Error404 {text-align: center;margin: 150px 0 100px;}
    .Error404 h1 {font-size: 240px;margin: 0 0 40px;line-height: 170px;}
    .Error404 h1 .Orange {color: #02bd85;}
    .Error404 h2 {font-weight: bold;}
/*  ------------------------------------------------------------
    PORTFOLIO NAVIGATION
    ------------------------------------------------------------  */
    .PortfolioNavigation {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;margin: 10px 0 20px;}
    .PortfolioNavigation .NavigationBrand {color: #221918;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector {margin: 0 0 0 0;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li {padding: 0 0 0;margin: 15px 0;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li > a {border-right: 1px solid #544b4a;padding: 0 18px 0;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li:first-child > a {padding: 0 18px 0 0;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li:last-child > a {padding: 0 8px 0 8px;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li > a:hover {color: #02bd85;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector ul.dropdown-menu{background: none repeat scroll 0 0 #525252;border-radius: 0 0 0 0;box-shadow: none;border: medium none;padding: 0 0 0;margin: 8px 0 0;right: 0;left: inherit;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector ul.dropdown-menu > li > a {color: #FFFFFF;padding: 12px 20px;}
    .PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector ul.dropdown-menu > li > a:hover {background: none repeat scroll 0 0 #02bd85;}
/*  ------------------------------------------------------------
    PORTFOLIO MOSAIC
    ------------------------------------------------------------  */
    .PortfolioMosaic {margin: 0 0 20px;}
    .PortfolioMosaic .ImageWrapper {position: relative;z-index: 499;}
    .PortfolioMosaic .ImageWrapper img {width: 100%;}
    .PortfolioMosaic .ImageWrapper .ImageCaption {position: absolute;z-index: 599;bottom: 0;width: 100%;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height: 60px;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
    .PortfolioMosaic .ImageWrapper .ImageCaption .CaptionContent {color: #FFFFFF;width: 100%;text-align: center;padding: 8px 0 8px;top: 0;position: absolute;bottom: 0;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
    .PortfolioMosaic .ImageWrapper:hover .ImageCaption .CaptionContent {margin: 54% 0 0;}
    .PortfolioMosaic .ImageWrapper:hover .ImageCaption {height: 100%;}
    .PortfolioMosaic .ImageWrapper .Buttons {position: absolute;z-index: 600;top: 45%;bottom: 0;opacity: 0;left: 50%;margin: 0 0 0 -40px;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
    .PortfolioMosaic .ImageWrapper:hover .Buttons {opacity: 1;}
    .PortfolioMosaic .ImageWrapper .Buttons a {background: none repeat scroll 0 0 #FFFFFF;display: inline-block;width: 36px;height: 36px;text-align: center;line-height: 36px;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .PortfolioMosaic .ImageWrapper .Buttons a:hover {background: none repeat scroll 0 0 #02bd85;color: #FFFFFF;}
/*  ------------------------------------------------------------
    INFINTY SCROLL
    ------------------------------------------------------------  */
    #AddMore {text-align: center;margin: 20px 0 50px;}
    #AddMore a{color: #221918;font: 14px 'Open Sans', Arial, sans-serif;}
    #AddMore a:hover{color: #02bd85;}
/*  ------------------------------------------------------------
    PORTFOLIO IMAGE SLIDER CONTROLS
    ------------------------------------------------------------  */
    #PortfolioCtrlWrapper {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 20px;height: 45px;padding: 0 0 0 10px;}
    #PortfolioCtrlWrapper h3 {color: #494747;line-height: 45px;}
    #PortfolioCtrlWrapper .PortfolioCtrls a {width: 45px;height: 45px;display: inline-block;background: none repeat scroll 0 0 #221918;color: #838282;line-height: 45px;float: right;text-align: center;font-size: 18px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #PortfolioCtrlWrapper .PortfolioCtrls a:hover {background: none repeat scroll 0 0 #02bd85;color: #FFFFFF;}
/*  ------------------------------------------------------------
    PORTFOLIO, DESIGNERS
    ------------------------------------------------------------  */
    #PortfolioDesignerWrapper {margin: 0 0 20px;}
    #PortfolioDesignerWrapper .SectionTitle {text-align: center;color: #282828;margin: 0 0 24px;}
    #PortfolioDesignerWrapper .PortfolioDesigner {margin: 0 0 60px;}
    #PortfolioDesignerWrapper .PortfolioDesigner .Gravatar {border: 1px solid #e6e6e6;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 20px;}
    #PortfolioDesignerWrapper .PortfolioDesigner .Gravatar img {padding: 4px 4px 4px;max-width: 100%;}
    #PortfolioDesignerWrapper .PortfolioDesigner .Gravatar h4 {color: #282828;padding: 2px 0 6px;text-align: center;line-height: 12px;font-size: 12px;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Content {background: none repeat scroll 0 0 #FFFFFF;position: relative;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Content p {color: #767676;padding: 16px 12px;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Content .Triangle {position: absolute;left: 0;bottom: 0;border-left: 6px solid transparent;border-right: 6px solid #FFFFFF;border-bottom: 6px solid transparent;border-top: 6px solid #FFFFFF;width: 0;height: 0;margin: 0 0 0 -12px;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation {font: 12px'Arial', Helvetica, sans-serif;color: #FFFFFF;background: none repeat scroll 0 0 #02bd85;min-height: 30px;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation ul {list-style: none outside none;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation ul li {float: left;padding: 0 26px;line-height: 30px;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation ul li:last-child {background: none repeat scroll 0 0 #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation ul li a {color: #FFFFFF;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Socials ul li {padding: 10px 20px;float: left;}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Socials ul li a {color: #c7c7c7;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
    #PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Socials ul li a:hover {color: #606060;}
/*  ------------------------------------------------------------
    LUNCH PROJECT
    ------------------------------------------------------------  */
    .LunchProject {background: none repeat scroll 0 0 #02bd85;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 20px;height: 45px;text-align: center;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .LunchProject:hover {background: none repeat scroll 0 0 #221918;}
    .LunchProject h3 {color: #221918;line-height: 45px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .LunchProject:hover h3 {color: #FFFFFF;}
/*  ------------------------------------------------------------
    PROJECT DETAILS
    ------------------------------------------------------------  */
    .Widget .ProjectDetails {padding: 10px 20px !important;}
    .Widget .ProjectDetails ul {margin: 0 0 !important;}
    .Widget .ProjectDetails ul li {border-bottom: 1px solid #efefef;padding: 10px 0 6px !important;}
    .Widget .ProjectDetails ul li a {color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .Widget .ProjectDetails ul li a:hover {color: #02bd85;}
    .Widget .ProjectDetails ul li:last-child {border-bottom: medium none;}
/*  ------------------------------------------------------------
    TESTIMONIALS WIDGET
    ------------------------------------------------------------  */
    .Widget .Testimonials {padding: 24px 24px 24px;}
    .Widget .Testimonials small {color: #b0aeae;font-style: italic;}
    .Widget .Testimonials h4 {color: #221918;}
    .Widget .Testimonials p {color: #767676;padding: 0 0 8px;}
/*  ------------------------------------------------------------
    SERVICE HEADER
    ------------------------------------------------------------  */
    .ServicesHeader {margin: 0 0 20px;height: auto;max-width: 100%;background: url(../../images/headers/ServicesHeader.png) no-repeat 0 0 #02bd85;-moz-background-size: cover;-o-background-size: cover;background-size: cover;display: block;}
    .ServicesHeader .Slogan {padding-top: 45px;padding-bottom: 45px;}
/*  ------------------------------------------------------------
    SERVICE CAROUSEL
    ------------------------------------------------------------  */
    .ServicesCarouselWrapper {background: none repeat scroll 0 0 #dddddd;-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);}
    .ServicesCarouselWrapper .ServicesShortcut {padding: 20px 0;text-align: center !important;color: #a4a4a4;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);font-weight: bold;font-family:'Arial', Tahoma;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .ServicesCarouselWrapper .ServicesShortcut h4 {text-align: center !important;}
    .ServicesCarouselWrapper .ServicesShortcut.active {background: none repeat scroll 0 0 #FFFFFF;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .ServicesCarouselWrapper .ServicesShortcut.active:hover {color: #221918;}
    .ServicesCarouselWrapper .ServicesShortcut:hover {color: #666666;}
    .ServiceContent {padding: 36px 20px;margin-bottom: 30px;}
    .ServiceContent h2 {padding: 0 0 16px;color: #545453;}
    .ServiceContent p {color: #616161;font-family:'Arial', Helvetica, sans-serif;}
    .ServiceContent p a {color: #02bd85;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .ServiceContent p a:hover {color: #221918;}
    .ServiceContent p img {width: 100%;margin: 16px 0;}
    .ServicesCarouselCtrls {position: relative;z-index: 499;height: 52px;}
    .ServicesCarouselCtrls .ServicesCustomNavigation {top: 0;right: 0;position: absolute;z-index: 599;}
    .ServicesCarouselCtrls .ServicesCustomNavigation .owl-btn {display: block;width: 20px;height: 20px;background-color: #dddddd;float: right;cursor: pointer;color: #a4a4a4;line-height: 20px;}
    .ServicesCarouselCtrls .ServicesCustomNavigation .owl-btn:hover {background-color: #221918;color: #ffffff;}
/*  ------------------------------------------------------------
    SURVEY WIDGET
    ------------------------------------------------------------  */
    .Widget .SurveyWidget .VoteButton {position: absolute;bottom: 0;right: 0;}
    .Widget .SurveyWidget .VoteButton a {color: #FFFFFF;padding: 5px 15px 5px;background: none repeat scroll 0 0 #02bd85;display: inline-block;}
/*  ------------------------------------------------------------
    SPECIAL WIDGET
    ------------------------------------------------------------  */
    .SpecialWidget {margin-bottom: 20px;}
    .SpecialWidget .WidgetBody ul a {color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
    .SpecialWidget .WidgetBody ul a:hover {color: #02bd85;}
    .SpecialWidget .WidgetBody ul li {border-bottom: 1px solid #d9d9d9;border-top: 1px solid #f5f5f5;padding: 18px 6px;}
    .SpecialWidget .WidgetBody ul li:first-child {border-top: medium none;}
    .SpecialWidget .WidgetBody ul li:last-child {border-bottom: medium none;}

/*  ============================================================
    HOME PAGE NO#2
    ============================================================  */


/*  ------------------------------------------------------------
    FULL WIDTH NAVIGATION
    ------------------------------------------------------------  */
    #FullWidthNavigation {background:none repeat scroll 0 0 #221918;z-index:300;position:relative;}
    #FullWidthNavigation .navbar-collapse {border:medium none;}
    #FullWidthNavigation .navbar-default {background:none repeat scroll 0 0 #221918;border-radius:0 0 0 0;box-shadow:none;border:medium none;margin:0 0 0 0;z-index:300;}
    #FullWidthNavigation .navbar-default ul.nav .caret {border-bottom-color:#02bd85;border-top-color:#02bd85;}
    #FullWidthNavigation .navbar-default ul.nav .open a {background:none repeat scroll 0 0 transparent;border:medium none;}
    #FullWidthNavigation .navbar-default ul.nav .open a:hover {background:none repeat scroll 0 0 transparent;border:medium none;}
    #FullWidthNavigation .navbar-default ul.nav .open a:focus {background:none repeat scroll 0 0 transparent;border:medium none;}
    #FullWidthNavigation .navbar-default ul.nav li {font-size:11px;font-weight:bold;}
    #FullWidthNavigation .navbar-default ul.nav li a {padding:0 64px 0 35px;background:none repeat scroll 0 0 transparent;border-radius:0 0 0;color:#FFFFFF;line-height:50px;box-shadow:none;text-shadow:none;}
    #FullWidthNavigation .navbar-default ul.nav li a:hover {background:none repeat scroll 0 0 transparent;color:#999999;}
    #FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu {background:none repeat scroll 0 0 #02bd85;border-radius:0 0 0;border:medium none;margin:0 0 0;padding:0 0 0;}
    #FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li {border-bottom: 1px solid #009166;border-top: 1px solid #16d39a;}
    #FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:first-child {border-top: medium none;}
    #FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:last-child {border-bottom: medium none;}
    #FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li a {color:#221918;padding:0 10px 0 25px !important;line-height: 38px !important;}
    #FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:hover {background:none repeat scroll 0 0 #221918;}
    #FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:hover a {color:#FFFFFF;}
    #FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:hover a:hover {color:#FFFFFF;}
    #FullWidthNavigation .StyleSwitcher {position:absolute;width:50%;background:none repeat scroll 0 0 #221918;right:0;line-height:50px;top:0;z-index:299;}
    #FullWidthNavigation .StyleSwitcher i {display:block;height:50px;width:50px;background:none repeat scroll 0 0 #02bd85;color:#221918;float:right;text-align:center;font-size:24px;}
/*  ------------------------------------------------------------
    FULL WIDTH SLIDER
    ------------------------------------------------------------  */
    #FullWidthNivoSlider {margin:0 0 10px;}
    #FullWidthNivoSlider .NivoSliderWrapper {width:100%;overflow:hidden;position:relative;}
    #FullWidthNivoSlider .NivoSliderWrapper .carousel-caption {bottom:0;padding:20px 20px 20px;left:15.2%;right:15.2%;background:none repeat scroll 0 0 rgba(0,0,0,.4);text-align:left;}
    #FullWidthNivoSlider .NivoSliderWrapper .carousel-control-home-version2 .icon-angle-left,
    #FullWidthNivoSlider .NivoSliderWrapper .carousel-control-home-version2 .icon-angle-right {font-size:144px;color:#02bd85;position:absolute;display:inline-block;top:30%;right:4%;bottom:0;}

/*  ============================================================
    COLUMNS
    ============================================================  */
    .ColumnBlock {display: block;width: 100%;height: 40px;line-height: 40px;text-align: center;}

/*  ============================================================
    ELEMENTS
    ============================================================  */
    .ElementsHeader {margin: 0 0 20px;height: auto;max-width: 100%;background: url(../../images/headers/ElementsHeader.png) no-repeat 0 0 #02bd85;-moz-background-size: cover;-o-background-size: cover;background-size: cover;display: block;}
    .ElementsHeader .Slogan {padding-top: 45px;padding-bottom: 45px;}
    .ElementsDividerWrapper .SectionTitle {text-align: center;color: #282828;margin: 0 0 35px;font: 16px 'Open Sans',Arial,sans-serif;}
/*  ------------------------------------------------------------
    ALERTS
    ------------------------------------------------------------  */
    .SuccessAlert {background-color: #d3ebb7;border: 1px solid #9adf8f;padding: 15px 24px;color: #404040;}
    .SuccessAlert a {color: #6da662;font-size: 42px;}
    .SuccessAlert h4 {color: #258815;font: 16px 'Open Sans',Arial,sans-serif;}
    .WarningAlert {background-color: #f3f1c4;border: 1px solid #e5db55;padding: 15px 24px;color: #404040;}
    .WarningAlert a {color: #dbd149;font-size: 42px;}
    .WarningAlert h4 {color: #878314;font: 16px 'Open Sans',Arial,sans-serif;}
    .ErrorAlert {background-color: #f6cace;border: 1px solid #df8f90;padding: 15px 24px;color: #404040;}
    .ErrorAlert a {color: #d46e77;font-size: 42px;}
    .ErrorAlert h4 {color: #871414;font: 16px 'Open Sans',Arial,sans-serif;}
/*  ------------------------------------------------------------
    VIDEO
    ------------------------------------------------------------  */
    .VideoContainer {position: relative;overflow: hidden;margin-top: 20px;margin-bottom: 10px;padding: 20px 0 52%;}
    .VideoContainer iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
/*  ------------------------------------------------------------
    PLUGINS
    ------------------------------------------------------------  */
    .nivo-directionNav a {color: #02bd85 !important;}
    .MasterSliderWrapper {position: relative !important;}
    .placeholder {color: #c8c8c8;}
    .isotope,
    .isotope .isotope-item {-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-o-transition-duration: 0.8s;transition-duration: 0.8s;}
    .isotope-item {z-index: 2;}
    .isotope-hidden.isotope-item {pointer-events: none;z-index: 1;}
    .isotope {-webkit-transition-property: height, width;-moz-transition-property: height, width;-o-transition-property: height, width;transition-property: height, width;}
    .isotope .isotope-item {-webkit-transition-property: -webkit-transform, opacity;-moz-transition-property: -moz-transform, opacity;-o-transition-property: -o-transform, opacity;transition-property: transform, opacity;}
    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {-webkit-transition-duration: 0s;-moz-transition-duration: 0s;-o-transition-duration: 0s;transition-duration: 0s;}