﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <table style="width:100%;">
	<tr>
		<td style="background-color:#333333; padding:5px; border-bottom-width:1px;border-bottom-color:black;">
			<a href="http://www.ceuavenue.com"><img src="http://www.ceuavenue.com/images/logo2.png" alt="ceuavenue.com" border="0" /></a>
		</td>
	</tr>
    </table>

    <p>An account has been created for you on <a href="http://www.ceuavenue.com/account/login.aspx">ceuavenue.com</a>.  Your login credentials are:</p>

    <table>
    <tr>
		<td>Username: </td>
		<td><%Username%></td>
    </tr>
	<tr>
		<td>Password: </td>
		<td><%Password%></td>
    </tr>
    </table>
    <p>After logging in, please change your password.  To do this: </p>
        <ul>
            <li>Navigate to your account page (click the "Account" link in the upper right-hand corner)</li>
            <li>Click "Change Password"</li>
        </ul>
    <p>Please contact your association's administrator if you have questions.</p>
    <p style="font-style:italic;">Your account was created on <%CreatedDateTime%> by <%CreatedByUsername%>.</p>
   
</body>
</html>
