/*Telerik RadGrid MetroOrange Skin*/

/*global*/

.RadGrid_MyMetroOrange
{
	border:1px solid #e5e5e5;
	background:#fff;
	color:#000;
}

.RadGrid_MyMetroOrange,
.RadGrid_MyMetroOrange .rgMasterTable,
.RadGrid_MyMetroOrange .rgDetailTable,
.RadGrid_MyMetroOrange .rgGroupPanel table,
.RadGrid_MyMetroOrange .rgCommandRow table,
.RadGrid_MyMetroOrange .rgEditForm table,
.RadGrid_MyMetroOrange .rgPager table,
.GridToolTip_MyMetroOrange
{
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_MyMetroOrange .rgHeader:first-child,
.RadGrid_MyMetroOrange th.rgResizeCol:first-child,
.RadGrid_MyMetroOrange .rgFilterRow>td:first-child,
.RadGrid_MyMetroOrange .rgRow>td:first-child,
.RadGrid_MyMetroOrange .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_MyMetroOrange .rgAdd,
.RadGrid_MyMetroOrange .rgRefresh,
.RadGrid_MyMetroOrange .rgEdit,
.RadGrid_MyMetroOrange .rgDel,
.RadGrid_MyMetroOrange .rgFilter,
.RadGrid_MyMetroOrange .rgPagePrev,
.RadGrid_MyMetroOrange .rgPageNext,
.RadGrid_MyMetroOrange .rgPageFirst,
.RadGrid_MyMetroOrange .rgPageLast,
.RadGrid_MyMetroOrange .rgExpand,
.RadGrid_MyMetroOrange .rgCollapse,
.RadGrid_MyMetroOrange .rgSortAsc,
.RadGrid_MyMetroOrange .rgSortDesc,
.RadGrid_MyMetroOrange .rgUpdate,
.RadGrid_MyMetroOrange .rgCancel,
.RadGrid_MyMetroOrange .rgUngroup,
.RadGrid_MyMetroOrange .rgExpXLS,
.RadGrid_MyMetroOrange .rgExpDOC,
.RadGrid_MyMetroOrange .rgExpPDF,
.RadGrid_MyMetroOrange .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/
.RadGrid_MyMetroOrange .rgHeader,
.RadGrid_MyMetroOrange th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
}

.RadGrid_MyMetroOrange th.rgSorted
{
	background-color:#e5e5e5;
}

.RadGrid_MyMetroOrange .rgHeader,
.RadGrid_MyMetroOrange .rgHeader a
{
	color:#767676;
}

.RadGrid_MyMetroOrange th.rgSorted,
.RadGrid_MyMetroOrange th.rgSorted a
{
	color:#000;
}

/*rows*/

.RadGrid_MyMetroOrange .rgRow td,
.RadGrid_MyMetroOrange .rgAltRow td,
.RadGrid_MyMetroOrange .rgEditRow td,
.RadGrid_MyMetroOrange .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
}

.RadGrid_MyMetroOrange .rgRow td
{
	border-color:#fff #e5e5e5;
}

.RadGrid_MyMetroOrange .rgAltRow
{
	background:#ededed;
}

.RadGrid_MyMetroOrange .rgAltRow td
{
	border-color:#e5e5e5;
}

.RadGrid_MyMetroOrange .rgSelectedRow .rgSorted,
.RadGrid_MyMetroOrange .rgActiveRow .rgSorted,
.RadGrid_MyMetroOrange .rgHoveredRow .rgSorted,
.RadGrid_MyMetroOrange .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_MyMetroOrange .rgRow a,
.RadGrid_MyMetroOrange .rgAltRow a,
.RadGrid_MyMetroOrange tr.rgEditRow a,
.RadGrid_MyMetroOrange .rgFooter a,
.RadGrid_MyMetroOrange .rgEditForm a
{
	color:#000;
}

.RadGrid_MyMetroOrange .rgHoveredRow
{
	background:#e5e5e5;
}

.RadGrid_MyMetroOrange .rgSelectedRow
{
	color:#fff;
	background:#ff6900;
}

.RadGrid_MyMetroOrange .rgSelectedRow input,
.RadGrid_MyMetroOrange .rgSelectedRow a
{
	color:#fff;
}

.RadGrid_MyMetroOrange .rgActiveRow
{
	background:#fff 0 -5200px repeat-x url('Grid/sprite.gif');
	color:#000;
}

.RadGrid_MyMetroOrange .rgActiveRow input,
.RadGrid_MyMetroOrange .rgActiveRow a
{
	color:#000;
}
*+html .RadGrid_MyMetroOrange .rgSelectedRow .rgSorted{background-color:#ffa517}
* html .RadGrid_MyMetroOrange .rgSelectedRow .rgSorted{background-color:#ffa517}

*+html .RadGrid_MyMetroOrange .rgActiveRow .rgSorted,
*+html .RadGrid_MyMetroOrange .rgHoveredRow .rgSorted{background-color:#ffe79c}
* html .RadGrid_MyMetroOrange .rgActiveRow .rgSorted,
* html .RadGrid_MyMetroOrange .rgHoveredRow .rgSorted{background-color:#ffe79c}

.RadGrid_MyMetroOrange .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_MyMetroOrange .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_MyMetroOrange .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_MyMetroOrange .rgHoveredRow td,
.RadGrid_MyMetroOrange .rgHoveredRow td.rgSorted
{
	border-color:#c3c3c3;
}

.RadGrid_MyMetroOrange .rgActiveRow td,
.RadGrid_MyMetroOrange .rgActiveRow td.rgSorted,
.RadGrid_MyMetroOrange .rgSelectedRow td,
.RadGrid_MyMetroOrange .rgSelectedRow td.rgSorted
{
	border-color:#ff6900;
}

.RadGrid_MyMetroOrange .rgEditRow td,
.RadGrid_MyMetroOrange .rgEditRow td.rgSorted
{
	border-color:#616161 #c3c3c3;
}

.RadGrid_MyMetroOrange .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_MyMetroOrange .rgFooterDiv,
.RadGrid_MyMetroOrange .rgFooter
{
	background:#e4e4e4;
}

.RadGrid_MyMetroOrange .rgFooter td
{
	border-top:1px solid;
	border-color:#999 #e4e4e4;
}

/*status*/

.RadGrid_MyMetroOrange .rgPager .rgStatus
{
	border:1px solid;
	border-color:#e5e5e5;
	border-left-width:0;
}

.RadGrid_MyMetroOrange .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_MyMetroOrange td.rgPagerCell
{
	border:1px solid;
	border-color:#e5e5e5;
	border-right-width:0;
}

.RadGrid_MyMetroOrange .rgInfoPart
{
	color:#777;
}

.RadGrid_MyMetroOrange .rgInfoPart strong
{
	color:#000;
}

.RadGrid_MyMetroOrange .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_MyMetroOrange .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_MyMetroOrange .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_MyMetroOrange .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_MyMetroOrange .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_MyMetroOrange .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_MyMetroOrange .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_MyMetroOrange .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_MyMetroOrange .rgPager .rgPagerButton
{
	border-color:#ff6900;
	background:#ff6900;
	color:#fff;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_MyMetroOrange .rgNumPart a
{
	border:1px solid #fff;
	line-height:20px;
	color:#767676;
}

.RadGrid_MyMetroOrange .rgNumPart a:hover
{
	color:#000;
	background-color:#e5e5e5;
}

.RadGrid_MyMetroOrange .rgNumPart a.rgCurrentPage,
.RadGrid_MyMetroOrange .rgNumPart a.rgCurrentPage:hover
{
	border-color:#ff6900;
	background:transparent;
}

/*sorting, reordering*/

.RadGrid_MyMetroOrange .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_MyMetroOrange .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_MyMetroOrange,
.GridReorderBottom_MyMetroOrange
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_MyMetroOrange
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_MyMetroOrange .rgFilterRow td
{
	border-bottom:1px solid #e5e5e5;
}

.RadGrid_MyMetroOrange .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_MyMetroOrange .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_MyMetroOrange .rgFilterActive,
.RadGrid_MyMetroOrange .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_MyMetroOrange .rgFilterBox
{
	border-color:#e5e5e5;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
	height:15px;
}

/*filter context menu*/

.RadMenu_MyMetroOrange .rgHCMClear,
.RadMenu_MyMetroOrange .rgHCMFilter
{
	border-color:#7e7e7e;
	background:#ff6900;
	color:#000;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.RadMenu_MyMetroOrange .rgHCMClear:hover,
.RadMenu_MyMetroOrange .rgHCMFilter:hover
{
	border-color:#c98400;
	background-color:#ffe79c;
	color:#882501;
}

/*context menu*/

.GridContextMenu_MyMetroOrange .rmLeftImage
{
	background-image:url('Grid/contextMenu.gif');
}

.GridContextMenu_MyMetroOrange .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_MyMetroOrange .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_MyMetroOrange .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_MyMetroOrange .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_MyMetroOrange .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_MyMetroOrange .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_MyMetroOrange .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_MyMetroOrange .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_MyMetroOrange .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	background:#ff6900;
	color:#fff;
}

.RadGrid_MyMetroOrange .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_MyMetroOrange .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_MyMetroOrange .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_MyMetroOrange .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_MyMetroOrange .rgUngroup
{
	background-position:0 -6999px;
}

.RadGrid_MyMetroOrange .rgGroupItem
{
	border:1px solid #7e7e7e;
	background:#fff;
	color:#000;
}

.RadGrid_MyMetroOrange .rgMasterTable td.rgGroupCol,
.RadGrid_MyMetroOrange .rgMasterTable td.rgExpandCol
{
	border-color:#c9c9c9;
	background:#c9c9c9 none;
}

.RadGrid_MyMetroOrange .rgGroupHeader
{
	background:#c9c9c9;
	font-size:1.1em;
	line-height:22px;
	color:#000;
}

.RadGrid_MyMetroOrange .rgGroupHeader td
{
	padding-left:8px;
	padding-bottom:2px;
}

.RadGrid_MyMetroOrange .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_MyMetroOrange .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_MyMetroOrange .rgEditForm
{
	border-bottom:1px solid #999;
}

.RadGrid_MyMetroOrange .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_MyMetroOrange .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_MyMetroOrange .rgDetailTable
{
	border-color:#999;
}

/*command row*/

.RadGrid_MyMetroOrange .rgCommandRow
{
	background: #ff6900;
	color:#fff;
}

.RadGrid_MyMetroOrange .rgCommandCell
{
	border:0;
	border-bottom:1px solid #e5e5e5;
	padding:0;
}

.RadGrid_MyMetroOrange tfoot .rgCommandCell,
.RadGrid_MyMetroOrange .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #e5e5e5;
	border-bottom:0;
}

.RadGrid_MyMetroOrange .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_MyMetroOrange .rgCommandTable
{
	border:0;
}

.RadGrid_MyMetroOrange .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_MyMetroOrange input.rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_MyMetroOrange input.rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_MyMetroOrange .rgEdit
{
	margin-right:3px;
	background-position:0 -1700px;
}

.RadGrid_MyMetroOrange .rgDel
{
	margin-right:3px;
	background-position:0 -1750px;
}

.RadGrid_MyMetroOrange .rgExpXLS,
.RadGrid_MyMetroOrange .rgExpDOC,
.RadGrid_MyMetroOrange .rgExpPDF,
.RadGrid_MyMetroOrange .rgExpCSV
{
	background-image:url('Grid/export.gif');
}

.RadGrid_MyMetroOrange .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_MyMetroOrange .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_MyMetroOrange .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_MyMetroOrange .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_MyMetroOrange
{
	background:#4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_MyMetroOrange
{
	border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_MyMetroOrange
{
	border:1px solid #c98400;
	padding:3px;
	background:#ffefbd;
	color:#333;
}

/*rtl*/

.RadGridRTL_MyMetroOrange .rgHeader:first-child,
.RadGridRTL_MyMetroOrange th.rgResizeCol:first-child,
.RadGridRTL_MyMetroOrange .rgFilterRow>td:first-child,
.RadGridRTL_MyMetroOrange .rgRow>td:first-child,
.RadGridRTL_MyMetroOrange .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_MyMetroOrange .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_MyMetroOrange .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_MyMetroOrange .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_MyMetroOrange .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_MyMetroOrange .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_MyMetroOrange .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_MyMetroOrange .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_MyMetroOrange .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_MyMetroOrange .rgExpand
{
	background-position:-20px -496px;
}