/* RadButton MetroOrangeMagneta Skin */

.RadButton_MetroOrange.rbSkinnedButton,
.RadButton_MetroOrange .rbDecorated,
.RadButton_MetroOrange .rbSecondaryIcon,
.RadButton_MetroOrange.rbVerticalButton,
.RadButton_MetroOrange.rbVerticalButton .rbDecorated
{
	background-image: none;
}

/*Simple Split Button Overrides*/
.RadButton_MetroOrange .rbSplitRight,
.RadButton_MetroOrange .rbSplitLeft
{
	background-image: url(Button/ButtonSprites.gif);
}

.RadButton_MetroOrange .rbSplitRight,
.RadButton_MetroOrange.rbLinkButton .rbSplitRight
{
	background-position: 0 0;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
}

.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitRight
{
	background-position: 0 0;
}

*html .RadButton_MetroOrange .rbSplitRight
{
	right: -1px;
}

*html .RadButton_MetroOrange.rbDisabled .rbSplitRight
{
	right: 0;
}

.RadButton_MetroOrange.rbLinkButton .rbSplitRight
{
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
}

.RadButton_MetroOrange .rbSplitRight:hover,
.RadButton_MetroOrange.rbLinkButton .rbSplitRight:hover
{
	background-color: #e5e5e5;
	border-left: 1px solid #e5e5e5;
	background-position: -19px 0;
}

.RadButton_MetroOrange .rbSplitRight:focus,
.RadButton_MetroOrange .rbSplitRight:active,
.RadButton_MetroOrange.rbLinkButton .rbSplitRight:focus,
.RadButton_MetroOrange.rbLinkButton .rbSplitRight:active
{
	background-color: #ff6900;
	border-left: 1px solid #e5e5e5;
}

.RadButton_MetroOrange .rbSplitLeft,
.RadButton_MetroOrange.rbLinkButton .rbSplitLeft
{
	background-position: 0 0;
	border-right: 1px solid #e5e5e5;
}

.RadButton_MetroOrange.rbLinkButton .rbSplitLeft
{
	background-color: #fff;
	border-right: 1px solid #e5e5e5;
}

.RadButton_MetroOrange .rbSplitLeft:hover,
.RadButton_MetroOrange.rbLinkButton .rbSplitLeft:hover
{
	background-color: #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-position: -19px 0;
}

.RadButton_MetroOrange.rbDisabled .rbSplitLeft,
.RadButton_MetroOrange.rbDisabled .rbSplitLeft:hover,
.RadButton_MetroOrange.rbDisabled .rbSplitLeft:focus,
.RadButton_MetroOrange.rbDisabled .rbSplitLeft:active,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitLeft:focus,
.RadButton_MetroOrange.rbDisabled .rbSplitRight,
.RadButton_MetroOrange.rbDisabled .rbSplitRight:hover,
.RadButton_MetroOrange.rbDisabled .rbSplitRight:focus,
.RadButton_MetroOrange.rbDisabled .rbSplitRight:active,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	background-color: transparent;
	background-position: 0 0 !important;
}

/* Needed fo IE6 */
*html .rbDisabled .rbSplitRight,
*html .rbDisabled .rbSplitRight:hover,
*html .rbDisabled .rbSplitRight:focus,
*html .rbDisabled .rbSplitRight:active,
*html .rbDisabled .rbSplitLeft,
*html .rbDisabled .rbSplitLeft:hover,
*html .rbDisabled .rbSplitLeft:focus,
*html .rbDisabled .rbSplitLeft:active
{
	background-position: 0 0 !important;
}

.RadButton_MetroOrange.rbDisabled .rbSplitLeft,
.RadButton_MetroOrange.rbDisabled .rbSplitLeft:hover,
.RadButton_MetroOrange.rbDisabled .rbSplitLeft:focus,
.RadButton_MetroOrange.rbDisabled .rbSplitLeft:active,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	border-right: 1px solid #e5e5e5;
}

.RadButton_MetroOrange.rbDisabled .rbSplitRight,
.RadButton_MetroOrange.rbLinkButton.rbDisabled .rbSplitRight
{
	border-left: 1px solid #e5e5e5;
}

.RadButton_MetroOrange .rbSplitLeft:focus,
.RadButton_MetroOrange .rbSplitLeft:active,
.RadButton_MetroOrange.rbLinkButton .rbSplitLeft:focus,
.RadButton_MetroOrange.rbLinkButton .rbSplitLeft:active
{
	background-color: #ff6900;
	border-right: 1px solid #e5e5e5;
}

.RadButton_MetroOrange.rbSkinnedButton,
.RadButton_MetroOrange.rbVerticalButton,
.RadButton_MetroOrange .rbDecorated
{
	background-color: #fff;
	color: #767676;
}

.RadButton_MetroOrange.rbSkinnedButton,
.RadButton_MetroOrange.rbVerticalButton
{
	border: 1px solid #e5e5e5;
}

*html .RadButton_MetroOrange.rbSkinnedButton,
*html .RadButton_MetroOrange.rbVerticalButton
{
	border: 1px solid #e5e5e5 !important;
}

.RadButton_MetroOrange.rbSkinnedButton:hover,
.RadButton_MetroOrange.rbVerticalButton:hover,
.RadButton_MetroOrange:hover .rbDecorated
{
	color: #000;
	background-color: #e5e5e5;
}

.RadButton_MetroOrange.rbSkinnedButton:hover,
.RadButton_MetroOrange.rbVerticalButton:hover
{
	border: 1px solid #e5e5e5;
}

.RadButton_MetroOrange.rbSkinnedButton:active,
.RadButton_MetroOrange.rbVerticalButton:active,
.RadButton_MetroOrange.rbSkinnedButton:active .rbDecorated,
.RadButton_MetroOrange.rbVerticalButton:active .rbDecorated,
.RadButton_MetroOrange.rbPressedButton.rbSkinnedButton,
.RadButton_MetroOrange.rbPressedButton .rbDecorated
{
	background-color: #ff6900;
	color: #fff;
}

.RadButton_MetroOrange.rbSkinnedButton:active,
.RadButton_MetroOrange.rbVerticalButton:active
{
	border: 1px solid #ff6900;
}

.RadButton_MetroOrange.rbSkinnedButtonChecked,
.RadButton_MetroOrange.rbSkinnedButtonChecked:hover,
.RadButton_MetroOrange.rbSkinnedButtonChecked .rbDecorated,
.RadButton_MetroOrange.rbSkinnedButtonChecked:hover .rbDecorated
{
	background-color: #ff6900;
	border: 1px solid #ff6900;
}

.RadButton_MetroOrange .rbToggleCheckbox,
.RadButton_MetroOrange .rbToggleCheckboxChecked,
.RadButton_MetroOrange .rbToggleCheckboxFilled,
.RadButton_MetroOrange .rbToggleRadio,
.RadButton_MetroOrange .rbToggleRadioChecked
{
		background-image: url(Button/ToggleSprite.gif);
}

.RadButton_MetroOrange.rbToggleButton,
.RadButton_MetroOrange.rbToggleButton.rbDisabled,
.RadButton_MetroOrange.rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_MetroOrange.rbDisabled .rbDecorated,
.RadButton_MetroOrange.rbDisabled:hover .rbDecorated,
.RadButton_MetroOrange.rbToggleButton:hover
{
	color: #6a6a6a;
}

a.RadButton_MetroOrange.rbLinkButton
{
	border: 1px solid #e5e5e5;
	text-decoration: none;
	color: #767676;
}

.RadButton_MetroOrange.rbLinkButton:hover
{
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
	color: #000;
}

.RadButton_MetroOrange.rbLinkButton:active,
a.RadButton_MetroOrange.rbLinkButtonChecked,
.RadButton_MetroOrange.rbLinkButtonChecked:hover
{
	background-color: #ff6900;
	border: 1px solid #ff6900;
	color: #fff;
}

.RadButton_MetroOrange.rbSkinnedButton,
.RadButton_MetroOrange .rbDecorated
{
	height: 20px;
}

.RadButton_MetroOrange.rbSkinnedButton.rbDisabled,
.RadButton_MetroOrange.rbVerticalButton.rbDisabled,
.RadButton_MetroOrange.rbLinkButton.rbDisabled,
.RadButton_MetroOrange.rbLinkButton.rbDisabled:hover
{
	background-color: #fff;
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
	cursor: default;
}

.RadButton_MetroOrange.rbSkinnedButton.rbDisabled .rbDecorated,
.RadButton_MetroOrange.rbVerticalButton.rbDisabled:hover .rbDecorated,
.RadButton_MetroOrange.rbLinkButton.rbDisabled,
.RadButton_MetroOrange.rbLinkButton.rbDisabled:hover
{
	background-color: #fff;
	color: #767676;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_MetroOrange.rbLinkButton,
*html .RadButton_MetroOrange.rbLinkButton:hover
{
	border: 1px solid #eee !important;
}

/* Disabled */
.RadButton_MetroOrange.rbDisabled,
.RadButton_MetroOrange.rbDisabled .rbToggleCheckbox, 
.RadButton_MetroOrange.rbDisabled .rbToggleCheckboxChecked, 
.RadButton_MetroOrange.rbDisabled .rbToggleRadio, 
.RadButton_MetroOrange.rbDisabled .rbToggleRadioChecked, 
.RadButton_MetroOrange.rbDisabled .rbToggleCheckboxFilled 
{
	opacity: .8;
}
