/*Telerik RadDataPager MetroOrange Skin*/

.RadDataPager_MetroOrange
{
	border:1px solid #e5e5e5;
	background:#fff;
	color:#000;
}

.RadDataPager_MetroOrange .rdpPageFirst,
.RadDataPager_MetroOrange .rdpPagePrev,
.RadDataPager_MetroOrange .rdpPageNext,
.RadDataPager_MetroOrange .rdpPageLast
{
	background:transparent no-repeat url('Grid/sprite.gif');
}

.RadDataPager_MetroOrange .rdpPageFirst
{
	background-position:0 -550px;
}
.RadDataPager_MetroOrange .rdpPageFirst:hover
{
	background-position:0 -600px;
}
.RadDataPager_MetroOrange .rdpPagePrev
{
	background-position:0 -700px;
}
.RadDataPager_MetroOrange .rdpPagePrev:hover
{
	background-position:0 -750px;
}
.RadDataPager_MetroOrange .rdpPageNext
{
	background-position:0 -850px;
}
.RadDataPager_MetroOrange .rdpPageNext:hover
{
	background-position:0 -900px;
}
.RadDataPager_MetroOrange .rdpPageLast
{
	background-position:0 -1000px;
}
.RadDataPager_MetroOrange .rdpPageLast:hover
{
	background-position:0 -1050px;
}

.RadDataPager_MetroOrange .rdpPagerButton
{
	border:1px solid #ff6900;
	background:#ff6900;
	color:#fff;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadDataPager_MetroOrange .rdpNumPart a
{
	border:1px solid #fff;
	color:#767676;
}

.RadDataPager_MetroOrange .rdpNumPart a:hover
{
	color:#000;
	background-color:#e5e5e5;
}

.RadDataPager_MetroOrange .rdpNumPart a.rdpCurrentPage,
.RadDataPager_MetroOrange .rdpNumPart a.rdpCurrentPage:hover
{
	border-color:#ff6900;
}