.RadDock_MetroOrange .rdMiddle .rdLeft,
.RadDock_MetroOrange .rdMiddle .rdRight
{
	background-image: url(Dock/VerticalSprite.gif);
}

.RadDock_MetroOrange .rdTop .rdLeft,
.RadDock_MetroOrange .rdTop .rdRight,
.RadDock_MetroOrange .rdTop .rdCenter,
.RadDock_MetroOrange .rdBottom .rdLeft,
.RadDock_MetroOrange .rdBottom .rdRight,
.RadDock_MetroOrange .rdBottom .rdCenter
{
	background-image: url(Dock/HorizontalSprite.gif);

}

.RadDock_MetroOrange .rdCenter .rdCommands a span
{
	background-image: url(Dock/CommandSprite.gif);
}

.RadDock_MetroOrange .rdMiddle .rdCenter,
.RadDock_MetroOrange .rdBottom .rdCenter
{
	background-color: #fff;
}

.RadDock_MetroOrange .rdContent
{
	color: #000;
}

.RadDock_MetroOrange .rdTitleBar em
{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

.RadDockZone_MetroOrange
{
	border-color: #e5e5e5;
}

