/* RadEditor for ASP.NET AJAX MetroOrange Skin */

.MetroOrange.RadEditor
{
    background-color: #fff;
}

.MetroOrange.RadEditor .reToolbar a,
.MetroOrange.RadEditor .reDropdown,
/*.MetroOrange.RadEditor .reSpinBox input,
.MetroOrange.RadEditor input,*/
.MetroOrange.RadEditor .reModule,
.MetroOrange.RadEditor .reModule td,
.MetroOrange.RadEditor .reDropDownBody,
.MetroOrange.RadEditor .reDropDownBody td,
.MetroOrange.RadEditor .reAjaxspell_wrapper,
.MetroOrange.RadEditor .reAjaxspell_button,
.MetroOrange.RadEditor .reAjaxspell_addicon,
.MetroOrange.RadEditor .reAjaxspell_ignoreicon,
.MetroOrange.RadEditor .reAjaxspell_okicon,
.MetroOrange.RadEditor .reInsertTable .reTlbVertical ul a.reTool_text span.reButton_text,
.MetroOrange.RadEditor .reColorPicker .reCustomColor,
/* DOM inspector */
.MetroOrange .reModule_domlink_selected,
.MetroOrange .reModule_domlink
/* end of DOM inspector */
{
    color: #767676;
}

.MetroOrange.RadEditor .reEditorModes a 
{
	border: 1px solid #fff;
	background-color: #fff;
	color: #767676;
}

.MetroOrange.RadEditor .reEditorModes .reMode_selected
{
	background-image: none;
	border: 1px solid #e5e5e5;
	background-color: #ff6900 !important;
	color: #fff;
}

.MetroOrange.RadEditor .reEditorModes a:hover
{
	border: 1px solid #e5e5e5;
}

/* reWrapper */
.MetroOrange.reWrapper,
.MetroOrange.RadEditor .reContentCell,
/* common settings for .reModule, .reEditorModes and .reWrapper */
.MetroOrange.reColorPicker,
.MetroOrange.reInsertTable,
.MetroOrange.reDropDownBody,
.MetroOrange.reCustomLinks a:hover
{
    border: solid 1px #e5e5e5;
}

.MetroOrange.reDropDownBody table
{
    background: transparent;
}

.MetroOrange.RadEditor .reModule,
.MetroOrange.RadEditor .reEditorModes,
.MetroOrange.RadEditor .reWrapper
{
	background-color: #fff;
}

/*NEW: Only in the Bottom zone - where the Statistics module is commonly set, remove uppper border, because it looks ugly*/
.MetroOrange.RadEditor .reBottomZone .reModule
{
    border-top: 0;
}

.MetroOrange.RadEditor .reModule
{
    border-top: solid 1px #fff;  
}

.MetroOrange.reCustomLinks a,
.MetroOrange.reCustomLinks a:link,
.MetroOrange.reCustomLinks a:visited
{
    border: solid 1px #fff; /* should be the same as the background of the dropdown */
    color: #000 !important;
}

.MetroOrange.reCustomLinks a:hover
{
    background-color: #e5e5e5;
    border: 1px solid  #e5e5e5;
}
/* end of module */

.reToolbar li
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: 0 -26px;
    color: #000;
}

.MetroOrange .reSpinBox a
{
	background-image: url(Editor/ToolBarSprites.gif);    
	-moz-user-select: none;
    outline: none;
}

/* separator */
.reToolbar.MetroOrange .reSeparator
{
    background-position: center -148px;
    background-image: url(Editor/ToolBarSprites.gif);
    background-image: url(Editor/ToolBarSprites.gif);
}

/* common settings for left and right grip */
.reToolbar.MetroOrange .reGrip
{
	background-image: url(Editor/ToolBarSprites.gif);
}

/* reTool */
.reTool span
{
    background-image: url(Editor/CommandSpritesLight.png);
}

/* IE6 does not support PNG alpha channel, so we use gifs for the command sprites instead */
* html .reTool span,
* html .reTool_text span,
* html .reTlbVertical .reTool_text span,
* html .reToolbar .reSplitButton.reTool_text span
{
    background-image: url(Editor/CommandSpritesLightIE6.gif);
}

.reDialog .reTool,
.reModule .reTool
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: 0 -242px;
}

.reDialog .reTool:hover,
.reToolbar .reTool:hover,
.reModule .reTool:hover
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: 0 -52px;
}

.reToolbar .reTool.reTool_selected,
.reToolbar .reTool.reTool_selected:hover
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: 0 -124px;
    background-repeat: no-repeat;
}

/* .reTool_text */
.reToolbar .reTool_text span
{
    background-image: url(Editor/CommandSpritesLight.png);
}

.reToolbar .reTool_text:hover
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-repeat: repeat-x;
    background-position: 0 -100px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #878787;
    border-right: solid 1px #878787;
}

.reToolbar .reTool_text.reTool_selected,
.reToolbar .reTool_text.reTool_selected:hover
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-repeat: repeat-x;
    background-position: 0 -174px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #878787;
    border-right: solid 1px #878787;
}

/* these settings will not be included in the common CSS file of RadEditor */
.reToolbar .reTool_text.reTool_disabled,
.reToolbar .reTool_text.reTool_disabled:hover
{
    margin-left: 0;
    margin-right: 0;
    border: 0;
}
/* end of reTool_text */

.reTool.reSplitButton:hover,
.reToolZone .reTool.reSplitButton,
.reToolZone .reDialog .reTool, 
.reToolZone .reModule .reTool
{
    background: url(Editor/ToolBarSprites.gif) no-repeat 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool.reSplitButton:hover
{
    background: url(Editor/ToolBarSprites.gif) no-repeat 0 -76px;
}

.MetroOrange .reTool .split_arrow
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: -28px -362px;
}

.MetroOrange .reSplitButton.reTool_text .split_arrow
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .MetroOrange .reToolbar .reTool_text .split_arrow
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool_text:hover
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: 0 -100px;
}


.reDialog .reTool.reSplitButton,
.reModule .reTool.reSplitButton
.reDialog .reTool.reSplitButton:hover,
.reModule .reTool.reSplitButton:hover
{
	background-image: url(Editor/ToolBarSprites.gif);
    background-position: 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool.reSplitButton.reTool_disabled:hover
{
    background: none;
}
/* end of reSplitButton */

/* reDropdown */
.reDropdown:link,
.reDropdown:visited
{
    color: #767676 !important;
}

.reDropdown,
.reTool_disabled.reDropdown:hover
{
    border: solid 1px #e5e5e5;
    color: #767676;
    background-image: url(Editor/ToolBarSprites.gif) !important;
    background-position: right -360px !important;
    background-color: #fff;
}

.reDropdown:hover
{
    border: solid 1px #e5e5e5;
    color: #000 !important;
    background-image: url(Editor/ToolbarVerticalSprites.gif) !important;
    background-position: right 0 !important;
    background-color: #e5e5e5;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTool_disabled.reDropdown
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: right -380px;
    background-repeat: no-repeat;
}
/* end of reDropdown */

/* vertical toolbar */
.RadEditor.MetroOrange .reTlbVertical li
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-repeat: repeat-y;
    background-position: -26px 0;
}

.RadEditor.MetroOrange .reTlbVertical .reToolbar.MetroOrange .reGrip
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
}

.RadEditor.MetroOrange .reTlbVertical .reToolbar.MetroOrange .grip_first
{
    background-position: 0 0;
}

.RadEditor.MetroOrange .reTlbVertical .reToolbar.MetroOrange .grip_last
{
    background-position: 0 -4px;
}

.RadEditor.MetroOrange .reTlbVertical .reToolbar.MetroOrange .reSeparator
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-position: -100px -12px;
}

.reTlbVertical .reTool,
.reTlbVertical .reTool_text.reSplitButton,
.reTlbVertical .reTool_text
.reTlbVertical .reTool:hover,
.reTlbVertical .reTool_text.reSplitButton:hover,
.reTlbVertical .reTool_text:hover
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-position: -76px 0 !important;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTlbVertical .reTool_text:hover
{
	background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-repeat: no-repeat;
    background-position: -76px 0;
}

.reTlbVertical .reTool.reTool_selected,
.reTlbVertical .reTool_text.reTool_selected,
.reTlbVertical .reTool_text.reTool_selected:hover
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-position: -52px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTlbVertical .reSplitButton:hover
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-position: -76px 0;
    background-repeat: no-repeat;
}
/* end of vertical toolbar */

.reDropDownBody .reTlbVertical ul li a:hover
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-position: -602px 0 !important;
}

.reDropDownBody .reTlbVertical ul li .reButton_text
{
	color: #767676;
}

.reDropDownBody .reTlbVertical ul li .reButton_text:hover
{
	color: #000;
}

/* InsertTable itself is a kind of tool strip, so it must be styled as a toolstrip */
.MetroOrange.reInsertTable
{
    background-color: #ffffff;
}

.reDropDownBody .reTlbVertical .reToolbar
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-color: #ffffff;
    background-position: -126px 0;
}
/* end of context menu and toolstrip */

/* spinbox */
.MetroOrange table.reSpinBox
{
	border: 1px solid #e5e5e5;
	background: #fff;
}

.MetroOrange table.reSpinBox:hover
{
    border: solid 1px #767676;
    color: #000;
}

.MetroOrange .reSpinBoxIncrease
{
	background-position: 0 -198px;
}

.MetroOrange .reSpinBoxIncrease:hover
{
	background-position: 0 -208px;
}

.MetroOrange .reSpinBoxDecrease
{
	background-position: -11px -198px;
}

.MetroOrange .reSpinBoxDecrease:hover
{
	background-position: -11px -208px;
}
/* end of spinbox */

/* editor input elements */
.MetroOrange.RadEditor input
{
	border: solid 1px #e5e5e5;
	background-color: #fff;
	color: #767676;
}

.MetroOrange.RadEditor input:hover
{
    border: solid 1px #767676;
    color: #000;
}
/* editor input elements */

/* editing modes */
.MetroOrange .reMode_selected
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-position: -948px 0;
}
/* end of editing modes */

.MetroOrange.reDropDownBody td
{
	color: #767676;
}

.MetroOrange.reDropDownBody .reItemOver
{
	background: #e5e5e5;
	color: #000;
}

/* end of expanded dropdowns */

* html .reTool_selected.reTool
{
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

/* color picker */
.MetroOrange.reColorPicker table div
{
	border: solid 1px #c5c5c5;
}

.MetroOrange.reColorPicker table td.reItemOver div
{
	border-color: #000;
}

.MetroOrange.reColorPicker span
{
	border: solid 1px #c5c5c5;
}
/* end of color picker */

/* ajax spellchecker */
.reAjaxspell_button
{
    border: solid 1px #e5e5e5;
    background: #ff6900;
    color: #e5e5e5;
}

.MetroOrange .reAjaxSpellCheckSuggestions table
{
    border-width: 0;
    width: 100%;
}

.MetroOrange .reAjaxSpellCheckSeparator
{
    background-color: #979797;
}
/* ajax spellchecker */

/* custom links */
.MetroOrange.reCustomLinks,
.MetroOrange.reCustomLinks ul
{
	color: #000;
}

.MetroOrange.reCustomLinks a
{
    background: none transparent;
    color: black;
	cursor: default !important;
}

.MetroOrange.reCustomLinks a:hover
{
    color: white;
}
/* end of custom links */

/* insert table dropdown */
.reInsertTable table
{
    background: #ffffff;
}

.reInsertTable table td
{
    border: solid 1px #e5e5e5;
    background: white;
}

.reInsertTable .reTlbVertical ul
{
    background-color: #ffffff;
}

.MetroOrange.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text,
.MetroOrange.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:link,
.MetroOrange.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:visited
{
    color: black !important;
    background: transparent none;
    _background: none !important;
}

.MetroOrange.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:hover
{
    background-image: url(Editor/ToolbarVerticalSprites.gif);
    background-position: -1403px 0;
}

.reInsertTable .reTlbVertical ul .reTool_text span
{
    background-image: url(Editor/CommandSpritesLight.png);
    background-position: -3575 center;
}

.reInsertTable .reToolbar li .reTool:hover
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: 0 -52px;
}
/* end of insert table dropdown */

/* modules selector */
.reModule_visible_icon,
.reModule_hidden_icon
{
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url(Editor/CommonIcons.gif);
	background-repeat: no-repeat;
}

.reModule_visible_icon
{
	background-position: -8px -199px;
}

.reModule_hidden_icon
{
	background-position: -8px -103px;
	
}
/* end of modules selector */

/* resize cell */
.reResizeCell div
{
    background-image: url(Editor/ToolBarSprites.gif);
    background-position: center -301px;
}

/* reTool_disabled */
.reDialog .reTool_disabled,
.reDialog .reTool_disabled:hover,
.reToolbar .reTool_disabled,
.reToolbar .reTool_disabled:hover,
.reModule .reTool_disabled,
.reModule .reTool_disabled:hover
{
    filter: alpha(opacity=40);
    opacity: .4;
    -moz-opacity: .4;
    background-image: none;
}
/* reTool_disabled */

/* the rule below styles RadWindow's content cell, which is used in the floating and show on focus toolbar modes */
.RadWindow_Metro.reToolbarWindow td.rwWindowContent
{
    background-color: #fff;
}