

/*========================================= Toolbar related CSS ========================*/

.RadFileExplorer_MetroOrange .RadToolBar .rtbText
{
	background-image: url('<%=WebResource("Telerik.Web.UI.Skins.MetroOrange.FileExplorer.FileExplorerToolbarSprites.png")%>');
	background-repeat: no-repeat;
}

/* IE6 does not support the alpha channel of png files, so we force it to use gif */
* html .RadFileExplorer_MetroOrange .RadToolBar .rtbText
{
	background-image: url('<%=WebResource("Telerik.Web.UI.Skins.MetroOrange.FileExplorer.FileExplorerToolbarSpritesIE6.gif")%>') !important;
}

.RadFileExplorer_MetroOrange, 
.RadFileExplorer_MetroOrange .rfeAddressBox,
.RadFileExplorer_MetroOrange .rfeFilterTxt
{
	border-color: #e5e5e5;
}

.DialogSeparator
{
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
    background-color: #fff;
}

div.selectedFileName
{
    border-top: solid 1px #e5e5e5;
}

.RadFileExplorer_MetroOrange .RadGrid .rgActiveRow td
{
	border-bottom: 1px solid #ff6900 !important;
	border-left: 1px solid #ff6900 !important;
}