/*Telerik RadFilter MetroOrange skin*/

/*sprite*/

.RadFilter_MetroOrange .rfOper:hover,
.RadFilter_MetroOrange .rfField:hover,
.RadFilter_MetroOrange .rfExp:hover,
.RadFilter_MetroOrange .rfOper:focus,
.RadFilter_MetroOrange .rfField:focus,
.RadFilter_MetroOrange .rfExp:focus,
.RadFilter_MetroOrange .rfOper:active,
.RadFilter_MetroOrange .rfField:active,
.RadFilter_MetroOrange .rfExp:active,
.RadFilter_MetroOrange .rfAddGr,
.RadFilter_MetroOrange .rfAddExp,
.RadFilter_MetroOrange .rfDel
{
	background-image:url('Filter/sprite.gif');
}

/*global*/

.RadFilter_MetroOrange,
.RadFilter_MetroOrange .rfText,
.RadFilter_MetroOrange .rfApply input
{
	font-size:12px;
	font-family:"segoe ui",arial,sans-serif;
}

.RadFilter_MetroOrange,
.RadFilter_MetroOrange a
{
	color:#767676;
}

/*lines*/

.RadFilter_MetroOrange .rfLines li li
{
	background-image:url('Filter/rfLine.gif');
}

.RadFilter_MetroOrange .rfLines li li .rfDiv
{
	background-image:url('Filter/rfMiddle.gif');
}

.RadFilter_MetroOrange .rfLines li li.rfLast .rfDiv
{
	background-image:url('Filter/rfLast.gif');
}

/*item elements*/

.RadFilter_MetroOrange .rfLeft,
.RadFilter_MetroOrange .rfMid,
.RadFilter_MetroOrange .rfTools,
.RadFilter_MetroOrange .rfRight
{
	height:25px;
	border-style:solid;
	border-width:1px 0;
	border-color:#e5e5e5;
	background:none #e5e5e5;
}

.RadFilter_MetroOrange .rfLeft
{
	width:3px;
	border-width:1px 0 1px 1px;
}

.RadFilter_MetroOrange .rfRight
{
	width:3px;
	border-width:1px 1px 1px 0;
}

.RadFilter_MetroOrange .rfMid,
.RadFilter_MetroOrange .rfTools
{
	background-position:0 -100px;
}

.RadFilter_MetroOrange .rfField
{
	color:#000;
}

.RadFilter_MetroOrange .rfOper:hover,
.RadFilter_MetroOrange .rfField:hover,
.RadFilter_MetroOrange .rfExp:hover,
.RadFilter_MetroOrange .rfOper:focus,
.RadFilter_MetroOrange .rfField:focus,
.RadFilter_MetroOrange .rfExp:focus,
.RadFilter_MetroOrange .rfOper:active,
.RadFilter_MetroOrange .rfField:active,
.RadFilter_MetroOrange .rfExp:active
{
	background-position:100% -71px;
	color:#882501;
}

.RadFilter_MetroOrange .rfText
{
	border-color:#e5e5e5;
}

.RadFilter_MetroOrange .rfAddExp
{
	background-position:-142px 4px;
}

.RadFilter_MetroOrange .rfAddGr
{
	background-position:-192px 4px;
}

.RadFilter_MetroOrange .rfAddGr:hover,
.RadFilter_MetroOrange .rfAddExp:hover
{
	background-color:#fff;
}


.RadFilter_MetroOrange .rfDel
{
	background-position:9px 3px;
}
.RadFilter_MetroOrange .rfDel:hover
{
	background-position:-41px 3px;
}

/*preview*/

.RadFilter_MetroOrange .rfPreview
{
	color:#767676;
}

.RadFilter_MetroOrange .rfPreview strong
{
	color:#000;
}

.RadFilter_MetroOrange .rfPreview em,
.RadFilter_MetroOrange .rfPreview .rfBr
{
	color:#4a4a4a;
}

/*apply*/

.RadFilter_MetroOrange .rfApply a
{
	border:1px solid #7e7e7e;
	padding:0;
}
.RadFilter_MetroOrange .rfApply a:hover
{
	border-color:#ff6900;
}
.RadFilter_MetroOrange .rfApply input
{
	padding:0 8px 2px;
	background:none #c6c6c6;
	color:#000;
}
.RadFilter_MetroOrange .rfApply a:hover input
{
	background-color:#ff6900;
	color:#fff;
}

/*rtl*/

.RadFilterRTL_MetroOrange .rfLines li li
{
	background-image:url('Filter/rfLine-rtl.gif');
}

.RadFilterRTL_MetroOrange .rfLines li li .rfDiv
{
	background-image:url('Filter/rfMiddle-rtl.gif');
}

.RadFilterRTL_MetroOrange .rfLines li li.rfLast .rfDiv
{
	background-image:url('Filter/rfLast-rtl.gif');
}

.RadFilterRTL_MetroOrange .rfLeft
{
	border-width:1px 1px 1px 0;
}

.RadFilterRTL_MetroOrange .rfRight
{
	border-width:1px 0 1px 1px;
}

.RadFilterRTL_MetroOrange .rfOper:hover,
.RadFilterRTL_MetroOrange .rfField:hover,
.RadFilterRTL_MetroOrange .rfExp:hover,
.RadFilterRTL_MetroOrange .rfOper:focus,
.RadFilterRTL_MetroOrange .rfField:focus,
.RadFilterRTL_MetroOrange .rfExp:focus,
.RadFilterRTL_MetroOrange .rfOper:active,
.RadFilterRTL_MetroOrange .rfField:active,
.RadFilterRTL_MetroOrange .rfExp:active
{
	background-position:-335px -68px;
	background-repeat: no-repeat;
}