/* RadFormDecorator MetroOrangeMagneta Skin */

/* CSS class for styling the decoration zone or the <html /> tag of the page */
.RadForm_MetroOrange.rfdZone
{

}

/* Decorate scrollbars */
.RadForm_MetroOrange.rfdScrollBars
{
	scrollbar-3dlight-color: #e5e5e5; 
	scrollbar-arrow-color: #000;
	scrollbar-base-color: #e5e5e5; 
	scrollbar-darkshadow-color: #e5e5e5; 
	scrollbar-face-color: #e5e5e5;
	scrollbar-highlight-color: #e5e5e5; 
	scrollbar-shadow-color: #000;
	scrollbar-track-color: #d5d4d4;
}

/* Decorate <input type="button | submit | reset" /> and <button type="button | submit | reset" /> - look if there is a secondary .rfdButton class applied to the root element */
.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton,
.RadForm_MetroOrange.rfdButton input[type="button"].rfdDecorated,
.RadForm_MetroOrange.rfdButton input[type="reset"].rfdDecorated,
.RadForm_MetroOrange.rfdButton input[type="submit"].rfdDecorated,
.RadForm_MetroOrange.rfdButton .rfdSkinnedButton button,
.RadForm_MetroOrange.rfdButton a.rfdInputDisabled.rfdSkinnedButton:hover,
.RadForm_MetroOrange.rfdButton a.rfdInputDisabled.rfdSkinnedButton:hover *
{
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #767676;
}

*html .RadForm_MetroOrange a.rfdSkinnedButton,
*html .RadForm_MetroOrange .rfdSkinnedButton button,
*html .RadForm_MetroOrange .rfdSkinnedButton input.rfdDecorated 
{
	background: #fff;
	color: #767676;
}

/*.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton *
{
    padding-left: 4px !important;
}*/

.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton,
.RadForm_MetroOrange.rfdButton a.rfdInputDisabled.rfdSkinnedButton:hover
{
    border: solid 1px #e5e5e5 !important;
}

.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton:hover
{
    border-color: #e5e5e5 !important;
} 

.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton:hover,
.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton:hover *
{
    background: #e5e5e5;
    color: #000;
}

.RadForm_MetroOrange.rfdButton a.rfdClickedButton,
.RadForm_MetroOrange.rfdButton a.rfdClickedButton:hover
{
    border-color: #ff6900 !important;
}

.RadForm_MetroOrange.rfdButton a.rfdClickedButton,
.RadForm_MetroOrange.rfdButton a.rfdClickedButton *
{
    background-color: #ff6900 !important;
    color: #fff !important;
}

.RadForm_MetroOrange.rfdButton a.rfdClickedButton.rfdInputDisabled,
.RadForm_MetroOrange.rfdButton a.rfdClickedButton.rfdInputDisabled *
{
    background-color: #fff !important;
    border-color: #e5e5e5 !important;
}

/* below are the IE6 fixes - should not be combined with the other CSS */
.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton:link,
.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton:visited
{
    _border: solid 1px #e5e5e5 !important;
    _background-color: #fff !important;
	_color: #767676 !important;
}

.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton *
{
    _background-color: #fff !important;
}

.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton:hover
{
    _border: solid 1px #e5e5e5 !important;
    _background-color: #e5e5e5 !important;
}

.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton:hover *
{
    _background-color: #ffe79c !important;
    _color: #882501 !important;
}

.RadForm_MetroOrange.rfdButton a.rfdInputDisabled:hover
{
    _border: solid 1px #e5e5e5 !important;
}

.RadForm_MetroOrange.rfdButton a.rfdInputDisabled:hover,
.RadForm_MetroOrange.rfdButton a.rfdInputDisabled:hover *
{
    _background-color: #fff !important;
}

/* OPERA width fix - do not remove (and check if it is still necessary) */
@media screen and (min-width:1px)  
{
	/* 
       the hack below fixes a strange behavior under Opera - 
       input and button have a different CSS display when in anchor tag 
    */
	.RadForm_MetroOrange.rfdButton a.rfdSkinnedButton input
	{
	    display: block;
	    float: left;
	}
}

/* Decorate <h4|5|6 /> */
.RadForm_MetroOrange.rfdHeading h4,
.RadForm_MetroOrange.rfdHeading h5,
.RadForm_MetroOrange.rfdHeading h6
{
	color: #767676;	
	border-bottom: solid 1px #767676;
	text-transform: uppercase;
}

/* Decorate <label /> */
.RadForm_MetroOrange.rfdLabel label
{	
	color: #767676;
}

/* Decorate <input type="checkbox" /> */
.RadForm_MetroOrange .rfdCheckboxUnchecked,
.RadForm_MetroOrange .rfdCheckboxChecked,
.RadForm_MetroOrange .rfdInputDisabled.rfdCheckboxUnchecked,
.RadForm_MetroOrange .rfdInputDisabled.rfdCheckboxChecked
{
	background-image: url(FormDecorator/CheckBoxSprites.gif);
}

/* Decorate <input type="radio" /> */
.RadForm_MetroOrange .rfdRadioUnchecked,
.RadForm_MetroOrange .rfdRadioChecked,
.RadForm_MetroOrange .rfdInputDisabled.rfdRadioUnchecked,
.RadForm_MetroOrange .rfdInputDisabled.rfdRadioChecked
{
	background-image: url(FormDecorator/RadioButtonSprites.png);
}

/* IE6 - we set .gif")%> image instead of .png")%> due to the lack RGBA support */
.RadForm_MetroOrange .rfdRadioUnchecked,
.RadForm_MetroOrange .rfdInputDisabled.rfdRadioUnchecked:hover,
.RadForm_MetroOrange .rfdRadioUnchecked:hover,
.RadForm_MetroOrange .rfdRadioChecked,
.RadForm_MetroOrange .rfdInputDisabled.rfdRadioChecked:hover,
.RadForm_MetroOrange .rfdRadioChecked:hover
{
    _background-image: url(FormDecorator/RadioButtonSprites.gif); /* IE6 hack */
}

/* <fieldset /> and <legend /> */

.RadForm_MetroOrange.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
.RadForm_MetroOrange.rfdFieldset fieldset legend
{
	color: #767676;
}

.RadForm_MetroOrange table.rfdRoundedWrapper:hover div.rfdRoundedInner
{
    background-color: #fff;
    border-color: #767676 !important;
}

/* this selector styles the hover of the side bars of the rounded elements */
.RadForm_MetroOrange table.rfdRoundedWrapper:hover .rfdRoundedOuter
{	
	background-color: #767676 !important;
}

/* Decorate <input type="text | password" /> and <textarea /> */
/* For all browsers except IE6 we are using attribute selectors - single or double */
.RadForm_MetroOrange.rfdTextbox input[type="text"],
.RadForm_MetroOrange.rfdTextbox input[type="password"],
.RadForm_MetroOrange.rfdTextarea textarea,
.RadForm_MetroOrange.rfdTextarea textarea[disabled]:hover,
.RadForm_MetroOrange.rfdTextbox input[disabled][type="text"]:hover,
.RadForm_MetroOrange.rfdTextbox input[disabled][type="password"]:hover
{
    border: solid 1px #e5e5e5;
    background-color: #fff;
}


.RadForm_MetroOrange.rfdTextbox .rfdDecorated:hover,
.RadForm_MetroOrange.rfdTextbox .rfdDecorated:hover,
.RadForm_MetroOrange.rfdTextarea textarea:hover
{
    border: solid 1px #767676;
}

.RadForm_MetroOrange.rfdTextbox .rfdDecorated:focus,
.RadForm_MetroOrange.rfdTextbox .rfdDecorated:focus,
.RadForm_MetroOrange.rfdTextarea textarea:focus,
.RadForm_MetroOrange.rfdTextbox .rfdDecorated:active,
.RadForm_MetroOrange.rfdTextbox .rfdDecorated:active,
.RadForm_MetroOrange.rfdTextarea textarea:active
{
    border: solid 1px #ff6900;
}

/* Decorate <fieldset /> and <legend /> */
.RadForm_MetroOrange.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
.RadForm_MetroOrange.rfdFieldset fieldset.rfdFieldset legend
{
	color: #767676;
}

.RadForm_MetroOrange.rfdFieldset table.rfdRoundedWrapper_fieldset fieldset,
.RadForm_MetroOrange.rfdFieldset fieldset
{	
	border: solid 1px #e5e5e5;
}

/* Because of a glitch in IE the following 2 CSS classes must be declared separately for correct parsing of the textarea class in IE6*/
.RadForm_MetroOrange table.rfdRoundedWrapper input,
.RadForm_MetroOrange table.rfdRoundedWrapper textarea,
.RadForm_MetroOrange input.rfdInput, 
.RadForm_MetroOrange textarea.rfdTextarea
{
	border: solid 1px #e5e5e5;
	background: #fff;	
	color: #767676;
}

.RadForm_MetroOrange textarea.rfdTextarea,
.RadForm_MetroOrange table.rfdRoundedWrapper textarea
{
    overflow: auto;
}

/* <select /> */
.rfdSelect_MetroOrange,
.rfdSelect_MetroOrange:hover,
.rfdSelect_MetroOrange .rfdSelectOuter,
.rfdSelect_MetroOrange:hover .rfdSelectOuter,
.rfdSelect_MetroOrange .rfdSelectArrow span,
.rfdSelectBox_MetroOrange .rfdSelect_selected,
.rfdSelectBox_MetroOrange li:hover,
.rfdSelect_MetroOrange.rfdSelectDisabled:hover,
.rfdRtl .rfdSelect_MetroOrange,
.rfdRtl .rfdSelect_MetroOrange:hover,
.rfdRtl .rfdSelect_MetroOrange .rfdSelectOuter,
.rfdRtl .rfdSelect_MetroOrange .rfdSelectOuter:hover
{
    background-image: url(FormDecorator/ComboSprites.gif);
    background-repeat: no-repeat;
    background-color: transparent;
}

.rfdSelect_MetroOrange .rfdSelectOuter,
.rfdSelect_MetroOrange.rfdSelectDisabled:hover .rfdSelectOuter
{
    color: #767676;
}

.rfdSelect_MetroOrange:hover .rfdSelectOuter
{
    color: #000;
}

/* dropdown settings */
.rfdSelectBox_MetroOrange
{
    background: #fff;
    border: solid 1px #e5e5e5;
    color: #767676;
     border-radius: 0;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.rfdSelectBox_MetroOrange li
{
    padding: 0 0 0 3px;
    background-image: none !important;
}

.rfdSelectBox_MetroOrange li:hover
{
    background-color: #e5e5e5;
    color: #000;
}

.rfdSelectBox_MetroOrange .rfdSelectBox_optgroup_label:hover
{
    background: none;
    color: #000;
}

.rfdSelectBox_MetroOrange .rfdSelect_selected
{
	background-color: #ff6900;
	color: #fff;
}

/* IE6 disabled state fix - this should not be added to the base stylesheet, but at the bottom of the skin file */
* html .RadForm_MetroOrange.rfdButton a.rfdInputDisabled:hover
{
	_background-position: 0 0;
}

* html .RadForm_MetroOrange.rfdButton a.rfdInputDisabled:hover *
{
	_background-position: right -21px;
	_color: #824703;
}

/* IE6 only settings - should be at the bottom of the file */
.RadForm_MetroOrange.rfdTextbox input.rfdIE6TextBox,
.RadForm_MetroOrange.rfdTextbox textarea.rfdIE6TextBox
{
    _border: solid 1px #e5e5e5;
    _background-color: #fff;
}

/* the styling of radiobuttons and checkboxes in Safari and Chrome is already fully achieved with CSS */
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    /* checkboxes */
    .rfdCheckbox input[type="checkbox"],
    .rfdCheckbox input[type="checkbox"][disabled]:hover
    {
        background-image: url('FormDecorator/CheckBoxSprites.gif');
    }
    
    /* radio buttons */
    .rfdRadio input[type="radio"],
    .rfdRadio input[type="radio"][disabled="disabled"]:hover
    {
        background-image: url('FormDecorator/RadioButtonSprites.png');
    }
}

/* ----------------------------------------------- Skin-specific Scrollbar Settings for WebKit ----------------------------------------------- */

/* the scrollbar face color */
.RadForm.rfdScrollBars.RadForm_MetroOrange body::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_MetroOrange body::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_MetroOrange body::-webkit-scrollbar-thumb:horizontal,
.RadForm.rfdScrollBars.RadForm_MetroOrange div::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_MetroOrange div::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_MetroOrange div::-webkit-scrollbar-thumb:horizontal
.RadForm.rfdScrollBars.RadForm_MetroOrange form::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_MetroOrange form::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_MetroOrange form::-webkit-scrollbar-thumb:horizontal
{
    background-color: #e5e5e5;
}

/* scrollbar track background color */
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-track-piece,
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-corner
{
    background-color: #d5d4d4;
}

.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-button:vertical:decrement, 
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-button:vertical:increment, 
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-button:horizontal:decrement, 
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-button:horizontal:increment, 
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-thumb:vertical, 
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-thumb:horizontal
{
    border-color: #e5e5e5 #000 #000 #e5e5e5;
}

/* increment / decrement button settings */
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-button:vertical:decrement, 
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-button:vertical:increment, 
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-button:horizontal:decrement, 
.RadForm.rfdScrollBars.RadForm_MetroOrange ::-webkit-scrollbar-button:horizontal:increment
{
    background-image: url(FormDecorator/ButtonSprites.gif);
    background-color: #e5e5e5;
}

/*GridView, FormView, DetailsView*/
.RadForm_MetroOrange.rfdGrids .rfdTable
{
    border:1px solid #e5e5e5;
    background:#fff;
    color:#c7c7c7;
    font:12px "segoe ui",arial,sans-serif;
}

.RadForm_MetroOrange.rfdGrids .rfdTable th
{
    border-bottom:1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
    background:#fff;
    color:#000;
}

.RadForm_MetroOrange.rfdGrids .rfdTable a
{
    color:#c7c7c7;
}

/* Validation Summary Control and Login Control  */

.RadForm_MetroOrange .rfdValidationSummaryControl,
.RadForm_MetroOrange .rfdLoginControl
{
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.RadForm_MetroOrange a.rfdLoginControl,
.RadForm_MetroOrange a.rfdLoginControl:active,
.RadForm_MetroOrange a.rfdLoginControl:hover,
.RadForm_MetroOrange a.rfdLoginControl:visited
{
	color: #000;
}