/*Telerik RadGrid MetroOrange Skin*/

/*global*/

.RadGrid_MetroOrange
{
	border:1px solid #e5e5e5;
	background:#fff;
	color:#000;
}

.RadGrid_MetroOrange,
.RadGrid_MetroOrange .rgMasterTable,
.RadGrid_MetroOrange .rgDetailTable,
.RadGrid_MetroOrange .rgGroupPanel table,
.RadGrid_MetroOrange .rgCommandRow table,
.RadGrid_MetroOrange .rgEditForm table,
.RadGrid_MetroOrange .rgPager table,
.GridToolTip_MetroOrange
{
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_MetroOrange .rgHeader:first-child,
.RadGrid_MetroOrange th.rgResizeCol:first-child,
.RadGrid_MetroOrange .rgFilterRow>td:first-child,
.RadGrid_MetroOrange .rgRow>td:first-child,
.RadGrid_MetroOrange .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_MetroOrange .rgAdd,
.RadGrid_MetroOrange .rgRefresh,
.RadGrid_MetroOrange .rgEdit,
.RadGrid_MetroOrange .rgDel,
.RadGrid_MetroOrange .rgFilter,
.RadGrid_MetroOrange .rgPagePrev,
.RadGrid_MetroOrange .rgPageNext,
.RadGrid_MetroOrange .rgPageFirst,
.RadGrid_MetroOrange .rgPageLast,
.RadGrid_MetroOrange .rgExpand,
.RadGrid_MetroOrange .rgCollapse,
.RadGrid_MetroOrange .rgSortAsc,
.RadGrid_MetroOrange .rgSortDesc,
.RadGrid_MetroOrange .rgUpdate,
.RadGrid_MetroOrange .rgCancel,
.RadGrid_MetroOrange .rgUngroup,
.RadGrid_MetroOrange .rgExpXLS,
.RadGrid_MetroOrange .rgExpDOC,
.RadGrid_MetroOrange .rgExpPDF,
.RadGrid_MetroOrange .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/
.RadGrid_MetroOrange .rgHeader,
.RadGrid_MetroOrange th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
}

.RadGrid_MetroOrange th.rgSorted
{
	background-color:#e5e5e5;
}

.RadGrid_MetroOrange .rgHeader,
.RadGrid_MetroOrange .rgHeader a
{
	color:#767676;
}

.RadGrid_MetroOrange th.rgSorted,
.RadGrid_MetroOrange th.rgSorted a
{
	color:#000;
}

/*rows*/

.RadGrid_MetroOrange .rgRow td,
.RadGrid_MetroOrange .rgAltRow td,
.RadGrid_MetroOrange .rgEditRow td,
.RadGrid_MetroOrange .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
}

.RadGrid_MetroOrange .rgRow td
{
	border-color:#fff #e5e5e5;
}

.RadGrid_MetroOrange .rgAltRow
{
	background:#ededed;
}

.RadGrid_MetroOrange .rgAltRow td
{
	border-color:#e5e5e5;
}

.RadGrid_MetroOrange .rgSelectedRow .rgSorted,
.RadGrid_MetroOrange .rgActiveRow .rgSorted,
.RadGrid_MetroOrange .rgHoveredRow .rgSorted,
.RadGrid_MetroOrange .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_MetroOrange .rgRow a,
.RadGrid_MetroOrange .rgAltRow a,
.RadGrid_MetroOrange tr.rgEditRow a,
.RadGrid_MetroOrange .rgFooter a,
.RadGrid_MetroOrange .rgEditForm a
{
	color:#000;
}

.RadGrid_MetroOrange .rgHoveredRow
{
	background:#e5e5e5;
}

.RadGrid_MetroOrange .rgSelectedRow
{
	color:#fff;
	background:#ff6900;
}

.RadGrid_MetroOrange .rgSelectedRow input,
.RadGrid_MetroOrange .rgSelectedRow a
{
	color:#fff;
}

.RadGrid_MetroOrange .rgActiveRow
{
	background:#fff 0 -5200px repeat-x url('Grid/sprite.gif');
	color:#000;
}

.RadGrid_MetroOrange .rgActiveRow input,
.RadGrid_MetroOrange .rgActiveRow a
{
	color:#000;
}
*+html .RadGrid_MetroOrange .rgSelectedRow .rgSorted{background-color:#ffa517}
* html .RadGrid_MetroOrange .rgSelectedRow .rgSorted{background-color:#ffa517}

*+html .RadGrid_MetroOrange .rgActiveRow .rgSorted,
*+html .RadGrid_MetroOrange .rgHoveredRow .rgSorted{background-color:#ffe79c}
* html .RadGrid_MetroOrange .rgActiveRow .rgSorted,
* html .RadGrid_MetroOrange .rgHoveredRow .rgSorted{background-color:#ffe79c}

.RadGrid_MetroOrange .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_MetroOrange .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_MetroOrange .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_MetroOrange .rgHoveredRow td,
.RadGrid_MetroOrange .rgHoveredRow td.rgSorted
{
	border-color:#c3c3c3;
}

.RadGrid_MetroOrange .rgActiveRow td,
.RadGrid_MetroOrange .rgActiveRow td.rgSorted,
.RadGrid_MetroOrange .rgSelectedRow td,
.RadGrid_MetroOrange .rgSelectedRow td.rgSorted
{
	border-color:#ff6900;
}

.RadGrid_MetroOrange .rgEditRow td,
.RadGrid_MetroOrange .rgEditRow td.rgSorted
{
	border-color:#616161 #c3c3c3;
}

.RadGrid_MetroOrange .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_MetroOrange .rgFooterDiv,
.RadGrid_MetroOrange .rgFooter
{
	background:#e4e4e4;
}

.RadGrid_MetroOrange .rgFooter td
{
	border-top:1px solid;
	border-color:#999 #e4e4e4;
}

/*status*/

.RadGrid_MetroOrange .rgPager .rgStatus
{
	border:1px solid;
	border-color:#e5e5e5;
	border-left-width:0;
}

.RadGrid_MetroOrange .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_MetroOrange td.rgPagerCell
{
	border:1px solid;
	border-color:#e5e5e5;
	border-right-width:0;
}

.RadGrid_MetroOrange .rgInfoPart
{
	color:#777;
}

.RadGrid_MetroOrange .rgInfoPart strong
{
	color:#000;
}

.RadGrid_MetroOrange .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_MetroOrange .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_MetroOrange .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_MetroOrange .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_MetroOrange .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_MetroOrange .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_MetroOrange .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_MetroOrange .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_MetroOrange .rgPager .rgPagerButton
{
	border-color:#ff6900;
	background:#ff6900;
	color:#fff;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_MetroOrange .rgNumPart a
{
	border:1px solid #fff;
	line-height:20px;
	color:#767676;
}

.RadGrid_MetroOrange .rgNumPart a:hover
{
	color:#000;
	background-color:#e5e5e5;
}

.RadGrid_MetroOrange .rgNumPart a.rgCurrentPage,
.RadGrid_MetroOrange .rgNumPart a.rgCurrentPage:hover
{
	border-color:#ff6900;
	background:transparent;
}

/*sorting, reordering*/

.RadGrid_MetroOrange .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_MetroOrange .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_MetroOrange,
.GridReorderBottom_MetroOrange
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_MetroOrange
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_MetroOrange .rgFilterRow td
{
	border-bottom:1px solid #e5e5e5;
}

.RadGrid_MetroOrange .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_MetroOrange .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_MetroOrange .rgFilterActive,
.RadGrid_MetroOrange .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_MetroOrange .rgFilterBox
{
	border-color:#e5e5e5;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
	height:15px;
}

/*filter context menu*/

.RadMenu_MetroOrange .rgHCMClear,
.RadMenu_MetroOrange .rgHCMFilter
{
	border-color:#7e7e7e;
	background:#ff6900;
	color:#000;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.RadMenu_MetroOrange .rgHCMClear:hover,
.RadMenu_MetroOrange .rgHCMFilter:hover
{
	border-color:#c98400;
	background-color:#ffe79c;
	color:#882501;
}

/*context menu*/

.GridContextMenu_MetroOrange .rmLeftImage
{
	background-image:url('Grid/contextMenu.gif');
}

.GridContextMenu_MetroOrange .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_MetroOrange .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_MetroOrange .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_MetroOrange .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_MetroOrange .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_MetroOrange .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_MetroOrange .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_MetroOrange .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_MetroOrange .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	background:#ff6900;
	color:#fff;
}

.RadGrid_MetroOrange .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_MetroOrange .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_MetroOrange .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_MetroOrange .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_MetroOrange .rgUngroup
{
	background-position:0 -6999px;
}

.RadGrid_MetroOrange .rgGroupItem
{
	border:1px solid #7e7e7e;
	background:#fff;
	color:#000;
}

.RadGrid_MetroOrange .rgMasterTable td.rgGroupCol,
.RadGrid_MetroOrange .rgMasterTable td.rgExpandCol
{
	border-color:#c9c9c9;
	background:#c9c9c9 none;
}

.RadGrid_MetroOrange .rgGroupHeader
{
	background:#c9c9c9;
	font-size:1.1em;
	line-height:22px;
	color:#000;
}

.RadGrid_MetroOrange .rgGroupHeader td
{
	padding-left:8px;
	padding-bottom:2px;
}

.RadGrid_MetroOrange .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_MetroOrange .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_MetroOrange .rgEditForm
{
	border-bottom:1px solid #999;
}

.RadGrid_MetroOrange .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_MetroOrange .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_MetroOrange .rgDetailTable
{
	border-color:#999;
}

/*command row*/

.RadGrid_MetroOrange .rgCommandRow
{
	background: #ff6900;
	color:#fff;
}

.RadGrid_MetroOrange .rgCommandCell
{
	border:0;
	border-bottom:1px solid #e5e5e5;
	padding:0;
}

.RadGrid_MetroOrange tfoot .rgCommandCell,
.RadGrid_MetroOrange .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #e5e5e5;
	border-bottom:0;
}

.RadGrid_MetroOrange .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_MetroOrange .rgCommandTable
{
	border:0;
}

.RadGrid_MetroOrange .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_MetroOrange input.rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_MetroOrange input.rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_MetroOrange .rgEdit
{
	margin-right:3px;
	background-position:0 -1700px;
}

.RadGrid_MetroOrange .rgDel
{
	margin-right:3px;
	background-position:0 -1750px;
}

.RadGrid_MetroOrange .rgExpXLS,
.RadGrid_MetroOrange .rgExpDOC,
.RadGrid_MetroOrange .rgExpPDF,
.RadGrid_MetroOrange .rgExpCSV
{
	background-image:url('Grid/export.gif');
}

.RadGrid_MetroOrange .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_MetroOrange .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_MetroOrange .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_MetroOrange .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_MetroOrange
{
	background:#4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_MetroOrange
{
	border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_MetroOrange
{
	border:1px solid #c98400;
	padding:3px;
	background:#ffefbd;
	color:#333;
}

/*rtl*/

.RadGridRTL_MetroOrange .rgHeader:first-child,
.RadGridRTL_MetroOrange th.rgResizeCol:first-child,
.RadGridRTL_MetroOrange .rgFilterRow>td:first-child,
.RadGridRTL_MetroOrange .rgRow>td:first-child,
.RadGridRTL_MetroOrange .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_MetroOrange .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_MetroOrange .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_MetroOrange .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_MetroOrange .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_MetroOrange .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_MetroOrange .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_MetroOrange .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_MetroOrange .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_MetroOrange .rgExpand
{
	background-position:-20px -496px;
}