/*Telerik RadInput MetroOrange Skin*/

/*global*/

.RadInput_MetroOrange,
.RadInputMgr_MetroOrange
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_MetroOrange .riTextBox,
html body .RadInputMgr_MetroOrange
{
	border-color:#e5e5e5;
	background:#fff;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_MetroOrange .riEmpty,
html body .RadInput_Empty_MetroOrange
{
	color:#777;
}

html body .RadInput_MetroOrange .riHover,
html body .RadInput_Hover_MetroOrange
{
	border-color:#767676;
}

html body .RadInput_MetroOrange .riFocused,
html body .RadInput_Focused_MetroOrange
{
	border-color:#ff6900;
}

html body .RadInput_MetroOrange .riRead,
html body .RadInput_Read_MetroOrange
{
	border-color:#b0b0b0;
}

html body .RadInput_MetroOrange .riDisabled,
html body .RadInput_Disabled_MetroOrange
{
	color:#c9c0c0;
	cursor:default;
}

html body .RadInput_MetroOrange .riError,
html body .RadInput_Error_MetroOrange
{
	border-color:#de3914;
	background:#ffe9e9 100% -298px no-repeat url('Input/sprite.gif');
	color:#de3914;
}

.RadForm.rfdTextbox .RadInput_MetroOrange .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_MetroOrange[type="text"]
{
	border-color:#de3914;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#de3914;
}

html body .RadInput_MetroOrange .riNegative,
html body .RadInput_Negative_MetroOrange
{
	color:#565656;
}

/*buttons*/

.RadInput_MetroOrange a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_MetroOrange .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_MetroOrange .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_MetroOrange .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_MetroOrange a.riUp
{
	background-position:4px -98px;
}

.RadInput_MetroOrange a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_MetroOrange a.riDown
{
	background-position:4px -199px;
}

.RadInput_MetroOrange a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_MetroOrange .riLabel
{
	color:#666;
}

/*rtl*/

html body .RadInputRTL_MetroOrange .riError,
html body .RadInputRTL_Error_MetroOrange
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_MetroOrange .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_MetroOrange[type="text"]
{
	background-position:3px -298px;
}