/*Telerik RadListView MetroOrange Skin*/

/*global*/

.RadListView_MetroOrange
{
	border:1px solid #e5e5e5;
	background:#fff;
	color:#000;
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadListView_MetroOrange .rlvA
{
	background:#ededed;
}

.RadListView_MetroOrange .rlvISel
{
	background:#ff6900;
	color:#fff;
}

/*buttons*/

.RadListView_MetroOrange .rlvBAdd,
.RadListView_MetroOrange .rlvBUpdate,
.RadListView_MetroOrange .rlvBCancel,
.RadListView_MetroOrange .rlvBDel,
.RadListView_MetroOrange .rlvBEdit
{
	background-image:url('Grid/sprite.gif');
}

.RadListView_MetroOrange .rlvBCancel,
.RadListView_MetroOrange .rlvBUpdate
{
	width:22px;
	height:22px;
}

.RadListView_MetroOrange .rlvBAdd
{
	background-position:0 -1650px;
}
.RadListView_MetroOrange .rlvBUpdate
{
	background-position:0 -1798px;
}
.RadListView_MetroOrange .rlvBCancel
{
	background-position:0 -1848px;
}
.RadListView_MetroOrange .rlvBSel
{
	background-image:url('FormDecorator/CheckBoxSprites.gif');
	background-position:-2px;
}
.RadListView_MetroOrange .rlvISel .rlvBSel
{
	background-position:-2px -422px;
}
.RadListView_MetroOrange .rlvBDel
{
	background-position:0 -1750px;
}
.RadListView_MetroOrange .rlvBEdit
{
	background-position:0 -1700px;
}

.RadListView_MetroOrange .rlvDrag
{
	background-image:url('ListView/drag.gif');
	background-position:50%;
}

/*flow*/

.RadListView_MetroOrange div.rlvI,
.RadListView_MetroOrange div.rlvA,
.RadListView_MetroOrange div.rlvIEmpty,
.RadListView_MetroOrange div.rlvIEdit
{
	border-color:#c3c3c3;
}

.RadListView_MetroOrange div.rlvISel
{
	border-color:#ca4b0c;
}

/*grid*/

.RadListView_MetroOrange tr.rlvHeader th
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	border-left:1px solid #9e9e9e;
	background:#e4e4e4;
}

.RadListView_MetroOrange tr.rlvI td,
.RadListView_MetroOrange tr.rlvA td,
.RadListView_MetroOrange tr.rlvISel td,
.RadListView_MetroOrange tr.rlvIEmpty td
{
	border:1px solid;
	border-top:0;
	border-right:0;
}

.RadListView_MetroOrange tr.rlvI td,
.RadListView_MetroOrange tr.rlvIEmpty td
{
	border-color:#fff #c3c3c3;
}

.RadListView_MetroOrange tr.rlvA td
{
	border-color:#ededed #c3c3c3;
}

.RadListView_MetroOrange tr.rlvISel td
{
	border-color:#ca4b0c #ffa517;
}

.RadListView_MetroOrange tr.rlvIEdit td
{
	border-color:#616161 #c3c3c3;
}

/*single row*/

.RadListView_MetroOrange td.rlvI,
.RadListView_MetroOrange td.rlvA,
.RadListView_MetroOrange td.rlvISel,
.RadListView_MetroOrange td.rlvIEmpty,
.RadListView_MetroOrange td.rlvIEdit
{
	border:0;
	border-right:1px solid #c3c3c3;
}

.RadListView_MetroOrange td.rlvISel
{
	border-color:#ca4b0c;
}

/*floated*/

.RadListView_MetroOrange .rlvFloated .rlvI,
.RadListView_MetroOrange .rlvFloated .rlvA,
.RadListView_MetroOrange .rlvFloated .rlvISel,
.RadListView_MetroOrange .rlvFloated .rlvIEdit
{
	border-color:#999;
}

/*edit*/

.RadListView_MetroOrange .rlvInput
{
	border-color:#616161;
	background:#fff;
	color:#000;
}