﻿/*RadNotification MetroOrangeMagneta Skin*/

.RadNotification_MetroOrange.rnShadows
{
	box-shadow: 0 0 0 #b0afaf;
	-webkit-box-shadow: 0 0 0 #b0afaf;
}

.RadNotification_MetroOrange.rnRoundedCorners
{
	border-radius: 0;
	-webkit-border-radius: 0;
}

.RadNotification_MetroOrange
{
	border: 1px solid #e5e5e5;
	background-color: #ff6900;
}

.RadNotification_MetroOrange .rnTitleBar
{
	background-color: #ff6900;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.RadNotification_MetroOrange .rnCommands a
{
	background-image: url(Notification/NotificationSprite.png);
}

.RadNotification_MetroOrange .rnTitleBar
{
}

.RadNotification_MetroOrange .rnTitleBarTitle
{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

.RadNotification_MetroOrange .rnContentWrapper
{
	color: #fff;
}

/* base overwrites */
.RadNotification_MetroOrange .rnCommands 
{
	margin: 2px 3px 0 0;
}

.RadNotification_MetroOrange .rnCommands li
{
	margin-right: 1px;
}



