.RadPanelBar_MetroOrange
{
	background-color: #ffffff;
}

.RadPanelBar_MetroOrange .rpRootGroup
{
	border-color: #e5e5e5;
}

.RadPanelBar_MetroOrange a.rpLink,
.RadPanelBar_MetroOrange div.rpHeaderTemplate,
.RadPanelBar_MetroOrange .rpTemplate
{
	color: #767676;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_MetroOrange div.rpHeaderTemplate,
.RadPanelBar_MetroOrange a.rpLink
{
	background-color: #ffffff;
	border-color: #e5e5e5;
}

/* compensate for borders */

.RadPanelBar_MetroOrange .rpOut
{
	border-color: #ffffff;
}

.RadPanelBar_MetroOrange a.rpExpanded,
.RadPanelBar_MetroOrange div.rpExpanded
{
	border-color: #ff6900;
	color: #ffffff;
	background-color: #ff6900;
}

.RadPanelBar_MetroOrange a.rpLink:hover {
	color: #000000;
}
.RadPanelBar_MetroOrange a.rpFocused,
.RadPanelBar_MetroOrange a.rpFocused:hover,
.RadPanelBar_MetroOrange div.rpFocused,
.RadPanelBar_MetroOrange a.rpSelected,
.RadPanelBar_MetroOrange a.rpSelected:hover,
.RadPanelBar_MetroOrange div.rpSelected
{
	color: #ffffff;
}

.RadPanelBar_MetroOrange a.rpLink:hover,
.RadPanelBar_MetroOrange a.rpFocused,
.RadPanelBar_MetroOrange div.rpFocused
{
	background-color: #e5e5e5;
	border-color: #e5e5e5;
}

.RadPanelBar_MetroOrange a.rpSelected,
.RadPanelBar_MetroOrange div.rpSelected,
.RadPanelBar_MetroOrange a.rpSelected:hover
{
	background-color: #ff6900;
	border-color: #ff6900;
}

div.RadPanelBar_MetroOrange a.rpLink .rpOut,
div.RadPanelBar_MetroOrange a.rpFocused .rpOut,
div.RadPanelBar_MetroOrange a.rpLink:hover .rpOut,
div.RadPanelBar_MetroOrange a.rpSelected .rpOut,
div.RadPanelBar_MetroOrange a.rpSelected:hover .rpOut
{
	padding-bottom: 1px;
	border: 0;
}

/* <disabled items> */
.RadPanelBar_MetroOrange a.rpDisabled,
.RadPanelBar_MetroOrange div.rpDisabled,
.RadPanelBar_MetroOrange a.rpDisabled:hover
{
	color: #bbbbbb;
	cursor: default;
}

.RadPanelBar_MetroOrange a.rpDisabled:hover .rpOut
{
	border-color: #ffffff;
}
/* </disabled items> */

/* <subitems> */
.RadPanelBar_MetroOrange .rpGroup
{
	background-color: #ffffff;
}

div.RadPanelBar_MetroOrange .rpGroup a.rpLink,
div.RadPanelBar_MetroOrange .rpGroup div.rpHeaderTemplate,
div.RadPanelBar_MetroOrange .rpGroup .rpTemplate
{
	color: #767676;
	background-color: transparent;
	background-image: none;
	border: 0;
	margin: 0 2px;
	padding: 1px;
}

div.RadPanelBar_MetroOrange .rpGroup a.rpLink:hover
{
	color: #000000;
	border: 1px solid #e5e5e5;
	background-color: #e5e5e5;
	padding: 0;
}

div.RadPanelBar_MetroOrange ul.rpGroup .rpFocused,
div.RadPanelBar_MetroOrange ul.rpGroup .rpSelected,
div.RadPanelBar_MetroOrange ul.rpGroup .rpSelected,
div.RadPanelBar_MetroOrange .rpGroup a.rpSelected:hover
{
	border-color: #ff6900;
	color: #ffffff;
	background-color: #ff6900;
}

/* <subitems (disabled)> */
div.RadPanelBar_MetroOrange ul.rpGroup .rpDisabled,
div.RadPanelBar_MetroOrange .rpGroup a.rpDisabled:hover
{
	color: #e5e5e5;
	text-decoration: none;
	border: 0;
	padding: 1px;
}



/* <expand arrows> */
.RadPanelBar_MetroOrange .rpExpandable span.rpExpandHandle,
.RadPanelBar_MetroOrange .rpExpanded span.rpExpandHandle
{
	background-color: transparent;
	background-image: url('../Common/Metro/Expandable.png');
	background-repeat: no-repeat;
}

.RadPanelBar_MetroOrange_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_MetroOrange .rpExpandable span.rpExpandHandle,
.RadPanelBar_MetroOrange a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -5px; }
.RadPanelBar_MetroOrange a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_MetroOrange a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -5px; }
.RadPanelBar_MetroOrange .rpExpanded span.rpExpandHandle,
.RadPanelBar_MetroOrange a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -181px; }
.RadPanelBar_MetroOrange a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_MetroOrange a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -181px; }

.RadPanelBar_MetroOrange ul.rpGroup .rpExpandable span.rpExpandHandle,
.RadPanelBar_MetroOrange .rpGroup a.rpExpandable:hover .rpNavigation span.rpExpandHandle { background-position: 0 -343px; margin: 4px 0 0 0; }
.RadPanelBar_MetroOrange .rpGroup a.rpExpandable:hover span.rpExpandHandle,
.RadPanelBar_MetroOrange .rpGroup a.rpExpandable:hover .rpNavigation span.rpExpandHandleHovered { background-position: 100% -343px; margin: 4px 0 0 0; }
.RadPanelBar_MetroOrange ul.rpGroup .rpExpanded span.rpExpandHandle,
.RadPanelBar_MetroOrange .rpGroup a.rpExpanded:hover .rpNavigation span.rpExpandHandle { background-position: 0 -482px; margin: 4px 0 0 0; }
.RadPanelBar_MetroOrange .rpGroup a.rpExpanded:hover span.rpExpandHandle,
.RadPanelBar_MetroOrange .rpGroup a.rpExpanded:hover .rpNavigation span.rpExpandHandleHovered { background-position: 100% -482px; margin: 4px 0 0 0; }

.RadPanelBar_MetroOrange div.rpExpandable .rpExpandHandleHovered { background-position: 0 -5px; }
.RadPanelBar_MetroOrange div.rpExpanded .rpExpandHandleHovered { background-position: 0 -181px; }

.RadPanelBar_MetroOrange .rpGroup div.rpExpandable span.rpExpandHandleHovered { background-position: 0 -343px; margin: 4px 0 0 0; }
.RadPanelBar_MetroOrange .rpGroup div.rpExpanded span.rpExpandHandleHovered { background-position: 0 -482px; margin: 4px 0 0 0; }

/*      </expand arrows> */

