/* RadScheduler WebBlue skin */

/* common */
.RadScheduler_MetroOrange,
.RadScheduler_MetroOrange a,
.RadScheduler_MetroOrange input,
.RadScheduler_MetroOrange select,
.RadScheduler_MetroOrange textarea
{
	color: #767676;
	font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

.RadScheduler_MetroOrange textarea
{
	background: #ffffff;
}
/* header */

/* header sprites */
.RadScheduler_MetroOrange .rsHeader .rsDatePickerActivator,
.RadScheduler_MetroOrange .rsHeader .rsPrevDay,
.RadScheduler_MetroOrange .rsHeader .rsNextDay
{
	background-image: url('Scheduler/rsSprites.png');
}

div.RadScheduler_MetroOrange .rsHeader
{
	border: 1px solid #ff6900;
	color: #ffffff;
	background-color: #ff6900;
}


.RadScheduler_MetroOrange .rsHeader a,
.RadScheduler_MetroOrange .rsHeader a:hover,
.RadScheduler_MetroOrange .rsHeader em,
.RadScheduler_MetroOrange .rsHeader span
{
	color: #ffffff;
}


.RadScheduler_MetroOrange .rsTopWrap .rsHeader li,
.RadScheduler_MetroOrange .rsTopWrap .rsHeader .rsSelected {
	margin: 0 1px;
	padding: 3px 0;
	line-height: 24px;
}

.RadScheduler_MetroOrange .rsTopWrap .rsHeader ul a,
.RadScheduler_MetroOrange .rsTopWrap .rsHeader ul .rsSelected em
{
	margin: 0;
	padding: 0 9px;
	border: 1px solid #ff6900;
	font-size: 11px;
	line-height: 22px;
	text-transform: uppercase;
}

.RadScheduler_MetroOrange .rsTopWrap .rsHeader ul a:hover
{
	border-color: #ffffff;
}
.RadScheduler_MetroOrange .rsTopWrap .rsHeader ul .rsSelected em {
	border-color: #ffb480;
}


.RadScheduler_MetroOrange .rsTopWrap .rsHeader ul a span {
	padding: 0;
}



.RadScheduler_MetroOrange .rsHeader a.rsToday:hover
{
	color: #000000;
}

.RadScheduler_MetroOrange div.rsHeader .rsPrevDay,
.RadScheduler_MetroOrange div.rsHeader .rsNextDay
{
	width: 20px;
	height: 20px;
	line-height: 20px;
}

.RadScheduler_MetroOrange div.rsHeader .rsPrevDay
{
	margin: 5px 0 0 3px;
	background-position: 0 -48px;
}

.RadScheduler_MetroOrange div.rsHeader .rsNextDay
{
	margin: 5px 6px 0 0;
	background-position: -20px -48px;
}

.RadScheduler_MetroOrange div.rsHeader a.rsPrevDay:hover
{
	background-position: -70px -48px;
}

.RadScheduler_MetroOrange div.rsHeader a.rsNextDay:hover
{
	background-position: -90px -48px;
}


.RadScheduler_MetroOrange div.rsHeader h2 {
	font-size: 15px;
	text-transform: lowercase;
}

/* content */

.RadScheduler_MetroOrange .rsContent
{
	background: #ffffff;
}

/* <headers> */

.RadScheduler_MetroOrange .rsHorizontalHeaderTable
{
	color: #767676;
	background-color: #ffffff;
}

.RadScheduler_MetroOrange .rsHorizontalHeaderWrapper {
	border-color: #e5e5e5;
	background-color: #ffffff;
}

.RadScheduler_MetroOrange .rsSpacerCell,
.RadScheduler_MetroOrange .rsAllDayHeader,
.RadScheduler_MetroOrange .rsVerticalHeaderWrapper,
.RadScheduler_MetroOrange .rsVerticalHeaderTable
{
	background-color: #ffffff;
}

.RadScheduler_MetroOrange .rsVerticalHeaderTable th
{
	border-color: #e5e5e5 #e5e5e5;
	color: #767676;
}

.RadScheduler_MetroOrange .rsHorizontalHeaderTable th
{
	border-color: #e5e5e5;
	background-color: #ffffff;
}

.RadScheduler_MetroOrange .rsVerticalHeaderTable th
{
	border-color: transparent #e5e5e5;
	border-top: 0;
}

.RadScheduler_MetroOrange .rsVerticalHeaderTable .rsAlt th
{
	border-color: #e5e5e5;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_MetroOrange .rsAllDayRow
{
	background-color: #e5e5e5;
}

.RadScheduler_MetroOrange .rsSpacerCell,
.RadScheduler_MetroOrange .rsAllDayHeader,
.RadScheduler_MetroOrange .rsVerticalHeaderTable .rsAllDayHeader
{
	border-color: #e5e5e5 #e5e5e5;
	color: #767676;
}

.RadScheduler_MetroOrange .rsAllDayRow td,
.RadScheduler_MetroOrange .rsContentTable .rsAllDayRow td
{
	border-color: #e5e5e5;
	border-style: solid;
}

.RadScheduler_MetroOrange .rsVerticalHeaderTable .rsMainHeader th
{
	border-bottom-color: #e5e5e5;
}

.RadScheduler_MetroOrange .rsSpacerCell,
.RadScheduler_MetroOrange .rsContent .rsAllDayHeader
{
	border-bottom-color: #e5e5e5;
}

/* </all-day-row> */

.RadScheduler_MetroOrange .rsContent,
.RadScheduler_MetroOrange .rsTopWrap .rsFooter
{
	border: 1px solid #e5e5e5;
	border-top: 0;
}

.RadScheduler_MetroOrange .rsContentTable td
{
	border-color: #e5e5e5;
	border-bottom-style: dotted;
}

.RadScheduler_MetroOrange .rsContentTable .rsAlt td
{
	border-color: #e5e5e5 #e5e5e5;
	border-bottom-style: solid;
}

.RadScheduler_MetroOrange .rsMonthView .rsOtherMonth
{
	background-color: #e5e5e5;
}

/* <appointments> */
.RadScheduler_MetroOrange .rsApt .rsArrowTop,
.RadScheduler_MetroOrange .rsApt .rsArrowBottom,
.RadScheduler_MetroOrange .rsApt .rsArrowLeft,
.RadScheduler_MetroOrange .rsApt .rsArrowRight,
.RadScheduler_MetroOrange .rsApt .rsAptDelete,
.RadScheduler_MetroOrange .rsApt .rsAptResize,
.RadScheduler_MetroOrange .rsApt .rsAptReminder,
.RadScheduler_MetroOrange .rsApt .rsAptRecurrence,
.RadScheduler_MetroOrange .rsApt .rsAptRecurrenceException
{
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

div.RadScheduler_MetroOrange .rsAptResize
{
	bottom: 0;
}

div.RadScheduler_MetroOrange .rsApt .rsAptDelete
{
	top: 4px;
	width: 22px;
}

.RadScheduler_MetroOrange .rsNonWorkHour,
.RadScheduler_MetroOrange .rsSunCol,
.RadScheduler_MetroOrange .rsSatCol
{
	background-color: #f5f5f5;
}

.RadScheduler_MetroOrange .rsAptCreate,
.RadScheduler_MetroOrange .rsMonthView .rsAptCreate,
.RadScheduler_MetroOrange .rsAptCreateRow2,
.RadScheduler_MetroOrange .rsMonthView .rsAptCreateRow2,
.RadScheduler_MetroOrange .rsAptCreateRow3,
.RadScheduler_MetroOrange .rsMonthView .rsAptCreateRow3,
.RadScheduler_MetroOrange .rsAptCreateRow4,
.RadScheduler_MetroOrange .rsMonthView .rsAptCreateRow4,
.RadScheduler_MetroOrange .rsAptCreateRow5,
.RadScheduler_MetroOrange .rsMonthView .rsAptCreateRow5
{
	background: #e5e5e5;
}

.RadScheduler_MetroOrange .rsSelectedSlot,
.RadScheduler_MetroOrange .rsMonthView .rsSelectedSlot
{
	border-color: #ff6900;
	background: #ff6900;
}

.RadScheduler_MetroOrange .rsContentTable td.rsAptCreate.rsSelectedSlot
{
	border-color: #ff6900;
	background-color: #ff6900;
}

.RadScheduler_MetroOrange .rsContentTable td.rsSelectedSlot
{
	border-color: #ff6900;
	background-color: #ff6900;
}

div.RadScheduler_MetroOrange .rsApt
{
	margin: 0;
	border: 0;
	background-color: #ffffff;
}

div.RadScheduler_MetroOrange .rsAptOut
{
	margin: 0;
	width: auto;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


div.RadScheduler_MetroOrange .rsAptContent
{
	margin: 0;
	padding: 0;
	width: auto;
	border-width: 0;
	background-image: none;
	background-color: #ffffff;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

div.RadScheduler_MetroOrange .rsAptIn,
div.RadScheduler_MetroOrange .rsAptMid
{
	margin: 0;
	padding: 0;
	width: auto;
	border-color: #e5e5e5;
	background-image: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


div.RadScheduler_MetroOrange .rsAptMid {
	border-width: 4px 0 1px;
}
div.RadScheduler_MetroOrange .rsAptIn {
	border-width: 0 1px;
}

.RadScheduler_MetroOrange .rsCategoryBlue,
.RadScheduler_MetroOrange .rsCategoryRed,
.RadScheduler_MetroOrange .rsCategoryGreen,
.RadScheduler_MetroOrange .rsCategoryOrange,
.RadScheduler_MetroOrange .rsCategoryPink,
.RadScheduler_MetroOrange .rsCategoryYellow,
.RadScheduler_MetroOrange .rsCategoryViolet,
.RadScheduler_MetroOrange .rsCategoryDarkRed,
.RadScheduler_MetroOrange .rsCategoryDarkBlue,
.RadScheduler_MetroOrange .rsCategoryDarkGreen,
.RadScheduler_MetroOrange .rsAptColor,
.RadScheduler_MetroOrange .rsCategoryBlue .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryRed .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryGreen .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryOrange .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryPink .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryYellow .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryViolet .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryDarkRed .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryDarkBlue .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryDarkGreen .rsAptOut,
.RadScheduler_MetroOrange .rsAptColor .rsAptOut
{
	border: 0;
	background: none;
}

.RadScheduler_MetroOrange .rsCategoryBlue .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryRed .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryGreen .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryOrange .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryPink .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryYellow .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryViolet .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryDarkRed .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryDarkBlue .rsAptOut,
.RadScheduler_MetroOrange .rsCategoryDarkGreen .rsAptOut,
.RadScheduler_MetroOrange .rsAptColor .rsAptOut
{
	overflow: visible;
}

.RadScheduler_MetroOrange .rsCategoryBlue .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryRed .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryGreen .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryOrange .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryPink .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryYellow .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryViolet .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryDarkRed .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryDarkBlue .rsAptMid,
.RadScheduler_MetroOrange .rsCategoryDarkGreen .rsAptMid,
.RadScheduler_MetroOrange .rsAptColor .rsAptMid
{
	background-image: none;
}

.RadScheduler_MetroOrange .rsCategoryBlue .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryRed .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryGreen .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryOrange .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryPink .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryYellow .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryViolet .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryDarkRed .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryDarkBlue .rsAptIn,
.RadScheduler_MetroOrange .rsCategoryDarkGreen .rsAptIn,
.RadScheduler_MetroOrange .rsAptColor .rsAptIn
{
	border-width: 0 1px;
	background-color: #ffffff;
	background-image: none;
}

/* </appointments> */

/* <month view> */

.RadScheduler_MetroOrange .rsMonthView .rsDateBox
{
	border-bottom: 1px solid #e5e5e5;
	background-color: #e5e5e5;
}

.RadScheduler_MetroOrange .rsMonthView .rsAptCreate .rsDateBox
{
	border-bottom: 1px solid #e5e5e5;
	background-color: #e5e5e5;
}

.RadScheduler_MetroOrange .rsMonthView .rsAptCreate
{
	background-image: none;
}

.RadScheduler_MetroOrange .rsMonthView .rsContentTable td
{
	border-color: #e5e5e5;
	border-style: solid;
}

/* </month view> */

/* <footer> */

.RadScheduler_MetroOrange div.rsFooter
{
	background-color: #ffffff;
}

.RadScheduler_MetroOrange div.rsFooter .rsFullTime
{
	background-position: 0 -248px;
	padding: 3px 0 4px 17px;
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_MetroOrange div.rsFooter a.rsFullTime:hover
{
	background-position: 0 -271px;
}

/* </footer> */

/* <inline edit form> */

.RadScheduler_MetroOrange .rsAptEditResizeHandle
{
	background-image: url('Scheduler/rsSprites.png');
}

div.RadScheduler_MetroOrange .rsAptEditFormWrapper
{
	border: 1px solid #e5e5e5;
	background-color: #e5e5e5;
}

.RadScheduler_MetroOrange .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #e5e5e5;
	background-color: #fff;
}

.RadScheduler_MetroOrange .rsAptEditFormWrapper .rsAptEditTextareaWrapper textarea
{
	background-color: #fff;
}

/* </inline edit form> */

/* <advanced edit form> */

.RadScheduler_MetroOrange .rsAdvancedEdit div.rsAdvTitle
{
	background: #e5e5e5;
}

.RadScheduler_MetroOrange .rsAdvancedEdit .rsAdvContentWrapper
{
	border: 1px solid #e5e5e5;
	background-color: #e5e5e5;
}

* html .RadScheduler_MetroOrange div.rsAdvancedModal .rsAdvContentWrapper
{
	background: #e5e5e5;
}

.RadScheduler_MetroOrange div.rsAdvancedModal div.rsAdvButtonWrapper
{
	padding: 10px 10px 13px 0;
}

.RadScheduler_MetroOrange div.rsAdvancedModal
{
	padding-bottom: 8px;
}

/* <xref input skins> */

.RadScheduler_MetroOrange .rsAdvancedEdit .rsAdvInput,
.RadScheduler_MetroOrange .rsAdvancedEdit select,
.RadScheduler_MetroOrange .rsAdvancedEdit .textareaWrapper
{
	border-color: #767676;
}

.RadScheduler_MetroOrange .rsAdvancedEdit .rsInvalid textarea,
.RadScheduler_MetroOrange .rsAdvancedEdit .rsInvalid input,
.RadScheduler_MetroOrange .rsAdvancedEdit .rsAdvTimePicker .riEmpty
{
	background-image: url('Input/sprite.gif');
}

.RadScheduler_MetroOrange .rsAdvancedEdit .textareaWrapper
{
	background: #ffffff;
}

.RadScheduler_MetroOrange .rsAdvancedEdit .rsInvalid
{
	border-color: #de3914;
	color: #5d1f00;
}
/* </xref input skins> */

.RadScheduler_MetroOrange .rsAdvancedEdit h2,
.RadScheduler_MetroOrange .rsAdvancedEdit h3
{
	color: #767676;
}

.RadScheduler_MetroOrange .rsAdvancedEdit h2
{
	border-bottom: 1px solid #e5e5e5;
}

.RadScheduler_MetroOrange .rsAdvancedEdit h2 span
{
	background: #e5e5e5;
}

.RadScheduler_MetroOrange .rsAdvancedEdit .rsAdvancedSubmitArea
{
	border-color: #e5e5e5;
}

/* </advanced edit form> */

/* <date/time picker> */

.RadScheduler_MetroOrange .rsTimePick .RadInput_MetroOrange input.riEnabled,
.RadScheduler_MetroOrange .rsTimePick .RadInput_MetroOrange input.riHover,
.RadScheduler_MetroOrange .rsTimePick .RadInput_MetroOrange input.riFocused
{
	background-image: url('Scheduler/rsSprites.png');
}

/* </date/time picker> */

/* <modal dialogs> */

.RadScheduler_MetroOrange div.rsAdvancedEdit .rsAdvTitle,
.RadScheduler_MetroOrange div.rsAdvancedModal div.rsAdvTitle,
.RadScheduler_MetroOrange div.rsModalWrapper .rsModalOuter,
.RadScheduler_MetroOrange div.rsAdvancedModal div.rsAdvContentWrapper
{
	background-color: #e5e5e5;
}

.RadScheduler_MetroOrange .rsModalBgTopLeft,
.RadScheduler_MetroOrange .rsModalBgTopRight,
.RadScheduler_MetroOrange .rsModalBgBottomLeft,
.RadScheduler_MetroOrange .rsModalBgBottomRight
{
	background-image: url('Scheduler/rsModalBg.png');
}

div.RadScheduler_MetroOrange .rsAnimating
{
	background-image: none;
}

* html .RadScheduler_MetroOrange .rsModalBgTopLeft,
* html .RadScheduler_MetroOrange .rsModalBgTopRight,
* html .RadScheduler_MetroOrange .rsModalBgBottomLeft,
* html .RadScheduler_MetroOrange .rsModalBgBottomRight
{
	background-image: none;
}

.RadScheduler_MetroOrange .rsAdvancedEdit .rsAdvTitle
{
	border: 1px solid #e5e5e5;
	border-bottom: 0;
}

.RadScheduler_MetroOrange .rsAdvancedModal .rsAdvTitle
{
	border: 0;
}

.RadScheduler_MetroOrange .rsAdvancedEdit a.rsAdvEditClose,
.RadScheduler_MetroOrange div.rsModalWrapper .rsModalOuter .rsModalWindowClose
{
	background-image: url('Scheduler/rsSprites.png');
	background-color: #e5e5e5;
	background-position: -43px -528px;
	height: 18px;
	margin-top: -23px;
	width: 28px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
}

.RadScheduler_MetroOrange .rsAdvancedEdit a.rsAdvEditClose:hover,
.RadScheduler_MetroOrange .rsModalWrapper .rsModalOuter a.rsModalWindowClose:hover
{
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}


.RadScheduler_MetroOrange .rsModalWrapper .rsModalTitle
{
	color: #767676;
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_MetroOrange .rsModalWrapper .rsModalInner
{
	border-color: #e5e5e5;
	background-color: #ffffff;
}

.RadScheduler_MetroOrange .rsModalWrapper .rsModalIcon
{
	background-image: url('Scheduler/rsSprites.png');
}

/* Inline Edit buttons + ModalDialog buttons */
.RadScheduler_MetroOrange .rsModalWrapper .rsModalInner .rsModalButtons a,
.RadScheduler_MetroOrange .rsAdvancedEdit div.rsAdvancedSubmitArea a,
.RadScheduler_MetroOrange .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	border: 1px solid #e5e5e5;
	color: #767676;
	background-color: #e5e5e5;
}

.RadScheduler_MetroOrange .rsModalWrapper .rsModalInner .rsModalButtons a:hover,
.RadScheduler_MetroOrange .rsAdvancedEdit div.rsAdvancedSubmitArea a:hover,
.RadScheduler_MetroOrange .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a:hover
{
	border: 1px solid #e5e5e5;
	color: #000000;
	background-color: #e5e5e5;
}


/* </modal dialogs> */

.RadScheduler_MetroOrange .rsBottomIndicator .rsOvertimeArrow
{
	background: transparent url('Scheduler/rsSprites.png') no-repeat -180px -31px;
}

.RadScheduler_MetroOrange .rsTopIndicator .rsOvertimeArrow
{
	background: transparent url('Scheduler/rsSprites.png') no-repeat -134px -31px;
}




.RadScheduler_MetroOrange .rsAptSelected .rsAptIn,
.RadScheduler_MetroOrange .rsAptSelected .rsAptMid,
.RadScheduler_MetroOrange .rsAptSelected .rsAptContent {
	background-image: none;
}

.RadScheduler_MetroOrange .rsApt .rsAptContent {
	background-color: #ffffff;
	background-image: none;
}