﻿.RecurrenceEditor_MetroOrange
{
	color: #767676;
	font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

/* <xref input skins> */

.RecurrenceEditor_MetroOrange .rsAdvInput,
.RecurrenceEditor_MetroOrange select
{
	border-color: #e5e5e5;
}

.RecurrenceEditor_MetroOrange .rsInvalid input,
.RecurrenceEditor_MetroOrange .rsAdvTimePicker .riEmpty
{
	background-image: url('Input/sprite.gif');
}

.RecurrenceEditor_MetroOrange .rsInvalid
{
	border-color: #de3914;
	color: #a40045;
}
/* </xref input skins> */

.RecurrenceEditor_MetroOrange h2,
.RecurrenceEditor_MetroOrange h3
{
	color: #ff6900;
}

.RecurrenceEditor_MetroOrange h2
{
	border-bottom: 1px solid #e5e5e5;
}

.RecurrenceEditor_MetroOrange h2 span
{
	background-color: #e5e5e5;
}

.RecurrenceEditor_MetroOrange .rsAdvRecurrenceFreq
{
	border-right: 1px solid #e5e5e5;
}

.RecurrenceEditor_MetroOrange ul.rsRecurrenceOptionList   /* ??? */
{
	border-right: 1px solid #e5e5e5;
}

.RecurrenceEditor_MetroOrange div.rsAdvPatternPanel
{
	border-left: 0;
}

/* <date/time picker> */

.RecurrenceEditor_MetroOrange .rsTimePick .RadInput_MetroOrange input.riEnabled,
.RecurrenceEditor_MetroOrange .rsTimePick .RadInput_MetroOrange input.riHover,
.RecurrenceEditor_MetroOrange .rsTimePick .RadInput_MetroOrange input.riFocused
{
	background-image: url('Scheduler/rsSprites.png');
}

/* </date/time picker> */