/* RadSplitter for ASP.NET AJAX - MetroOrangeMagneta Skin */

/* Borders */
.RadSplitter_MetroOrange,
.RadSplitter_MetroOrange .rspPaneTabContainer,

/* Vertical RadSplitter items */
.RadSplitter_MetroOrange .rspPane, 
.RadSplitter_MetroOrange .rspResizeBar,
.RadSplitter_MetroOrange .rspSlideContainerResize,

/* Horizontal RadSplitter items */
.RadSplitter_MetroOrange .rspPaneHorizontal,
.RadSplitter_MetroOrange .rspResizeBarHorizontal,
.RadSplitter_MetroOrange .rspSlideContainerResizeHorizontal
{
	border-color:#e5e5e5;
}

/* When ShowContentDuringLoad="false" */
.RadSplitter_MetroOrange .rspLoading
{
    background-image: url(Common/loading.gif);
}

.RadSplitter_MetroOrange .rspResizeBarOver,
.RadSplitter_MetroOrange .rspSlideContainerResizeOver
{
    border-right-color:#ff6900;
}

.RadSplitter_MetroOrange .rspResizeBarOverHorizontal,
.RadSplitter_MetroOrange .rspSlideContainerResizeOverHorizontal
{
	border-bottom-color:#ff6900;
}

/* RadSlidingPane tab */
.RadSplitter_MetroOrange .rspPaneTabContainer,
/* RadSlidingPane header */
.RadSplitter_MetroOrange .rspSlideHeader, 
/* RadSlidingPane title */
.RadSplitter_MetroOrange .rspSlideTitleContainer
{
	background-color:#ff6900;
}

/* RadSplitBar/RadSlidingPane resize elements */
.RadSplitter_MetroOrange .rspResizeBar,
.RadSplitter_MetroOrange .rspSlideContainerResize,
.RadSplitter_MetroOrange .rspResizeBarHorizontal,
.RadSplitter_MetroOrange .rspSlideContainerResizeHorizontal
{
	background-color:#e5e5e5;
}



.RadSplitter_MetroOrange .rspSlideTitleContainer,
.RadSplitter_MetroOrange .rspSlideHeaderIconWrapper
{
	background-color:#fff;
}

.RadSplitter_MetroOrange .rspResizeBarOver,
.RadSplitter_MetroOrange .rspSlideContainerResizeOver,

.RadSplitter_MetroOrange .rspResizeBarOverHorizontal,
.RadSplitter_MetroOrange .rspSlideContainerResizeOverHorizontal
{
    background-color:#ff6900;    
}

/* RadSlidingPane tab */

table.RadSplitter .rspTop .rspPaneTabContainer, table.RadSplitter .rspBottom .rspPaneTabContainer {
    border-width: 1px;
}


.RadSplitter_MetroOrange .rspPaneTabContainer
{
	border-color:#ff6900;
}

.RadSplitter_MetroOrange .rspPaneTabContainerExpanded,
.RadSplitter_MetroOrange .rspPaneTabContainerDocked
{
    background-color:#fff;
    border-color:#e5e5e5;
}

/* RadSlidingPane header elements */
.RadSplitter_MetroOrange .rspSlideTitleContainer,
.RadSplitter_MetroOrange .rspSlideHeaderIconWrapper
{
	border-bottom:solid 1px #e5e5e5;
}

/* RadSlidingPane buttons */
.RadSplitter_MetroOrange .rspSlideHeaderDockIcon,
.RadSplitter_MetroOrange .rspSlideHeaderUndockIcon,
.RadSplitter_MetroOrange .rspSlideHeaderCollapseIcon,
/* RadSplitBar buttons */
.RadSplitter_MetroOrange .rspCollapseBarExpand,
.RadSplitter_MetroOrange .rspCollapseBarCollapse,
.RadSplitter_MetroOrange .rspCollapseBarHorizontalExpand,
.RadSplitter_MetroOrange .rspCollapseBarHorizontalCollapse
{
    background-image: url(Splitter/ExpandCollapseBarsCommands.gif);
    background-repeat:no-repeat;
}

/* RadSplitBar buttons */
.RadSplitter_MetroOrange .rspCollapseBarCollapse
{	
	background-position:0 0;
}
.RadSplitter_MetroOrange .rspCollapseBarCollapseOver,
.RadSplitter_MetroOrange .rspCollapseBarCollapseOver:hover
{
    background-position:-192px 0;
    background-color:#ff6900; 
}

.RadSplitter_MetroOrange .rspCollapseBarExpand
{	
	background-position:-4px 0;
}
.RadSplitter_MetroOrange .rspCollapseBarExpandOver,
.RadSplitter_MetroOrange .rspCollapseBarExpandOver:hover
{
    background-position:-196px 0;
    background-color:#ff6900; 
}

.RadSplitter_MetroOrange .rspCollapseBarHorizontalExpand
{
    background-position:-8px -4px;
}
.RadSplitter_MetroOrange .rspCollapseBarHorizontalExpandOver,
.RadSplitter_MetroOrange .rspCollapseBarHorizontalExpandOver:hover
{
    background-position:-8px -12px;
    background-color:#ff6900; 
}

.RadSplitter_MetroOrange .rspCollapseBarHorizontalCollapse
{
    background-position:-8px 0;
}
.RadSplitter_MetroOrange .rspCollapseBarHorizontalCollapseOver,
.RadSplitter_MetroOrange .rspCollapseBarHorizontalCollapseOver:hover
{
    background-position:-8px -8px;
    background-color:#ff6900; 
}

/* RadSlidingPane buttons */
.RadSplitter_MetroOrange .rspSlideHeaderUndockIcon
{
	background-position:-50px 0;
}

.RadSplitter_MetroOrange .rspSlideHeaderDockIcon
{
	background-position:-35px 0;
}

.RadSplitter_MetroOrange .rspSlideHeaderCollapseIcon
{
	background-position:-65px 0;
}

/* RadSlidingPane title text */
table.RadSplitter_MetroOrange .rspSlideTitle,
/* RadSlidingPane tab text */
table.RadSplitter_MetroOrange .rspPaneTabText
{
	font:normal 14px "Segoe UI", Arial, Sans-serif;
	color:#fff;
}
table.RadSplitter_MetroOrange .rspSlideTitle
{	
	font-size:12px;
	color:#000;
}
.RadSplitter_MetroOrange .rspPaneTabContainerExpanded .rspPaneTabText
{
	color:#000;
}
.RadSplitter_MetroOrange .rspPaneTabContainerDocked .rspPaneTabText
{
	color:#767676;
}

/* RadSlidingPane content - this element should not be transparent as it shows above content in adjacent RadPanes */
.RadSplitter_MetroOrange .rspSlideContent
{
	background-color:#fff;
}

.RadSplitter .rspTabsContainer 
{
	background-color:#ff6900;
}