/** Tabstrip container */
.RadTabStrip_MetroOrange {}


	.RadTabStripTop_MetroOrange .rtsLevel {}
	.RadTabStripTop_MetroOrange .rtsLevel1 {
		background-color: #ff6900;
	}




/** Tabs holder */
.RadTabStrip_MetroOrange .rtsUL {
	background-color: #ffffff;
}

	.RadTabStrip_MetroOrange .rtsLevel1 .rtsUL {
		background-color: #ff6900;
	}


	.RadTabStripTop_MetroOrange .rtsLevel1 .rtsUL {padding: 5px; padding-bottom: 0}
	.RadTabStripBottom_MetroOrange .rtsLevel1 .rtsUL {padding: 5px; padding-top: 0}




/** rtsLI */
.RadTabStrip_MetroOrange .rtsLI {
	color: #767676;
	font: 12px/22px "Segoe UI", Arial, sans-serif;
}


	.RadTabStrip_MetroOrange .rtsLevel1 .rtsLI {
		color: #ffffff;
	}


	.RadTabStripTop_MetroOrange .rtsUL .rtsLI,
	.RadTabStripBottom_MetroOrange .rtsUL .rtsLI {padding: 0 0 0 1px}
	.RadTabStripTop_MetroOrange .rtsUL .rtsFirst,
	.RadTabStripBottom_MetroOrange .rtsUL .rtsFirst {padding: 0 0 0 1px}




/** rtsLink */
.RadTabStrip_MetroOrange .rtsLink {
	padding: 0 15px;
	color: #767676;
	font: 14px/22px "Segoe UI", Arial, sans-serif;
	text-transform: lowercase;
}


	.RadTabStrip_MetroOrange .rtsLink:hover {
		color: #000000;
	}


	.RadTabStrip_MetroOrange .rtsLevel1 .rtsLink {
		color: #ffffff;
		border: 1px solid #ff6900;
	}
	.RadTabStrip_MetroOrange .rtsLevel1 .rtsLink:hover {
		border-color: #ffffff;
	}


	.RadTabStripTop_MetroOrange .rtsLevel1 .rtsLink {border-bottom: 0}
	.RadTabStripBottom_MetroOrange .rtsLevel1 .rtsLink {border-top: 0}
	.RadTabStripRight_MetroOrange .rtsLevel1 .rtsLink {border-left: 0}
	.RadTabStripLeft_MetroOrange .rtsLevel1 .rtsLink {border-right: 0}




/** rtsSelected */
.RadTabStrip_MetroOrange .rtsSelected {
	color: #000000;
	background-color: #e5e5e5;
}

	.RadTabStrip_MetroOrange .rtsSelected:hover {}


	.RadTabStrip_MetroOrange .rtsLevel1 .rtsSelected {
		border-color: #ffffff;
		color: #767676;
		background-color: #ffffff;
	}
	.RadTabStrip_MetroOrange .rtsLevel1 .rtsSelected:hover {
		color: #000000;
	}


	.RadTabStripTop_MetroOrange .rtsSelected:hover {}
	.RadTabStripBottom_MetroOrange .rtsSelected:hover {}
	.RadTabStripRight_MetroOrange .rtsSelected:hover {}
	.RadTabStripLeft_MetroOrange .rtsSelected:hover {}




/** rtsDisabled */
.RadTabStrip_MetroOrange .rtsDisabled,
.RadTabStrip_MetroOrange .rtsDisabled:hover
{
	color: #cccccc;
}


	.RadTabStrip_MetroOrange .rtsLevel1 .rtsDisabled,
	.RadTabStrip_MetroOrange .rtsLevel1 .rtsDisabled:hover
	{
		border-color: #ff6900;
		color: #ffb480;
	}




/** rtsText */
.RadTabStrip_MetroOrange .rtsLevel .rtsOut,
.RadTabStrip_MetroOrange .rtsLevel .rtsIn,
.RadTabStrip_MetroOrange .rtsLevel .rtsTxt {padding: 0}




/** rtsSeparator */
.RadTabStrip_MetroOrange .rtsSeparator {}




/** Scrolling arrows */
.RadTabStrip_MetroOrange .rtsNextArrow,
.RadTabStrip_MetroOrange .rtsPrevArrow,
.RadTabStrip_MetroOrange .rtsPrevArrowDisabled,
.RadTabStrip_MetroOrange .rtsNextArrowDisabled
{
	background-image: url('TabStrip/TabStripStates.png');
}
.RadTabStrip_MetroOrange .rtsLevel .rtsNextArrow { background-position: -18px 0; }
.RadTabStrip_MetroOrange .rtsLevel .rtsPrevArrow { background-position: 0 0; }
.RadTabStrip_MetroOrange .rtsLevel .rtsNextArrow:hover { background-position: -54px 0; }
.RadTabStrip_MetroOrange .rtsLevel .rtsPrevArrow:hover { background-position: -36px 0; }
.RadTabStrip_MetroOrange .rtsLevel .rtsPrevArrowDisabled,
.RadTabStrip_MetroOrange .rtsLevel .rtsPrevArrowDisabled:hover { background-position: -72px 0; }
.RadTabStrip_MetroOrange .rtsLevel .rtsNextArrowDisabled,
.RadTabStrip_MetroOrange .rtsLevel .rtsNextArrowDisabled:hover { background-position: -90px 0; }

.RadTabStripLeft_MetroOrange .rtsLevel .rtsNextArrow,
.RadTabStripRight_MetroOrange .rtsLevel .rtsNextArrow { background-position: -18px -20px; }
.RadTabStripLeft_MetroOrange .rtsLevel .rtsPrevArrow,
.RadTabStripRight_MetroOrange .rtsLevel .rtsPrevArrow { background-position: 0 -20px; }
.RadTabStripLeft_MetroOrange .rtsLevel .rtsNextArrow:hover,
.RadTabStripRight_MetroOrange .rtsLevel .rtsNextArrow:hover  { background-position: -54px -20px; }
.RadTabStripLeft_MetroOrange .rtsLevel .rtsPrevArrow:hover,
.RadTabStripRight_MetroOrange .rtsLevel .rtsPrevArrow:hover { background-position: -36px -20px; }
.RadTabStripLeft_MetroOrange .rtsLevel .rtsPrevArrowDisabled,
.RadTabStripLeft_MetroOrange .rtsLevel .rtsPrevArrowDisabled:hover,
.RadTabStripRight_MetroOrange .rtsLevel .rtsPrevArrowDisabled,
.RadTabStripRight_MetroOrange .rtsLevel .rtsPrevArrowDisabled:hover { background-position: -72px -20px; }
.RadTabStripLeft_MetroOrange .rtsLevel .rtsNextArrowDisabled,
.RadTabStripLeft_MetroOrange .rtsLevel .rtsNextArrowDisabled:hover,
.RadTabStripRight_MetroOrange .rtsLevel .rtsNextArrowDisabled,
.RadTabStripRight_MetroOrange .rtsLevel .rtsNextArrowDisabled:hover { background-position: -90px -20px; }