.RadTagCloud_MetroOrange
{
	border: 1px dotted #e5e5e5;
}
.RadTagCloud_MetroOrange .rtcTagList .rtcTagItem
{
	color: #ff6900;
}
.RadTagCloud_MetroOrange .rtcTagList .rtcTagItem a
{
	color: #767676;
}
.RadTagCloud_MetroOrange .rtcTagList .rtcTagItem a:hover
{
	background: #e5e5e5;
	color: #000;
}

.RadTagCloud_MetroOrange .rtcTagList .rtcTagItem a:active
{
	background: #ff6900;
	color: #fff;
}

/* Loading image */
.rtcLoading.RadTagCloud_MetroOrange
{
	background-image: url(Common/loading_small.gif);
}