/* RadToolTip for ASP.NET AJAX - MetroOrangeMagneta Skin */

.RadToolTip_MetroOrange.rtLoading
{	
	background-image: url(Common/loading.gif);
	width: 100%; 
	height: 100%;
}

div.RadToolTip_MetroOrange
{
	position: absolute;
	cursor: default;
}

div.RadToolTip_MetroOrange div.rtCallout
{
	display: none;
}

div.RadToolTip_MetroOrange.rtVisibleCallout div.rtCallout
{
	display: block;
}

div.RadToolTip_MetroOrange table.rtWrapper
{
	padding: 0; 
	margin: 0;
	border-collapse: collapse;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopLeft,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopRight,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomLeft,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomRight
{
	width: 3px; 
	height: 3px; 
	line-height: 1px; 
	font-size: 1px;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomCenter,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopLeft,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopRight,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomLeft,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomRight,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomCenter,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperLeftMiddle,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperRightMiddle
{
    background-color: #ff6900;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomCenter
{
	height: 3px; 
	line-height: 0px; 
	font-size: 1px;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopCenter
{
	background-position: 0 -66px;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomCenter
{
	background-position: 0 -120px;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperLeftMiddle,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperRightMiddle
{
	font-size: 1px;
	width: 3px;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperLeftMiddle
{
	background-position: 0 0;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperRightMiddle
{
	background-position: -3px 0;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperContent
{
	font: normal 12px "Segoe UI", Arial, Sans-serif;
	height: 100%;
	background-color: #ff6900;	
	padding: 10px 0 0 0 !important;
	color: #fff;
}

div.RadToolTip_MetroOrange .rtWrapperTopCenter div.rtTitlebar
{	
	color: #fff;
	font: normal 14px "Segoe UI", Arial, Sans-serif;
	text-transform: uppercase;
	float: left;
	line-height: 22px;
}

div.RadToolTip_MetroOrange a.rtCloseButton
{
	display: block; 
	float: right;
	position: absolute;
	right: 2px;
	width: 13px; 
	height: 11px;
	font-size: 1px; 
	line-height: 1px;
	margin-top: 5px;
	margin-right: 3px;
	background-image: url(ToolTip/ToolTipSprites.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	outline: none;
}

div.RadToolTip_MetroOrange a.rtCloseButton:hover
{
	background-position: -13px 0;
}

/* RTL support begin */
div.RadToolTip_MetroOrange_rtl a.rtCloseButton,
div.RadToolTip_MetroOrange_rtl a.rtCloseButton:hover
{
	float: left ;
	text-decoration: none ;
    outline: none;
    left: 2px;
    margin-left: 1px;
    right: auto;
    margin-right: auto;
}

div.RadToolTip_MetroOrange_rtl div.rtTitlebar,
div.RadToolTip_MetroOrange_rtl table.rtWrapper td.rtWrapperTopCenter div.rtTitlebar div
{
	float: right ;
}

/* position="rtCalloutCenter" */
div.RadToolTip_MetroOrange_rtl .rtCalloutCenter
{
	right: 0;
	left: auto;
}

/* position="rtCalloutBottomRight" */
.RadToolTip_MetroOrange_rtl .rtCalloutTopLeft
{
	margin-right: -8px;
	left: 0;
}

/* position="rtCalloutBottomCenter" */
.RadToolTip_MetroOrange_rtl .rtCalloutTopCenter
{
	margin-right: 10px;
}

/* position="rtCalloutBottomLeft" */
.RadToolTip_MetroOrange_rtl .rtCalloutTopRight
{
	margin-right: 20px;
}

/* position="rtCalloutTopCenter" */
.RadToolTip_MetroOrange_rtl .rtCalloutBottomCenter
{
	margin-right: 10px ;
}

/* position="rtCalloutTopLeft" */
.RadToolTip_MetroOrange_rtl .rtCalloutBottomRight
{
	margin-right: 40px ;
}

/* position="rtCalloutTopRight" */
.RadToolTip_MetroOrange_rtl .rtCalloutBottomLeft
{
	margin-right: -20px;
	left: 0;
}

/* position="rtCalloutMiddleRight" */
.RadToolTip_MetroOrange_rtl .rtCalloutMiddleLeft
{
	margin-right: 10px;
	left: 0;
}

/* position="rtCalloutMiddleLeft" */
.RadToolTip_MetroOrange_rtl .rtCalloutMiddleRight
{
	margin-right: 1px;
}

/* RTL Shadows */
*+html div.RadToolTip_MetroOrange.RadToolTip_rtl.rtShadow .rtCalloutMiddleLeft
{
	margin-right: 10px !important;
}

div.RadToolTip_MetroOrange.RadToolTip_rtl.rtShadow a.rtCloseButton,
div.RadToolTip_MetroOrange.RadToolTip_rtl.rtShadow a.rtCloseButton:hover
{
	float: left;
    left: 4px;
    top: -2px;
    right: auto;
}

*+html div.RadToolTip_MetroOrange.RadToolTip_rtl.rtShadow a.rtCloseButton,
*+html div.RadToolTip_MetroOrange.RadToolTip_rtl.rtShadow a.rtCloseButton:hover
{
	
    left: 14px;
}

/* RTL support end */

div.RadToolTip_MetroOrange div.rtCallout
{
	position: absolute; 
	height: 11px; 
	width: 11px;
	line-height: 0px; 
	font-size: 1px;
	background-image: url(ToolTip/Callouts.gif);
	background-repeat: no-repeat;
}

/* position="rtCalloutCenter" */
div.RadToolTip_MetroOrange .rtCalloutCenter
{
	visibility: hidden;
}

/* position="rtCalloutBottomRight" */
.RadToolTip_MetroOrange .rtCalloutTopLeft
{
	margin-top: -10px; 
	margin-left: 20px;
	background-position: 0 -22px;
}

/* position="rtCalloutBottomCenter" */
.RadToolTip_MetroOrange .rtCalloutTopCenter
{
	left: 50% ;
	margin-top: -9px; 
	margin-left: -10px;
	background-position: 0 0 ;
}

/* position="rtCalloutBottomLeft" */
.RadToolTip_MetroOrange .rtCalloutTopRight
{
	left: 100% ;
	margin-top: -10px; 
	margin-left: -20px;
	background-position: 0 -11px ;
}

/* position="rtCalloutTopCenter" */
.RadToolTip_MetroOrange .rtCalloutBottomCenter
{
	top: 100% ; 
	left: 50% ;
	margin-left: -10px ; 
	margin-top: -1px ;
	background-position: 0 -55px ;
}

/* position="rtCalloutTopLeft" */
.RadToolTip_MetroOrange .rtCalloutBottomRight
{
	top: 100% ; 
	left: 100% ;
	margin-left: -40px ; 
	margin-top: -1px ;
	background-position: 0 -66px ;
}

/* position="rtCalloutTopRight" */
.RadToolTip_MetroOrange .rtCalloutBottomLeft
{
	top: 100% ;
	margin-left: 20px ; 
	margin-top: -1px ;
	background-position: 0 -77px ;
}

/* position="rtCalloutMiddleRight" */
.RadToolTip_MetroOrange .rtCalloutMiddleLeft
{
	top: 50% ;
	margin-left: -10px; 
	margin-top: -7px;
	background-position: 0 -44px ;
}

/* position="rtCalloutMiddleLeft" */
.RadToolTip_MetroOrange .rtCalloutMiddleRight
{
	left: 100% ; 
	top: 50% ;
	margin-left: -1px;
	margin-top: -10px;
	background-position: 0 -33px;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopLeft,   
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopCenter,   
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopRight,   
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperLeftMiddle,   
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperContent,   
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperRightMiddle,   
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomLeft,   
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomCenter,   
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomRight   
{
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomCenter,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomRight,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomLeft
{
    border-bottom: solid 1px #ff6900;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomRight,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperRightMiddle,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopRight
{
    border-right: solid 1px #ff6900;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopRight,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopLeft
{
    border-top: solid 1px #ff6900;
}

div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperTopLeft,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperLeftMiddle,
div.RadToolTip_MetroOrange table.rtWrapper td.rtWrapperBottomLeft
{
    border-left: solid 1px #ff6900;
}

/* overwrite shadow callouts because of the shadow depth */
div.RadToolTip_MetroOrange.rtShadow .rtCalloutTopLeft, 
div.RadToolTip_MetroOrange.rtShadow .rtCalloutTopRight
{
	margin-top:-10px;
}

div.RadToolTip_MetroOrange.rtShadow .rtCalloutTopCenter 
{
	margin-top:-9px;
}

div.RadToolTip_MetroOrange.rtShadow .rtCalloutMiddleRight
{
	margin-left:-1px;
}

div.RadToolTip_MetroOrange.rtShadow .rtCalloutMiddleLeft
{
	margin-left: -10px;
}

div.RadToolTip_MetroOrange.rtShadow .rtCalloutBottomRight, 
div.RadToolTip_MetroOrange.rtShadow .rtCalloutBottomCenter,
div.RadToolTip_MetroOrange.rtShadow .rtCalloutBottomLeft
{
	margin-top: -1px;
}

/* overwrite shadow close button position */
div.RadToolTip_MetroOrange.rtShadow a.rtCloseButton 
{
	top: 0px;
	right: -3px;
}