.RadTreeView_MetroOrange,
.RadTreeView_MetroOrange a.rtIn,
.RadTreeView_MetroOrange .rtEdit .rtIn input
{
	color: #767676;
	font: 12px/18px "Segoe UI", Arial, sans-serif;
}

.RadTreeView_MetroOrange .rtPlus, 
.RadTreeView_MetroOrange .rtMinus
{
	background-image: url('TreeView/PlusMinus.png');
}

.RadTreeView_MetroOrange .rtLI .rtPlus, 
.RadTreeView_MetroOrange .rtLI .rtPlus:hover
{ background-position: 0 0; }

.RadTreeView_MetroOrange .rtLI .rtMinus, 
.RadTreeView_MetroOrange .rtLI .rtMinus:hover
{ background-position: 0 -11px; }

.RadTreeView_MetroOrange .rtChecked,
.RadTreeView_MetroOrange .rtUnchecked,
.RadTreeView_MetroOrange .rtIndeterminate
{
	background-image: url('TreeView/TriState.png');
}

.RadTreeView_MetroOrange .rtHover .rtIn
{
	border-color: #e5e5e5;
	background-color: #e5e5e5;
}

.RadTreeView_MetroOrange .rtSelected .rtIn
{
	border-color: #ff6900;
	color: #FFFFFF;
	background-color: #ff6900;
}

.RadTreeView_MetroOrange .rtSelected .rtLoadingBefore,
.RadTreeView_MetroOrange .rtSelected .rtLoadingAfter,
.RadTreeView_MetroOrange .rtSelected .rtLoadingBelow
{
	color: #767676;
}

.RadTreeView_MetroOrange .rtLoadingIcon
{
	background-image: url('TreeView/LoadingIcon.gif');
}

.RadTreeView_MetroOrange .rtLI .rtEdit .rtIn
{
	border-color: #000000;
	background: #ffffff;
}

.RadTreeView_MetroOrange_disabled .rtIn,
.RadTreeView_MetroOrange .rtDisabled .rtIn
{
	color: #e5e5e5;
}