/* Telerik RadTreeList MetroOrange Skin */

/*global*/

.RadTreeList_MetroOrange,
.rtlCEdit div.RadTreeList_MetroOrange
{
	border-color:#e5e5e5;
	background:#fff;
	color:#000;
}

.RadTreeList_MetroOrange .rtlAdd,
.RadTreeList_MetroOrange .rtlEdit,
.RadTreeList_MetroOrange .rtlUpdate,
.RadTreeList_MetroOrange .rtlCancel,
.RadTreeList_MetroOrange .rtlDel
{
	background-image:url('Grid/sprite.gif');
}

.RadTreeList_MetroOrange .rtlTable
{
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadTreeList_MetroOrange .rtlHeader a
{
	color:#000;
}

.RadTreeList_MetroOrange .rtlHeader th
{
	border-color:#e5e5e5;
}

.RadTreeList div.rtlHeader,
.RadTreeList .rtlScroller
{
	border-color:#e5e5e5;
}

.RadTreeList_MetroOrange .rtlA
{
	background-color:#ededed;
}

.RadTreeList_MetroOrange .rtlRFooter
{
	background-color:#e4e4e4;
}

.RadTreeList_MetroOrange .rtlRFooter td
{
	border-color:#eaeaea;
}

.RadTreeList_MetroOrange .rtlREdit
{
	background-color:#ffe79c;
}

.rtlCEdit .RadTreeList_MetroOrange 
{
	border-right:1px solid;
	border-top:1px solid;
}

.RadTreeList_MetroOrange .rtlR td,
.RadTreeList_MetroOrange .rtlA td,
.RadTreeList_MetroOrange .rtlREdit td,
.RadTreeList_MetroOrange .rtlEditForm
{
	border-color:#e5e5e5;
}

.RadTreeList_MetroOrange .rtlR a,
.RadTreeList_MetroOrange .rtlA a,
.RadTreeList_MetroOrange .rtlREdit a,
.RadTreeList_MetroOrange .rtlEditForm a
{
	color:#767676;
	font-weight:800;
}

.RadTreeList_MetroOrange .rtlRSel
{
	background:#ff6900;
	color:#fff;
}

.RadTreeList_MetroOrange .rtlRSel a
{
	color:#fff;
}

.RadTreeList_MetroOrange .rtlRSel td
{
	border-color:#fff;
}

.RadTreeList_MetroOrange .rtlRActive
{
	background:#fff 0 -5200px repeat-x url('Grid/sprite.gif');
	color:#000;
}

.RadTreeList_MetroOrange .rtlRActive td
{
	border-color:#ff6900;
}

.RadTreeList_MetroOrange .rtlVBorders td.rtlL,
.RadTreeList_MetroOrange .rtlLines td.rtlL
{
	background-color:#fff;
}

.RadTreeList_MetroOrange .rtlExpand,
.RadTreeList_MetroOrange .rtlCollapse
{
	background-image:url('TreeList/sprite.gif');
}

.RadTreeList_MetroOrange .rtlExpand
{
	background-position:0 0;
}

.RadTreeList_MetroOrange .rtlCollapse
{
	background-position:0 -50px;
}

.RadTreeList_MetroOrange .rtlSortAsc,
.RadTreeList_MetroOrange .rtlSortDesc
{
	background-image:url('Grid/sprite.gif');
}

.RadTreeList_MetroOrange .rtlSortAsc
{
	background-position:3px -248px;
}

.RadTreeList_MetroOrange .rtlSortDesc
{
	background-position:3px -198px;
}

.RadTreeList_MetroOrange .rtlLines td.rtlL0
{
	background-image:url('TreeList/rtlSingle.gif');
}

.RadTreeList_MetroOrange .rtlLines td.rtlL1
{
	background-image:url('TreeList/rtlTop.gif');
}

.RadTreeList_MetroOrange .rtlLines td.rtlL2
{
	background-image:url('TreeList/rtlMiddle.gif');
}

.RadTreeList_MetroOrange .rtlLines td.rtlL3
{
	background-image:url('TreeList/rtlBottom.gif');
}

/*rtl*/

.RadTreeListRTL_MetroOrange .rtlLines td.rtlL1
{
	background-image:url('TreeList/rtlTopRTL.gif');
}

.RadTreeListRTL_MetroOrange .rtlLines td.rtlL2
{
	background-image:url('TreeList/rtlMiddleRTL.gif');
}

.RadTreeListRTL_MetroOrange .rtlLines td.rtlL3
{
	background-image:url('TreeList/rtlBottomRTL.gif');
}

/*pager*/

.RadTreeList_MetroOrange .rtlPagerCell
{
	border-color:#e5e5e5;
}

.RadTreeList_MetroOrange .rtlPager .rtlInfoPart
{
	color:#8a8a8a;
}

.RadTreeList_MetroOrange .rtlPager .rtlInfoPart strong
{
	color:#4c4e54;
}

.RadTreeList_MetroOrange .rtlPager .rtlPageFirst,
.RadTreeList_MetroOrange .rtlPager .rtlPagePrev,
.RadTreeList_MetroOrange .rtlPager .rtlPageNext,
.RadTreeList_MetroOrange .rtlPager .rtlPageLast
{
	background:transparent no-repeat url('Grid/sprite.gif');
}

.RadTreeList_MetroOrange .rtlPager .rtlPageFirst
{
	background-position:0 -550px;
}
.RadTreeList_MetroOrange .rtlPager .rtlPageFirst:hover
{
	background-position:0 -600px;
}
.RadTreeList_MetroOrange .rtlPager .rtlPagePrev
{
	background-position:0 -700px;
}
.RadTreeList_MetroOrange .rtlPager .rtlPagePrev:hover
{
	background-position:0 -750px;
}
.RadTreeList_MetroOrange .rtlPager .rtlPageNext
{
	background-position:0 -850px;
}
.RadTreeList_MetroOrange .rtlPager .rtlPageNext:hover
{
	background-position:0 -900px;
}
.RadTreeList_MetroOrange .rtlPager .rtlPageLast
{
	background-position:0 -1000px;
}
.RadTreeList_MetroOrange .rtlPager .rtlPageLast:hover
{
	background-position:0 -1050px;
}

.RadTreeList_MetroOrange .rtlPager .rtlPagerButton
{
	border-color:#ff6900;
	background:#ff6900;
	color:#fff;
	font-family:"segoe ui",arial,sans-serif;
}

.RadTreeList_MetroOrange .rtlPager .rtlNumPart a
{
	border:1px solid #fff;
	color:#767676;
}

.RadTreeList_MetroOrange .rtlPager .rtlNumPart a:hover
{
	color:#000;
	background-color:#e5e5e5;
}

.RadTreeList_MetroOrange .rtlPager .rtlNumPart a.rtlCurrentPage,
.RadTreeList_MetroOrange .rtlPager .rtlNumPart a.rtlCurrentPage:hover
{
	border-color:#ff6900;
	background:transparent;
}