/* RadUpload / WebBlue skin */

/* <general styles> */

.RadUpload_MetroOrange,
.RadUpload_MetroOrange a,
.RadUpload_MetroOrange input,
.RadUploadProgressArea_MetroOrange,
.RadUploadProgressArea_MetroOrange input
{
	font: normal 11px/10px "Segoe UI", Arial, sans-serif;
}

/* </general styles> */

/* <file inputs> */

.RadUpload_MetroOrange .ruStyled .ruFileInput
{
	border-color: #e5e5e5;
}

.RadUpload_MetroOrange .ruFakeInput
{
	border-color: #e5e5ee;
	color: #767676;
}
* html .RadUpload_MetroOrange .ruFileWrap .ruInputHover { border-color: #cccccc; }
* + html .RadUpload_MetroOrange .ruFileWrap .ruInputHover { border-color: #cccccc; }

.RadUpload_MetroOrange .ruReadOnly .ruFakeInput
{
	background: #ffffff;
}

/* </file inputs> */

/* <buttons> */

div.RadUploadSubmit,
div.RadUpload_MetroOrange .ruButton,
div.RadUploadProgressArea_MetroOrange .ruButton
{
	border: 1px solid #e5e5e5;
	color: #767676;
	background-color: #ffffff;
}

div.RadUpload_MetroOrange .ruRemove
{
	color: #767676;
	background-color: transparent;
	background-image: url('Upload/ruSprite.png');
	border: 0;
}

div.RadUpload_MetroOrange .ruInputs .ruButtonHover,
div.RadUpload_MetroOrange .ruActions .ruButtonHover,
div.RadUpload_MetroOrange .ruFileWrap .ruButtonHover,
div.RadUploadProgressArea_MetroOrange .ruActions .ruButtonHover
{
	color: #ffffff;
	background-color: #ff6900;
}

/* </buttons> */

/* <progress area> */

.RadUploadProgressArea_MetroOrange .ruProgress
{
	border-color: #e5e5e5;
	background-image: url('Upload/ruSprite.png');
	background-color: #ffffff;
}

.RadUploadProgressArea_MetroOrange .ruProgress li
{
	color: #767676;
}

.RadUploadProgressArea_MetroOrange li.ruProgressHeader
{
	color: #767676;
}

.RadUploadProgressArea_MetroOrange .ruProgress li.ruCurrentFile
{
	color: #767676;
}

.RadUploadProgressArea_MetroOrange .ruProgress li.ruCurrentFile span
{
	color: #767676;
}

.RadUploadProgressArea_MetroOrange .ruProgress .ruBar
{
	border-color: #ff6900;
}
 
.RadUploadProgressArea_MetroOrange .ruProgress .ruBar div
{
	background-image: url('Upload/ruProgress.gif');
	border-right: 1px solid #ff6900;
}

.RadUploadProgressArea_MetroOrange_rtl .ruProgress .ruBar div
{
	border-right: 0;
	border-left: 1px solid #ff6900;
	background-image: url('Upload/ruProgress.gif');
}
 
.RadUploadProgressArea_MetroOrange .ruProgress .ruActions
{
	border-top-color: #e5e5e5;
	background-color: #e5e5e5;
}

/* </progress area> */

/* <RadAsyncUpload> */

.RadUpload_MetroOrange .ruUploadInvalid
{
	background-repeat: no-repeat;
	background-position: 100% -297px;
	background-image: url('Input/sprite.gif');
}

.RadUpload_MetroOrange_rtl .ruUploadInvalid
{
	background-position: 3px -297px;
}

.RadUpload_MetroOrange span.ruFileProgressWrap
{
	background-color: #e5e5e5;
}

.RadUpload_MetroOrange span.ruFileProgress,
.RadUpload_MetroOrange span.ruProgressComplete
{
	background-color: #ff6900;
}

/* </RadAsyncUpload> */
